<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>센터회원 비밀번호 찾기 결과</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/center/center-findPwOk.css}">
</head>
<body>
<header class="header" th:replace="~{/fragment/header :: header}"></header>

<main class="find-pw-result-container">
    <h1>센터 비밀번호 찾기</h1>
    <p class="result-message">
        <span id="userName" th:text="${centerMemberName}"></span>님의 임시비밀번호를<br>이메일로 발송하였습니다
    </p>
    <div class="button-group">
        <button id="loginButton" type="button" th:onclick="|location.href='@{/center/center-login}'|">로그인 하러가기</button>
    </div>
</main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/center/center-findPw-result.js}"></script>
</body>
</html>