<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.member.MemberMapper">
<!--    회원정보를 삽입하는 insert쿼리  id는 insertMember이고 parameterType으로 AdminMemberDTO 객체가 파라미터로 전달되며
필드 속 객체에 매핑됨 -->
    <insert id="insertMember" parameterType="MemberDTO">
--      SELECT SEQ_MEMBER 구문을통해 memberNo 필드에 값을 설정함 before키워드로 insert되기전에 실행됨
        <selectKey keyProperty="memberNo" resultType="Long" order="BEFORE">
            SELECT SEQ_MEMBER.nextVal FROM DUAL
        </selectKey>
--         TBL_MEMBER 테이블에 회원정보를 삽입하는 INSERT구문
        INSERT INTO TBL_MEMBER (MEMBER_NO,MEMBER_ID,MEMBER_EMAIL,MEMBER_PW,MEMBER_NAME,MEMBER_NICKNAME,MEMBER_PHONE_NUMBER,
        MEMBER_GENDER,MEMBER_ZIPCODE,MEMBER_ADDRESS,MEMBER_DETAIL_ADDRESS,MEMBER_TWO_FACTOR_ENABLED,MEMBER_STATUS,MEMBER_LOGIN_STATUS
        ) VALUES (#{memberNo},#{memberId},#{memberEmail},#{memberPw},#{memberName},#{memberNickname},#{memberPhoneNumber}, #{memberGender},
        #{memberZipcode}, #{memberAddress}, #{memberDetailAddress},#{memberTwoFactorEnabled},#{memberStatus}, #{memberLoginStatus})
    </insert>

    <!-- memberId 조회 이 쿼리는 로그인 시 회원의 ID와 비밀번호가 일치하는지 확인한 후, 해당 회원의 고유 번호를 반환하는 데 사용됨 -->
    <select id="selectMemberNo" resultType="Long">
        SELECT MEMBER_NO
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId} AND MEMBER_PW = #{memberPw}
    </select>

    <!-- 로그인 정보 조회 이 쿼리는 로그인에 성공한 회원의 세션 정보를 조회하는 SQL 구문입니다.-->
    <select id="selectLoginInfo" resultType="MemberSessionDTO">
        SELECT
        MEMBER_NO,
        MEMBER_ID,
        MEMBER_EMAIL,
        MEMBER_NAME,
        MEMBER_NICKNAME,
        MEMBER_LOGIN_STATUS,
        MEMBER_TWO_FACTOR_ENABLED,
        MEMBER_PW
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>


    <!--멤버 닉네임 중복확인 쿼리-->
    <select id="checkNickname" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM TBL_MEMBER
        WHERE MEMBER_NICKNAME = #{memberNickname}
    </select>


    <!-- 일반 회원 이메일 중복 체크 -->
    <select id="checkMemberEmail" resultType="int">
        SELECT COUNT(*)
        FROM (
                 SELECT MEMBER_EMAIL
                 FROM TBL_MEMBER
                 WHERE MEMBER_EMAIL = #{memberEmail}
                 UNION ALL
                 SELECT CENTER_MEMBER_EMAIL
                 FROM TBL_CENTER_MEMBER
                 WHERE CENTER_MEMBER_EMAIL = #{memberEmail}
             )
    </select>

    <!-- 아이디 찾기 -->
    <select id="findMemberId" resultType="String">
        SELECT MEMBER_ID
        FROM TBL_MEMBER
        WHERE MEMBER_NAME = #{memberName}
          AND MEMBER_PHONE_NUMBER = #{memberPhoneNumber}
    </select>


<!--    비밀번호 찾기 쿼리문-->
    <select id="findMemberByNameIdEmail" resultType="MemberDTO">
        SELECT *
        FROM TBL_MEMBER
        WHERE MEMBER_NAME = #{memberName}
          AND MEMBER_ID = #{memberId}
          AND MEMBER_EMAIL = #{memberEmail}
    </select>

    <update id="updateMemberPassword">
        UPDATE TBL_MEMBER
        SET MEMBER_PW = #{memberPw}
        WHERE MEMBER_NO = #{memberNo}
    </update>


    <update id="updateAllPasswords">
        UPDATE TBL_MEMBER
        SET MEMBER_PW = #{encodedPassword}
        WHERE MEMBER_ID = #{memberId}
    </update>


    <select id="selectAllMembers" resultType="MemberDTO">
        SELECT * FROM TBL_MEMBER
    </select>
</mapper>