<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 공지사항 수정</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-notice/admin-notice-write.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/summernote-lite.css}"/>
  <script src="../../../js/admin/summernote-lite.js"></script>
  <script src="../../../js/admin/lang/summernote-ko-KR.js"></script>
</head>

<body>
  <div>
    <div class="info-title-box info-title-box-flex">
      <div class="logo-box-layout">
        <div class="logo-box">
          <img th:src="@{/img/header_logo.png}" alt="Logo">
        </div>
      </div>
      <div>
        <div class="select-name">
          <span>공지사항 수정</span>
        </div>
      </div>
    </div>
    <div class="wrap">

      <!-- 사이드 바 -->
            <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

      <div class="container">
        <div class="container-margin">

          <!-- 내용 섹션 -->
          <section class="board-info-box-layout">
            <div class="board-info-box">
              <div class="board-info-title-box" style="justify-content: left;">
                <span>공지사항 수정</span>
              </div>
              <!-- 글작성 박스 -->
              <div class="notice-write-area">
                <form th:action="@{/admin/noticeModify(noticeNo=${notice.noticeNo})}" method="post" enctype="multipart/form-data">
                  <div><input type="text" name="title" value="제목을 입력해주세요" class="title" th:value="${notice.noticeTitle}"></div>
                  <br>
                  <div>
                    <span style="margin-right: 5px;">카테고리 선택</span>
                    <select name="cate" id="cate">
                      <option value="일반" th:selected="${notice.noticeCate == '일반'}">일반</option>
                      <option value="봉사" th:selected="${notice.noticeCate == '봉사'}">봉사</option>
                      <option value="입양" th:selected="${notice.noticeCate == '입양'}">입양</option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <textarea id="summernote" name="content" class="content" th:text="${notice.noticeContent}"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="upload" class="form-label">첨부파일</label>
                    <input type="file" class="form-control" id="upload" name="files" multiple>
                  </div>

                  <!-- 기존에 첨부된 파일 목록 -->
                  <div class="existing-files mt-2">
                    <ul>
                      <li th:each="file : ${fileList}" th:id="'file-' + ${file.fileNo}">
                        <a th:href="@{${file.filePath}}" th:text="${file.fileName}" download></a>
                        <button type="button" class="btn btn-danger btn-sm"
                                th:onclick="'deleteFileByFileNo(' + ${file.fileNo} + ')'"
                        >삭제</button>
                      </li>
                    </ul>
                  </div>

                  <!-- 수정/취소 버튼 -->
                  <div class="notice-write-button-box">
                    <button class="notice-write-button">수정</button>
                    <button type="button" class="notice-cancel-button" onclick="window.location.href='/admin/noticeList'">취소</button>
                  </div>
                </form>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</body>
</html>