<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 공지사항 상세</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-notice/admin-notice-detail.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
  <div>
    <div class="info-title-box info-title-box-flex">
      <div class="logo-box-layout">
        <div class="logo-box">
          <img src="../../../img/logo.jpg">
        </div>
      </div>
      <div>
        <div class="select-name">
          <span>공지사항 상세</span>
        </div>
      </div>
    </div>
    <div class="wrap">

      <!-- 사이드 바 -->
      <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

      <div class="container">
        <div class="container-margin">

          <!-- 내용 섹션 -->
          <section class="board-info-box-layout">
            <div class="board-info-box">
              <div class="board-info-title-box" style="justify-content: left;">
                <span>공지사항 상세</span>
              </div>
              <!-- 글작성 박스 -->
              <div class="notice-write-area">
                  <div class="title"><span style="padding-right: 10px;" th:text="${notice.noticeCate}"></span><span th:text="${notice.noticeTitle}"></span></div>
                  <br>
                  <div class="content"><span th:text="${notice.noticeContent}"></span></div>

                  <!-- 수정/취소 버튼 -->
                  <div class="notice-write-button-box">
                    <button class="notice-write-button"><a href="./admin-notice-modify.html">수정</a></button>
                    <button class="deleteOneButton notice-cancel-button" th:data-notice-no="${notice.noticeNo}">삭제</button>
                  </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>
<script th:src="@{/js/admin/deleteNotice.js}"></script>
</html>