<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.mypage.MypageMapper">

    <select id="mypageProfile" parameterType="Long" resultType="MypageDTO"> <!-- DTO의 패키지 경로로 수정 -->
        SELECT
        MEMBER_NO,
        MEMBER_NAME,
        MEMBER_PHONE_NUMBER,
        MEMBER_EMAIL
        FROM
        TBL_MEMBER
        WHERE
        MEMBER_NO = #{memberNo}
    </select>


    <!--    정보수정 페이지 조회-->
    <select id="viewProfile" parameterType="Long" resultType="MypageViewProfileDTO">
        SELECT MEMBER_NAME, MEMBER_NICKNAME, MEMBER_EMAIL,MEMBER_PHONE_NUMBER,MEMBER_ZIPCODE ,MEMBER_ADDRESS ,MEMBER_DETAIL_ADDRESS, MEMBER_PW
        FROM TBL_MEMBER m
        WHERE MEMBER_NO = #{memberNo}
    </select>

<!-- 닉네임 중복 검사-->
    <select id="checkedNickname" resultType="int">
        SELECT COUNT(*)
        FROM (
                 SELECT MEMBER_NICKNAME
                 FROM TBL_MEMBER
                 WHERE MEMBER_NICKNAME = #{memberNickname}
                   AND MEMBER_NICKNAME != #{currentNickname}  -- 현재 닉네임 제외
                 UNION ALL
                 SELECT MEMBER_NICKNAME
                 FROM TBL_MEMBER
                 WHERE MEMBER_NICKNAME = #{memberNickname}
                   AND MEMBER_NICKNAME != #{currentNickname}  -- 현재 닉네임 제외
             )
    </select>

    <!-- 이메일 중복 검사-->
    <select id="checkedEmail" resultType="int">
        SELECT COUNT(*)
        FROM (
                 SELECT MEMBER_EMAIL
                 FROM TBL_MEMBER
                 WHERE MEMBER_EMAIL = #{memberEmail}
                   AND MEMBER_EMAIL != #{currentEmail}  -- 현재 이메일 제외
                 UNION ALL
                 SELECT MEMBER_EMAIL
                 FROM TBL_MEMBER
                 WHERE MEMBER_EMAIL = #{centerMemberEmail}
                   AND MEMBER_EMAIL != #{currentEmail}  -- 현재 이메일 제외
             )
    </select>

<!--    회원정보수정-->
    <update id="updateProfile" parameterType="MypageUpdateProfileDTO">
        UPDATE TBL_MEMBER
        SET
            MEMBER_NAME = #{memberName},
            MEMBER_NICKNAME = #{memberNickname},
            MEMBER_EMAIL = #{memberEmail},
            MEMBER_PHONE_NUMBER = #{memberPhoneNumber},
            MEMBER_ADDRESS = #{memberAddress},
            MEMBER_DETAIL_ADDRESS = #{memberDetailAddress},
            MEMBER_AGREE = #{memberAgree},
            MEMBER_PW = COALESCE(NULLIF(#{memberNewPw}, #{memberPw}), MEMBER_PW)
        WHERE MEMBER_NO = #{memberNo}
          AND MEMBER_PW = #{memberPw}
    </update>

<!--    입양게시글조회-->
    <select id="mypageAdoptList" resultType="MypageAdoptListDTO">
        SELECT
            A.ADOPT_TITLE,
            A.ADOPT_STATUS,
            A.ADOPT_PERIODEND
        FROM TBL_ADOPT A
                 JOIN TBL_ADOPT_REQUEST AR ON A.ADOPT_NO = AR.ADOPT_NO
        WHERE AR.MEMBER_NO = #{memberNo}
    </select>

    <select id="mypageProtectList" resultType="MypageProtectDTO">
        SELECT
            P.PROTECT_TITLE,
            P.PROTECT_STATUS,
            P.PROTECT_PERIODEND,
            PR.PROTECT_REQUEST_NO
        FROM TBL_PROTECT P
                 JOIN TBL_PROTECT_REQUEST PR ON P.PROTECT_NO = PR.PROTECT_NO
        WHERE PR.MEMBER_NO = #{memberNo}
    </select>

    <select id="mypageVolunList" resultType="MypageVolunDTO">
        SELECT
            V.VOLUN_TITLE,
            V.VOLUN_STATUS,
            V.VOLUN_PERIODEND
        FROM TBL_VOLUN V
            JOIN TBL_VOLUN_REQUEST VR ON V.VOLUN_NO = VR.VOLUN_NO
        WHERE VR.MEMBER_NO = #{memberNo}
    </select>

    <select id="mypagePostsList" resultType="MypagePostsDTO">
        SELECT
            'CAR' AS TYPE,
            C.CAR_TITLE AS TITLE,
            M.MEMBER_NICKNAME AS WRITER,
            C.CAR_REGIDATE AS REGIDATE,
            C.CAR_NO
        FROM
            TBL_CAR C
                JOIN
            TBL_MEMBER M ON C.CAR_WRITER = M.MEMBER_NO
        WHERE M.MEMBER_NO = #{memberNo}
        UNION ALL
        SELECT
            'COMMU' AS TYPE,
            CO.COMMU_TITLE AS TITLE,
            M.MEMBER_NICKNAME AS WRITER,
            CO.COMMU_REGIDATE AS REGIDATE,
            CO.COMMU_NO
        FROM
            TBL_COMMU CO
                JOIN
            TBL_MEMBER M ON CO.COMMU_WRITER = M.MEMBER_NO
        WHERE M.MEMBER_NO = #{memberNo}
        UNION ALL
        SELECT
            'REVIEW' AS TYPE,
            R.REVIEW_TITLE AS TITLE,
            M.MEMBER_NICKNAME AS WRITER,
            R.REVIEW_REGIDATE AS REGIDATE,
            R.REVIEW_NO
        FROM
            TBL_REVIEW R
                JOIN
            TBL_MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
        WHERE M.MEMBER_NO = #{memberNo}
    </select>

<!--    <select id="selectTotal" resultType="int">-->
<!--        SELECT COUNT(*) AS TOTAL_COUNT-->
<!--        FROM (-->
<!--                 SELECT-->
<!--                     'CAR' AS TYPE,-->
<!--                     C.CAR_TITLE AS TITLE,-->
<!--                     M.MEMBER_NICKNAME AS WRITER,-->
<!--                     C.CAR_REGIDATE AS REGIDATE-->
<!--                 FROM-->
<!--                     TBL_CAR C-->
<!--                         JOIN TBL_MEMBER M ON C.CAR_WRITER = M.MEMBER_NO-->
<!--                 WHERE M.MEMBER_NO = #{memberNo}-->

<!--                 UNION ALL-->

<!--                 SELECT-->
<!--                     'COMMU' AS TYPE,-->
<!--                     CO.COMMU_TITLE AS TITLE,-->
<!--                     M.MEMBER_NICKNAME AS WRITER,-->
<!--                     CO.COMMU_REGIDATE AS REGIDATE-->
<!--                 FROM-->
<!--                     TBL_COMMU CO-->
<!--                         JOIN TBL_MEMBER M ON CO.COMMU_WRITER = M.MEMBER_NO-->
<!--                 WHERE M.MEMBER_NO = #{memberNo}-->

<!--                 UNION ALL-->

<!--                 SELECT-->
<!--                     'REVIEW' AS TYPE,-->
<!--                     R.REVIEW_TITLE AS TITLE,-->
<!--                     M.MEMBER_NICKNAME AS WRITER,-->
<!--                     R.REVIEW_REGIDATE AS REGIDATE-->
<!--                 FROM-->
<!--                     TBL_REVIEW R-->
<!--                         JOIN TBL_MEMBER M ON R.MEMBER_NO = M.MEMBER_NO-->
<!--                 WHERE M.MEMBER_NO = #{memberNo}-->
<!--             ) AS SUBQUERY-->
<!--    </select>-->

<!--    <select id="selectAllPage" parameterType="Criteria" resultType="MypagePostsDTO">-->
<!--    <![CDATA[-->
<!--        SELECT TYPE, TITLE, WRITER, REGIDATE-->
<!--        FROM (-->
<!--                 SELECT-->
<!--                     'CAR' AS TYPE,-->
<!--                     C.CAR_TITLE AS TITLE,-->
<!--                     M.MEMBER_NICKNAME AS WRITER,-->
<!--                     C.CAR_REGIDATE AS REGIDATE,-->
<!--                     ROWNUM AS RNUM-->
<!--                 FROM-->
<!--                     TBL_CAR C-->
<!--                         JOIN TBL_MEMBER M ON C.CAR_WRITER = M.MEMBER_NO-->
<!--                 WHERE M.MEMBER_NO = #{memberNo}-->

<!--                 UNION ALL-->

<!--                 SELECT-->
<!--                     'COMMU' AS TYPE,-->
<!--                     CO.COMMU_TITLE AS TITLE,-->
<!--                     M.MEMBER_NICKNAME AS WRITER,-->
<!--                     CO.COMMU_REGIDATE AS REGIDATE,-->
<!--                     ROWNUM AS RNUM-->
<!--                 FROM-->
<!--                     TBL_COMMU CO-->
<!--                         JOIN TBL_MEMBER M ON CO.COMMU_WRITER = M.MEMBER_NO-->
<!--                 WHERE M.MEMBER_NO = #{memberNo}-->

<!--                 UNION ALL-->

<!--                 SELECT-->
<!--                     'REVIEW' AS TYPE,-->
<!--                     R.REVIEW_TITLE AS TITLE,-->
<!--                     M.MEMBER_NICKNAME AS WRITER,-->
<!--                     R.REVIEW_REGIDATE AS REGIDATE,-->
<!--                     ROWNUM AS RNUM-->
<!--                 FROM-->
<!--                     TBL_REVIEW R-->
<!--                         JOIN TBL_MEMBER M ON R.MEMBER_NO = M.MEMBER_NO-->
<!--                 WHERE M.MEMBER_NO = #{memberNo}-->
<!--             ) AS SUBQUERY-->
<!--        WHERE RNUM > (#{page} - 1) * #{amount} AND RNUM <= #{page} * #{amount}-->
<!--        ]]>-->
<!--</select>-->

    <!--    임시보호 신청서 상세페이지-->
    <select id="protectRequestInfo" parameterType="Long" resultType="MpProtectRequestDTO">
        SELECT
            tpr.PROTECT_REQUEST_NO,
            tpr.PROTECT_REQUEST_NAME,
            tpr.PROTECT_REQUEST_PHONE,
            tpr.PROTECT_REQUEST_PHONE_SUB,
            tpr.PROTECT_REQUEST_EMAIL,
            tpr.PROTECT_REQUEST_GENDER,
            tpr.PROTECT_REQUEST_AGE,
            tpr.PROTECT_REQUEST_ZIPCODE,
            tpr.PROTECT_REQUEST_ADDRESS,
            tpr.PROTECT_REQUEST_ADDRESS_DETAIL,
            tpr.PROTECT_REQUEST_JOB,
            tpr.PROTECT_REQUEST_MARRY,
            tpr.PROTECT_REQUEST_INFO_AGREEMENT,
            tpr.PRO_REQUEST_Q1,
            tpr.PRO_REQUEST_Q2,
            tpr.PRO_REQUEST_Q3,
            tpr.PRO_REQUEST_Q4,
            tpr.PRO_REQUEST_Q5,
            tpr.PRO_REQUEST_Q6,
            tpr.PRO_REQUEST_Q7,
            tpr.PRO_REQUEST_Q8,
            tpr.PRO_REQUEST_Q9,
            tpr.PRO_REQUEST_Q10,
            tpr.PRO_REQUEST_Q11,
            tpr.PRO_REQUEST_Q12,
            tpr.PRO_REQUEST_Q13,
            tpr.PRO_REQUEST_Q14,
            tpr.PRO_REQUEST_Q15,
            tpr.PROTECT_REQUEST_AGREEMENT,
            tpr.PROTECT_NO,
            tpr.MEMBER_NO,
            tpr.CENTER_MEMBER_NO,
            tp.PROTECT_TITLE ,
            tp.PROTECT_REGIDATE ,
            tm.MEMBER_NICKNAME ,
            tcm.CENTER_MEMBER_NAME,
            tpr.PRO_REQUEST_STATUS
        FROM TBL_PROTECT_REQUEST tpr
                 LEFT JOIN TBL_PROTECT tp ON tpr.PROTECT_NO = tp.PROTECT_NO
                 LEFT JOIN TBL_MEMBER tm ON tpr.MEMBER_NO = tm.MEMBER_NO
                 LEFT JOIN TBL_CENTER_MEMBER tcm ON tpr.CENTER_MEMBER_NO =tcm.CENTER_MEMBER_NO
        WHERE tpr.PROTECT_REQUEST_NO = #{protectRequestNo}
    </select>

<!--    임시보호 신청서 수정-->
    <update id="updateProtectRequest" parameterType="MpProtectRequestDTO">
        UPDATE TBL_PROTECT_REQUEST tpr
        SET
            tpr.PROTECT_REQUEST_NO = #{protectRequestNo},
            tpr.PROTECT_REQUEST_NAME = #{protectRequestName},
            tpr.PROTECT_REQUEST_PHONE = #{protectRequestPhone},
            tpr.PROTECT_REQUEST_PHONE_SUB = #{protectRequestPhoneSub},
            tpr.PROTECT_REQUEST_EMAIL = #{protectRequestEmail},
            tpr.PROTECT_REQUEST_GENDER = #{protectRequestGender},
            tpr.PROTECT_REQUEST_AGE = #{protectRequestAge},
            tpr.PROTECT_REQUEST_ZIPCODE = #{protectRequestZipcode},
            tpr.PROTECT_REQUEST_ADDRESS = #{protectRequestAddress},
            tpr.PROTECT_REQUEST_ADDRESS_DETAIL = #{protectRequestAddressDetail},
            tpr.PROTECT_REQUEST_JOB = #{protectRequestJob},
            tpr.PROTECT_REQUEST_MARRY = #{protectRequestMarry},
            tpr.PROTECT_REQUEST_INFO_AGREEMENT = #{protectRequestInfoAgreement},
            tpr.PRO_REQUEST_Q1 = #{proRequestQ1},
            tpr.PRO_REQUEST_Q2 = #{proRequestQ2},
            tpr.PRO_REQUEST_Q3 = #{proRequestQ3},
            tpr.PRO_REQUEST_Q4 = #{proRequestQ4},
            tpr.PRO_REQUEST_Q5 = #{proRequestQ5},
            tpr.PRO_REQUEST_Q6 = #{proRequestQ6},
            tpr.PRO_REQUEST_Q7 = #{proRequestQ7},
            tpr.PRO_REQUEST_Q8 = #{proRequestQ8},
            tpr.PRO_REQUEST_Q9 = #{proRequestQ9},
            tpr.PRO_REQUEST_Q10 = #{proRequestQ10},
            tpr.PRO_REQUEST_Q11 = #{proRequestQ11},
            tpr.PRO_REQUEST_Q12 = #{proRequestQ12},
            tpr.PRO_REQUEST_Q13 = #{proRequestQ13},
            tpr.PRO_REQUEST_Q14 = #{proRequestQ14},
            tpr.PRO_REQUEST_Q15 = #{proRequestQ15},
            tpr.PROTECT_REQUEST_AGREEMENT = #{protectRequestAgreement}
        WHERE tpr.PROTECT_REQUEST_NO = #{protectRequestNo}
    </update>


</mapper>