<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 글 수정</title>
  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/commu/commu-post-rewrite.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="commu-main">
      <!--게시글 상단-->
      <div class="comm-header">
        <div class="navcontainer">
          <ul id="navlist">
            <li><a id="current" th:href="@{/commu/filter(cate='전체')}">전체</a></li>
            <li><a th:href="@{/commu/filter(cate='인기')}">인기</a></li>
            <li><a th:href="@{/commu/filter(cate='자유')}">자유</a></li>
            <li><a th:href="@{/commu/filter(cate='봉사후기')}">봉사 후기</a></li>
            <li><a th:href="@{/commu/filter(cate='질문')}">질문</a></li>
            <li><a th:href="@{/commu/filter(cate='자랑')}">자랑</a></li>
          </ul>
        </div>
      </div>


      <!-- 커뮤니티 글 작성 -->
      <div class="protect-wirtebanner">글 수정</div>

      <br>

      <!-- 글작성 박스 -->
      <div class="protect-write-area">
        <form action="/commu/commuModifyRegi" method="post">
          <br>
          <div class="input-group">
            <!-- 카테고리 선택 -->
            <div class="category-select">
              <label for="category">카테고리:</label>
              <select id="category" name="commuCate">
                <option value="자유">자유</option>
                <option value="봉사후기">봉사후기</option>
                <option value="질문">질문</option>
                <option value="자랑">자랑</option>
              </select>
            </div>
            <br><br>
            <!-- 썸머노트 -->
            <div class="content" th:each="commu:${commuDetailList}">
                <input id="subject" name="commuTitle" class="adoptwrite-title" placeholder="제목을 입력해주세요" th:value="${commu.commuTitle}">
                <textarea id="contents" name="commuContent" th:utext="${commu.commuContent}"></textarea>
            </div>

            <!-- 등록/취소 버튼 -->
            <div class="protect-write-button-box" th:each="commu:${commuDetailList}">
              <button class="review-write-button" type="submit">등록</button>
              <button class="review-cancle-button" type="submit" onclick="Cancel()">취소</button>
              <input type="hidden" id="commuNo" name="commuNo" th:value="${commu.commuNo}">
              <input type="hidden" id="commuWriter" name="commuWriter" th:value="${commu.commuWriter}">
            </div>
        </form>
      </div>
    </div>
  </main>
</body>

<footer>
  <div class="footer-links">
    <a href="../member/term.html">이용약관</a> |
    <a href="../member/term.html">개인정보처리방침</a>
  </div>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>


<script defer th:src="@{/js/commu/commu-post-rewriter.js}"></script>

</html>