<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티 글 상세(글 작성자)</title>
  <link rel="stylesheet" th:href="@{/css/commu/commu-post-member.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <script defer th:src="@{/js/main/main.js}"></script>

</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 카풀 메인  크기 -->
    <div class="comm-main-size">
        <!--게시글 상단-->
        <div class="comm-header">
          <div class="navcontainer">
            <ul id="navlist">
              <li><a id="current" th:href="@{/commu/filter(cate='전체')}">전체</a></li>
              <li><a th:href="@{/commu/filter(cate='인기')}">인기</a></li>
              <li><a th:href="@{/commu/filter(cate='자유')}">자유</a></li>
              <li><a th:href="@{/commu/filter(cate='봉사후기')}">봉사 후기</a></li>
              <li><a th:href="@{/commu/filter(cate='질문')}">질문</a></li>
              <li><a th:href="@{/commu/filter(cate='자랑')}">자랑</a></li>
            </ul>
          </div>
        </div>

      <!-- 제목/작성자/등록일 크기 -->
      <div class="comm-detail-box1" th:each="commu : ${commuDetailList}">
        <div class="comm-detail-title" th:text="${commu.commuTitle}">
        </div>
        <div class="comm-detail-info"><span>작성자 :
                <span th:if="${commu.commuWriter % 2 != 0}" th:text="${commu.memberNickname}"></span>
                <span th:if="${commu.commuWriter % 2 == 0}" th:text="${commu.centerMemberName}"></span>
        </span>
          <span>등록일 : <span th:text="${#dates.format(commu.commuRegiDate, 'yyyy-MM-dd')}"></span></span>
        </div>
      </div>

      <!-- 글내용 크기 -->
      <div class="comm-detail-box2" th:each="commu : ${commuDetailList}">
        <div class="comm-detail-content">
          <div class="comm-detail-basicinfo">
            <div class="comm-detail-basicinfo-title"></div>
            <div th:utext="${commu.commuContent}"></div>

          </div>

        </div>
      </div>


      <br>


      <!-- 글 작성에서 수정,삭제,신고 버튼 -->
      <div class="comm-detail-box3" th:each="commu : ${commuDetailList}">
        <div>
          <!-- 작성자 ID가 일치할 때만 수정 버튼과 삭제 버튼 표시 -->
          <button class="comm-modify-button" type="button"
                  onclick="window.location.href='/commu/rewrite/${commuDetail.commuNo}'"
                  th:if="${memberNo == commu.memberNo or centerMemberNo == commu.centerMemberNo}">수정</button>
          <button class="comm-delete-button" type="button"
                  onclick="deleteAlert()"
                  th:if="${memberNo == commu.memberNo or centerMemberNo == commu.centerMemberNo}">삭제</button>
        </div>

        <!-- 작성자 ID가 일치하지 않을 때 신고 버튼 표시 -->
        <button class="comm-end-button" type="button"
                onclick="ReportAlert()"
                th:if="${memberNo != commu.memberNo and centerMemberNo != commu.centerMemberNo}">신고</button>

        <div class="commuNo" th:text="${commu.commuNo}" style="display: none;"></div>
      </div>


      <br>

      <!-- 댓글창 -->
<!--      <div class="comm-detail-box4">-->
<!--        <div th:each="comment : ${commuCommentList}">-->
<!--          <div class="comm-detail-name">-->
<!--            <span th:if="${comment.commuCommentWriter % 2 != 0}" th:text="${comment.memberNickname}"></span>-->
<!--            <span th:if="${comment.commuCommentWriter % 2 == 0}" th:text="${comment.centerMemberName}"></span>-->
<!--          </div>-->
<!--          <div class="comm-detail-comment" th:text="${comment.commuComment}"></div>-->
<!--          <div class="comm-detail-date" th:text="${#dates.format(comment.commuCommetRegiDate, 'yyyy-MM-dd')}"></div>-->
<!--        </div>-->
<!--        <br>-->
<!--      </div>-->

      <br>

      <!-- 댓글 수정/삭제/신고 -->
      <div th:with="commuNo=${commuDetailList[0]?.commuNo}">
        <div class="commu-detail-commentbox" th:each="commuComment, iterStat : ${commuCommentList}">
          <div class="commu-detail-name">
            <div class="commu-detail-name" th:text="${commuComment.commentWriterName}"></div>
            <div class="commuCommentNo" th:text="${commuComment.commuCommentNo}" style="display: none"></div>
            <div class="commu-comment-buttonBox" th:id="'commu-comment-buttonBox-' + ${iterStat.index}">
              <button class="commu-comment-button" type="button"
                      th:onclick="'modifyCommentBtnClick(' + ${iterStat.index} + ')'"
                      th:if="${(centerMemberNo != null and centerMemberNo == commuComment.commuCommentWriter)
                   or (memberNo != null and memberNo == commuComment.commuCommentWriter)}">수정</button>
             <button class="commu-comment-button" type="button"
                     th:onclick="'CommentDeleteClick(' + ${commuComment.commuCommentNo} + ', ' + ${commuNo} + ')'"
                 th:if="${(centerMemberNo != null and centerMemberNo == commuComment.commuCommentWriter)
               or (memberNo != null and memberNo == commuComment.commuCommentWriter)}">삭제</button>
              <button class="commu-comment-button" type="button"
                      th:onclick="'CommentReportClick(' + ${commuComment.commuCommentNo} + ', ' + ${commuNo} + ')'"
                      th:if="${(centerMemberNo != null or memberNo != null)
                   and (centerMemberNo != commuComment.commuCommentWriter)
                   and (memberNo != commuComment.commuCommentWriter)}">신고</button>
            </div>
          </div>

          <div class="commu-detail-comment" th:id="'commu-comment-' + ${iterStat.index}" th:text="${commuComment.commuComment}"></div>

          <!-- 댓글 수정 form 추가 -->
          <form th:action="@{/commu/commuCommentModi(commuNo=${commuNo})}" method="post"
                th:id="'commu-modifyInput-' + ${iterStat.index}" style="display:none;">
            <input type="hidden" name="commuCommentNo" th:value="${commuComment.commuCommentNo}">
            <input type="hidden" name="commuNo" th:value="${commuNo}">
            <input type="text" name="commuComment" class="commu-modify-comment" th:value="${commuComment.commuComment}">
            <button type="submit" class="commu-comment-button">등록</button>
          </form>

          <div class="commu-detail-date" th:text="${#dates.format(commuComment.commuCommetRegiDate, 'yyyy-MM-dd')}"></div>
        </div>
      </div>




      <br>


      <!-- 댓글입력 -->
        <div th:if="${memberNo != null or centerMemberNo != null}">
          <form action="/commu/commuCommentRegi" method="post" th:each="commu : ${commuDetailList}">
          <input class="comm-detail-commentregi" type="text" name="commuComment" placeholder="욕설 및 혐오감을 주는 댓글은 삼가주세요" maxlength="1000">
          <input th:value="${commu.commuNo}" style="display: none" name="commuNo">　
          <button class="comm-commentregi-button" type="submit">등록</button>
          </form>
        </div>

        <br>
      </div>
  </main>
<script defer th:src="@{/js/commu/commu-post.js}"></script>
</body>

<footer>
  <div class="footer-links">
    <a href="../member/term.html">이용약관</a> |
    <a href="../member/term.html">개인정보처리방침</a>
  </div>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>



</html>