<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기부 - 글 상세페이지</title>
    <link rel="stylesheet" th:href="@{/css/dona/donation-detail.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script type="module" defer th:src="@{/js/dona/donation-detail.js}"></script>

</head>

<body>
<script th:inline="javascript">
    const centerMemberNo = "[[${centerMemberNo}]]";
    const memberNo = "[[${memberNo}]]";
</script>

<header th:replace="~{fragment/header :: header}"></header>
<main>
    <div class="post-guest-main" th:each="donation, iterStats : ${donationViewList}">
        <section class="dona-top">
            <div class="post-guest">
                <div class="topTitle" th:text="${donation.donaTitle}"></div>
                <div id="line"></div>
                <div class="dona-view-content">

                    <!--게시판 상단 (제목, 닉네임)-->
                    <div class="notice-detail-box">
                        <div class="notice-addetail-content">
                            <div class="notice-addetail-tcontent">작성자</div>
                            <div class="notice-addetail-ttxt" th:text="${donation.centerMemberName}"></div>
                        </div>
                        <div class="notice-addetail-content">
                            <div class="notice-addetail-tcontent">작성일</div>
                            <div class="notice-addetail-ttxt" th:text="${#dates.format(donation.donaRegidate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>

                        <div class="notice-addetail-maincont" th:utext="${donation.donaContent}"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dona-bottom">
          <section class="dona-bottom-btn">
            <div class="btn-wrap">
                <div class="donaNo" th:text="${donation.donaNo}" style="display: none;"></div>
                <div class="centerMemberNo" th:text="${donation.centerMemberNo}" style="display: none;"></div>
                <button class="btn-modify" type="button" onclick="modifyClick()" th:if="${centerMemberNo == donation.centerMemberNo}">수정</button>
                <button class="btn-remove" type="button" onclick="deleteClick()" th:if="${centerMemberNo == donation.centerMemberNo}">삭제</button>
                <div class="dona-admain-btuall-complaint">
                    <a th:href="@{/dona/list}">
                        <button class="dona-admain-btu-complaint" type="button">
                            <span class="dona-admain-btu-complaint-sp">목록</span>
                        </button>
                    </a>
                </div>

            </div>

<!--            <div class="dona-admain-btuall-complaint">-->
<!--                <a th:href="@{/dona/list}">-->
<!--                    <button class="dona-admain-btu-complaint" type="button">-->
<!--                        <span class="dona-admain-btu-complaint-sp">목록</span>-->
<!--                    </button>-->
<!--                </a>-->
<!--            </div>-->
          </section>

            <!--            <div class="dona-detail-box4">-->
            <!--                <button type="button" class="dona-comment-button" th:data-id="${donation.donaNo}">수정</button>-->
            <!--                <button type="button" class="dona-comment-button" th:data-id="${donation.donaNo}">삭제</button>-->
            <!--                <button class="dona-comment-button" type="button" onclick="CommentReportClick()">신고</button>-->
            <!--            </div>-->
            <div class="reply-wrap">
                <!-- 댓글 리스트 -->
                <div class="reply-list-wrap">
                    <!-- 댓글 내용을 여기서 추가할 수 있습니다 -->
                </div>
                <th:block th:if="${session.memberNo != null || session.centerMemberNo != null}">
                    <div class="reply-wrap__box">
                        <div class="reply-content__box">
                            <div class="reply-writer" th:text="${session.memberNickname}"></div>
                            <div class="reply-writer" th:text="${session.centerMemberName}"></div>
                            <div class="reply-writer" th:text="${comment_writer_name}"></div>
                            <textarea name="replyContent" id="reply-content" cols="30" rows="10"></textarea>
                        </div>
                        <div class="reply-btn-wrap">
                            <button type="button" class="btn-reply">등록</button>
                        </div>
                    </div>
                </th:block>



            </div>

        </section>
        <input type="hidden" name="donaNo" id="donaNo" th:value="${donation.donaNo}">
    </div>

    <!--    <form th:action="@{/dona/donaCommentModi(donaNo=${donaNo})}" method="post" th:id="'dona-modifyInput-' + ${iterStats.index}" style="display:none;">-->
    <!--        <input type="hidden" name="donaCommentNo" th:value="${donationComment.donaCommentNo}">-->
    <!--        <input type="hidden" name="donaNo" th:value="${donaNo}">-->
    <!--        <input type="text" name="donaComment" class="dona-modify-comment" th:value="${donationComment.donaCommentConent}">-->
    <!--        <button type="submit" class="dona-comment-button">등록</button>-->
    <!--    </form>-->

</main>
<footer th:replace="~{/fragment/footer :: footer}"></footer>

</body>
</html>