<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기부 - 글 상세페이지</title>
  <link rel="stylesheet" th:href="@{/css/dona/donation-detail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
  <script defer th:src="@{/js/dona/donation-detail.js}"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  
<main>
  <div class="post-guest-main"  th:each="donation : ${donationViewList}">
      <div class="post-guest">
        <div class="topTitle" th:text="${donation.donaTitle}"></div>
          <div id="line"></div>
        <div class="dona-view-content">


            <!--게시판 상단 (제목, 닉네임)-->
          <div class="notice-detail-box">
            <div class="notice-addetail-content">
              <div class="notice-addetail-tcontent">작성자</div>
              <div class="notice-addetail-ttxt" th:text="${donation.centerMemberName}"></div>
            </div>
            <div class="notice-addetail-content">
              <div class="notice-addetail-tcontent">작성일</div>
              <div class="notice-addetail-ttxt" th:text="${#dates.format(donation.donaRegidate, 'yyyy-MM-dd HH:mm')}"></div></div>
            </div>

            <div class="notice-addetail-maincont"  th:text="${donation.donaContent}"></div>
          </div>
        </div>
      </div>

    <section class="dona-bottom">
      <div class="btn-wrap">
        <th:block th:if="${donaion.centerMemberNo == session.centerMemberNo}">
          <button type="button" class="btn-modify" th:data-id="${donaion.donaNo}">수정</button>
          <button type="button" class="btn-remove" th:data-id="${donaion.donaNo}">삭제</button>
        </th:block>
        <button type="button" class="btn-back">뒤로 가기</button>
      </div>

<!--      <div class="dona-button">-->
<!--        <input type="hidden" name="centerMemberNo" th:value="${session.centerMemberNo}">-->
<!--          <div th:if="${session.centerMemberNo == donation.centerMemberNo}">-->
<!--            <div class="dona-admain-btuall">-->
<!--                <button class="btn-modify" type="button">-->
<!--                  <span class="btn-modify-sp" th:data="${donaNo}">수정</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        <form id="deleteForm" method="post">-->
<!--          <input type="hidden" name="donaNo" value="${donation.donaNo}"/>-->
<!--          <div class="dona-admain-btuall-delete">-->
<!--            <button class="btn-remove" type="button" onclick="goDelete()">-->
<!--              <span class="btn-remove-sp">삭제</span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
          <div class="dona-admain-btuall-complaint">
            <button class="dona-admain-btu-complaint" type="button">
              <span class="dona-admain-btu-complaint-sp">목록</span>
            </button>
          </div>
      <!-- 댓글창 -->
      <se class="dona-detail-box4">
        <div class="dona-detail-commentbox">
          <div class="dona-detail-name">행복이</div>
          <div class="dona-detail-comment" id="dona-comment">저요</div>
          <div class="dona-detail-comment" id="dona-modifyInput" style="display:none;">
            <input class="dona-modify-comment">
            <button class="dona-comment-button" onclick="editCommentBtnClcik()">등록</button>
          </div>
          <div id="dona-comment-buttonBox">
            <button class="dona-comment-button" type="button" onclick="modifyCommentBtnClcik()">수정</button>
            <button class="dona-comment-button" type="button" onclick="CommentDeleteClick()">삭제</button>
          </div>
          <div class="dona-detail-date">2024-10-14</div>
        </div>
        <div class="dona-detail-commentbox">
          <div class="dona-detail-name">아가다</div>
          <div class="dona-detail-comment" id="dona-comment">저여!</div>
          <div class="dona-detail-comment" id="dona-modifyInput" style="display:none;">
            <input class="dona-modify-comment">
            <button class="dona-comment-button" onclick="editCommentBtnClcik()">등록</button>
          </div>
          <div id="dona-comment-buttonBox">
            <button class="dona-comment-button" type="button" onclick="modifyCommentBtnClcik()">수정</button>
            <button class="dona-comment-button" type="button" onclick="CommentDeleteClick()">삭제</button>
          </div>
          <div class="dona-detail-date">2024-10-14</div>
        </div>
    </section>
  </div>
</main>
</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>



</html>