<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기부</title>
    <link rel="stylesheet" th:href="@{/css/dona/donation-main-center.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>

<main>
    <div class="dona-main">
        <div class="center-dona-navbox">
            <nav>
                <ul class="center-dona-nav-ul">
                    <li id="donation">기부</li>
                </ul>
            </nav>
        </div>
        <div id="line"></div>

        <div class="dona">
            <!--게시글 칼럼 구분-->
            <div class="dona-container">
                <div class="dona-container-title">제목</div>
                <div class="dona-container-audate">센터명</div>
                <div class="dona-container-audate">작성일</div>
            </div>
            <!--게시글-->

            <div class="dona-ul-all" th:each="donation : ${donationList}">
                <ul class="dona-ul-main">
                    <li class="dona-title" th:text="${donation.donaTitle}"></li>
                    <li class="dona-author" th:text="${donation.centerMemberName}"></li>
                    <li class="dona-date" th:text="${#dates.format(donation.donaRegidate, 'yyyy-MM-dd')}"></li>
                </ul>
                <div class="dona-content" th:text="${donation.donaContent}" style="display: none;"></div>
                <div class="donaNo" th:text="${donation.donaNo}" style="display: none;"></div>
            </div>


            <!-- 검색 창-->
            <div class="bottom-search">
                <form method="get" name="search" action="/dona/list/search">
                    <select name="searchType" id="search-type">
                        <option value="donaTitle">제목</option>
                        <option value="donaContent">내용</option>
                        <option value="centerMemberName">센터명</option>
                    </select>
                    <span class="default">
                <input type="text" name="keyword" id="keyword" value="" placeholder="검색어를 입력하세요">
                <input type="submit" value="검색">
             </span>
                </form>
            </div>

            <!-- 검색 결과를 표시할 공간 -->
            <div id="search-results"></div>

            <div id="pagination"></div>
            <div class="dona-admain-btuall"  th:if="${centerMemberNo != null}">
                <!--          <a class="volun-write-botton" th:if="${centerMemberNo != null}">-->
                <button class="dona-admain-btu" type="button">
                    <span class="dona-admain-btu-sp">글쓰기</span>
                </button>
            </div>

        </div>
    </div>
</main>
</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script defer th:src="@{/js/dona/donation-main.js}"></script>

</html>