<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>유기견 보호소</title>
  <link rel="stylesheet" th:href="@{/css/dogmap/dogmap.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 메인페이지 목록 -->
    <div class="doghouse-navbox">
      <nav>
        <div class="doghouse-nav">
          <div id="doghouse"><a href="#">유기견 보호소</a></div>
          <div id="choice"></div>
        </div>
      </nav>
    </div>
    <!-- 보호소 목록 -->
    <div class="doghouse-main">
      <div class="doghouse-box">

        <form action="/api/dogmap" method="post">
          <button type="submit">데이터 가져오기</button>
        </form>

        <div th:if="${dogMapApiDTO != null and !#lists.isEmpty(dogMapApiDTO.row)}">
          <div class="doghouse-item" th:each="row : ${dogMapApiDTO.row}">
            <div class="doghouse-list-title">
              <div class="doghouse-name"><span th:text="${row.entrpsNm}">센터명</span></div>
              <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">
            </div>
            <div class="doghouse-list-info">
              <div class="doghouse">
                <div class="doghouse-information">
                  <span th:text="'주소 : ' + ${row.refineLotnoAddr}">주소</span>
                  <span th:text="'전화번호 : ' + ${row.entrpsTelno}">전화번호</span>
                </div>
              </div>
              <div class="doghouse-map">
                지도 보여줄거야
              </div>
            </div>
          </div>
        </div>
        <div th:if="${dogMapApiDTO == null or #lists.isEmpty(dogMapApiDTO.row)}">
          <p>데이터를 가져올 수 없습니다.</p>
        </div>
      </div>
    </div>



    <!--    <div class="doghouse-main">-->
<!--      <div class="doghouse-box">-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>아이조아요양보호소 동탄점</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 화성시 중리북길 39</span>-->
<!--                <span> 전화번호 : 0507-1375-9331</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->

<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="doghouse-item">-->
<!--          <div class="doghouse-list-title">-->
<!--            <div class="doghouse-name"><span>안다 동물보호소</span></div>-->
<!--            <img src="../../img/map1.jpg" alt="보호소 이미지" class="doghouse-image">-->
<!--          </div>-->
<!--          <div class="doghouse-list-info">-->
<!--            <div class="doghouse">-->
<!--              <div class="doghouse-information"><span>주소 : 경기 평택시 오좌동길 47-48 안다 동물보호소</span>-->
<!--                <span> 전화번호 : 0507-1333-0783</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="doghouse-map">-->
<!--              지도 보여줄거야-->
<!--            </div>-->
<!--          </div> -->
<!--        </div>-->
<!--      </div>-->
<!--      </div>-->
<!--    </div>-->
  </main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>

<script defer th:src="@{/js/dogmap/dogmap.js}"></script>

</html>