<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 회원 정보 목록</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-notebox/admin-notebox-write.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
<div>
  <div class="info-title-box info-title-box-flex">
    <div class="logo-box-layout">
      <div class="logo-box">
        <img src="../../../img/logo.jpg">
      </div>
    </div>
    <div>
      <div class="select-name">
        <span>회원 관리</span>
      </div>
    </div>
  </div>
  <div class="wrap">

    <!-- 사이드 바 -->
    <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

    <div class="container">
      <div class="container-margin">
        <!-- 내용 섹션 -->
        <div class="note-wrap">
          <div class="note-title">
            <h1>보낸 쪽지</h1>
          </div>
          <form method="get">
            <div class="note-write-wrap">
              <div class="note-write">
                <div class="note-title">
                  <input readonly class="note-board-title" name="notebTitle" type="text" th:value="${noteSend.noteboxSendTitle}" />
                </div>
                <div class="note-title note-title-sr">
                  <input readonly class="note-board-receiver" name="notebTitle" type="text" style="width: 40%" th:value="관리자" />
                  <input readonly class="note-board-sender" name="notebTitle" type="text" style="width: 40%" th:value="${noteSend.noteboxSendRname}" />
                </div>

                <div class="note-cont">
                  <textarea readonly id="note-board-content" name="notbContent" inputmode="text" th:text="${noteSend.noteboxSendContent}"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>

</html>