<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 회원 정보 목록</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-notebox/admin-notebox-write.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
  <div>
    <div class="info-title-box info-title-box-flex">
      <div class="logo-box-layout">
        <div class="logo-box">
          <img src="../../../img/logo.jpg">
        </div>
      </div>
      <div>
        <div class="select-name">
          <span>회원 관리</span>
        </div>
      </div>
    </div>
    <div class="wrap">

      <!-- 사이드 바 -->
      <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

      <div class="container">
        <div class="container-margin">
          <!-- 내용 섹션 -->
          <div class="note-wrap">
            <div class="note-title">
              <h1>쪽지 쓰기</h1>
            </div>
            <form method="get">
              <div class="note-write-wrap">
                <div class="note-write">
                  <div class="note-title">
                    <input id="note-board-title" name="notbTitle" type="text" placeholder="제목을 입력해 주세요" />
                  </div>
                  <div class="note-title">
                    <input id="note-board-title" name="notbTitle" type="text" placeholder="보내실 분의 닉네임을 입력해 주세요" />
                  </div>
                  <div class="note-cont">
                    <textarea id="note-board-content" name="notbContent" inputmode="text" placeholder="내용을 입력하세요">
                                </textarea>
                  </div>
                </div>
              </div>
              <div class="volun-admain-btuall">
                <button class="volun-admain-btu" type="button">
                  <a href="../../html/mypage/mypage-inbox.html"><span class="volun-admain-btu-sp">이전</span></a>
                </button>
                <button class="volun-admain-btu" type="button">
                  <a href="#"><span class="volun-admain-btu-sp">보내기</span></a>
                </button>
              </div>
            </form>
          </div>


          <!-- 페이지 버튼 -->
          <div class="page-button-box-layout">
            <div class="page-button-box">
              <!-- 페이지 번호 -->
              <div class="">
                <div class="page-button-margin">
                  <div>
                    <img src="/im/admin/left_icon.png" class="left-button">
                  </div>
                </div>
              </div>
              <th:block th:each="num : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage + 1)}">
                <a th:class="${(num == pageDTO.startPage) ? 'page-button-active page-button changePage' : 'page-button changePage'}"
                  th:href="${num}">
                  <span class="page-button" th:text="${num}"></span>
                </a>
                <div style="width: 2px;"></div>
              </th:block>
              <div class="">
                <div class="page-button-margin">
                  <div>
                    <img src="/im/admin/right_icon.png" class="right-button">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 페이지 버튼 끝 -->
        </div>
      </div>
    </div>
  </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>

</html>