<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 회원 정보 목록</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-notebox/admin-notebox-write.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
  <div>
    <div class="info-title-box info-title-box-flex">
      <div class="logo-box-layout">
        <div class="logo-box">
          <img th:src="@{/img/header_logo.png}" alt="Logo">
        </div>
      </div>
      <div>
        <div class="select-name">
          <span>회원 관리</span>
        </div>
      </div>
    </div>
    <div class="wrap">

      <!-- 사이드 바 -->
      <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

      <div class="container">
        <div class="container-margin">
          <!-- 내용 섹션 -->
          <div class="note-wrap">
            <div class="note-title">
              <h1>쪽지 쓰기</h1>
            </div>
            <form method="post" th:action="@{/admin/noteboxWrite}">
              <div class="note-write-wrap">
                <div class="note-write">
                  <div class="note-title">
                    <input id="note-board-title" name="title" type="text" placeholder="제목 입력" />
                  </div>
                  <div class="note-title">
                    <input id="note-board-receiver" name="receiver" type="text" placeholder="수신자 닉네임 입력" th:value="${noteSender}"/>
                  </div>
                  <div class="note-cont">
                    <textarea id="note-board-content" name="content" placeholder="내용 입력"></textarea>
                  </div>
                </div>
              </div>
              <div class="note-admin-btnall">
                <button class="note-admin-btn" type="submit">
                  <span class="note-admin-btn-sp">보내기</span>
                </button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
</html>