<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 받은 쪽지함</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-notebox/admin-notebox.css}"/>

</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img th:src="@{/img/header_logo.png}" alt="Logo">
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>받은 쪽지함</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="delete-box-layout">
                        <form class="search-box" action="/admin/searchNoteboxIn" method="get">
                            <input type="text" class="search-text" name="keyword" placeholder="검색어를 입력하세요.">
                            <button class="search-btn" type="submit">검색</button>
                            <button class="search-btn" type="submit" th:href="@{/admin/noteboxIn}">초기화</button>
                         </form>
                        <div class="delete-box">
                            <button class="deleteButton delete-button">선택 항목 삭제</button>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                            <span><a class="notebox-btn" th:href="@{/admin/noteboxIn}" th:classappend="${currentPage == 'receive'} ? 'active'">받은 쪽지함</a>
                                &emsp;&emsp;&emsp;
                                <a class="notebox-btn" th:href="@{/admin/noteboxOut}" th:classappend="${currentPage == 'send'} ? 'active'">보낸 쪽지함</a></span>
                                <span class="write-btn"><a href="/admin/noteboxWrite" >쪽지 쓰기</a></span>
                            </div>

                            <div class="info-table">
                                <!-- Header -->
                                <div class="info-row header-row">
                                    <div class="info-cell checkbox-line">
                                        <input type="checkbox" id="allSelect">
                                    </div>
                                    <div class="info-cell-cate info-cell">송신자</div>
                                    <div class="info-cell-cate info-cell">수신자</div>
                                    <div class="info-cell-title info-cell">제목</div>
                                    <div class="info-cell-content info-cell">내용</div>
                                </div>

                                <div th:each="noteReceive, iterStat : ${noteReceiveList}" class="info-row item" >
                                    <div class="info-cell checkbox-line">
                                        <input type="checkbox" class="checkbox" name="check" th:data-notebox-receive-no="${noteReceive.noteboxReceiveNo}">
                                    </div>
                                    <a th:href="@{/admin/noteboxInDetail(noteboxReceiveNo=${noteReceive.noteboxReceiveNo})}" style="display: flex; justify-content: center">
                                    <div class="info-cell info-cell-cate" th:text="${noteReceive.noteboxReceiveSname}"></div>
                                    <div class="info-cell info-cell-cate">관리자</div>
                                    <div class="info-cell info-cell-title" th:text="${noteReceive.noteboxReceiveTitle}"></div>
                                    <div class="info-cell info-cell-content" th:text="${noteReceive.noteboxReceiveContent}"></div>
                                    </a>
                                </div>
                            </div>
                            <div id="pagination"></div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>
<script th:src="@{/js/admin/pagination.js}"></script>
<script th:src="@{/js/admin/deleteNoteIn.js}"></script>
<!-- 페이지네이션 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</html>