<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>후기 글목록</title>
  <link rel="stylesheet" th:href="@{/css/adopt/review/adopt-review.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
  <!-- 입양 메인 크기 -->
  <div class="adopt-main-size">
    <!-- 입양/임보/후기 게시판 바 -->
    <div class="adopt-nav">
      <div class="adopt-navList" id="adoptPage">안심입양</div>
      <div class="adopt-navList" id="protectPage">임시보호</div>
      <div class="adopt-navList" id="reviewPage">후기</div>
    </div>
    <!-- 안심입양 소제목 -->
    <div class="adopt-title1">
      후기
    </div>

    <br>

    <!-- 입양 글 목록 -->
    <div class="adopt-postlist">
      <div class="adopt-post" th:each="review : ${ReviewMainList}">
        <div class="adopt-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
        <div class="adopt-post-intro">
          <div th:text="${review.memberNo}" style="display: none"></div>
          <div th:text="${review.reviewNo}" style="display: none" class="adoptNo"></div>
          <div class="adopt-post-title" th:text="${review.reviewTitle}"></div>
        </div>
<!--        <div class="adopt-post-content" th:utext="${review.reviewContent}"></div>-->
        <div class="adopt-post-content2">등록일 : <span th:text="${#dates.format(review.reviewRegidate, 'yyyy-MM-dd')}"></div>
        <div class="adopt-post-content2">작성자 : <span th:text="${review.memberName}"></div>
      </div>
    </div>

    <br>

    <!-- 입양 등록 버튼 -->
    <div class="adopt-button-box" th:if="${memberNo != null}">
      <a href="/adopt/review/reviewwrite">
        <button class="adopt-button">등록</button>
      </a>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination">
      <ul class="page-box">
        <a th:href="@{/adopt/review(page=${page.startPage - 1})}" class="page-a" th:if="${page.prev}">
          <li class="page-num prev">&lt</li>
        </a>

        <!--        th:block은 화면에 영향을 주지않는 가짜 태그
                    타임리프 문법을 사용하기 위해 만들어 쓴다.
        -->
        <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
          <a th:href="@{/adopt/review(page=${i})}" class="page-a">
            <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
          </a>
        </th:block>

        <a th:href="@{/adopt/review(page=${page.endPage + 1})}" class="page-a" th:if="${page.next}">
          <li class="page-num next">&gt</li>
        </a>
      </ul>
    </div>

    <br>

</main>



</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer src="../../js/main/header.js"></script>
<script defer th:src="@{/js/adopt/review/adopt-review.js}"></script>



</html>