<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>안심입양 글목록</title>
  <link rel="stylesheet" th:href="@{/css/adopt/adopt-main.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 입양 메인 크기 -->
    <div class="adopt-main-size">
      <!-- 입양/임보/후기 게시판 바 -->
      <div class="adopt-nav">
          <div class="adopt-navList" id="adoptPage">안심입양</div>
          <div class="adopt-navList" id="protectPage">임시보호</div>
          <div class="adopt-navList" id="reviewPage">후기</div>
      </div>

      <!-- 입양메인배너1 -->
      <div class="adopt-banner1">
        "하루에 유기되는 반려동물은 평균 370마리 정도로 추정됩니다."
        <br><br>
        "아이들의 새로운 가족이 되어주세요"
      </div>

      <!-- 입양메인배너1 -->
      <div class="adopt-banner2">
        우리 아이들을 소개합니다!
      </div>

      <!-- 입양메인배너1 -->
      <div class="adopt-banner3">
        <div><img th:src="@{/img/adopt-main.jpg}" width="900px" height="550px"></div>
        <div class="adopt-banner3-notice">입양혜택 안내</div>
        <div class="adopt-banner3-inner">
          <div th:each="adopt : ${MainList}" class="adopt-banner3-list">
            <div class="adopt-banner3-cate">[안심입양]</div>
            <div class="adopt-banner3-title" th:text="${adopt.adoptTitle}"></div>
            <div class="adopt-banner3-nickname" th:text="${adopt.centerMemberName}"></div>
            <div class="adopt-banner3-date" th:text="${#dates.format(adopt.adoptRegidate, 'yyyy-MM-dd')}"></div>
            <div class="adopt-banner3-status" th:if="${adopt.adoptStatus == 'T'}" th:text="[모집중]"></div>
            <div class="adopt-banner3-status" th:if="${adopt.adoptStatus == 'F'}" th:text="[마감]"></div>
            <div class="adoptNo" th:text="${adopt.adoptNo}" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer th:src="@{/js/adopt/adopt-main.js}"></script>

</html>