<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>안심입양 글 상세</title>
  <link rel="stylesheet" th:href="@{/css/adopt/adopt/adopt-adoptdetail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 입양 메인 크기 -->
    <div class="adopt-main-size">
      <!-- 입양/임보/후기 게시판 바 -->
      <div class="adopt-nav">
        <div class="adopt-navList" id="adoptPage">안심입양</div>
        <div class="adopt-navList" id="protectPage">임시보호</div>
        <div class="adopt-navList" id="reviewPage">후기</div>
      </div>

      <!-- 제목/작성자/등록일 크기 -->
      <div class="adopt-detail-box1" th:each="adopt : ${adoptDetailList}">
        <div class="adopt-detail-title" th:text="${adopt.adoptTitle}"></div>
        <div class="adopt-detail-info">
          <span th:text="'작성자 : ' + ${adopt.centerMemberName}"></span>
          <span th:text="'등록일 : ' + ${#dates.format(adopt.adoptRegidate, 'yyyy-MM-dd')}"></span>
        </div>
      </div>

      <!-- 글내용 크기 -->
      <div class="adopt-detail-box2" th:each="adopt : ${adoptDetailList}">
        <div class="adopt-detail-content">
          <div class="adopt-detail-basicinfo">
            <div class="adopt-detail-basicinfo-title">기본정보</div>
            <div th:text="'입양기한 : ' + ${#dates.format(adopt.adoptPeriodStart, 'yyyy-MM-dd')} + ' ~ ' + ${#dates.format(adopt.adoptPeriodEnd, 'yyyy-MM-dd')}"></div>
            <div th:text="'이름 : ' + ${adopt.adoptName}"></div>
            <div th:text="'견종 : ' + ${adopt.adoptBreed}"></div>
            <div th:if="${adopt.adoptNeutering == 'Y'}" th:text="'중성화여부 : ' + 'O'"></div>
            <div th:if="${adopt.adoptNeutering == 'N'}" th:text="'중성화여부 : ' + 'X'"></div>
            <div th:if="${adopt.adoptGender == 'M'}" th:text="'성별 : ' + '남자'"></div>
            <div th:if="${adopt.adoptGender == 'F'}" th:text="'성별 : ' + '여자'"></div>
            <div th:text="'몸무게 : ' + ${adopt.adoptWeight}"></div>
            <div th:text="'생년월일 : ' + ${#dates.format(adopt.adoptBirth, 'yyyy-MM-dd')}"></div>
            <div th:text="${adopt.adoptNo}" style="display: none" class="adoptNo"></div>
            <div th:text="${adopt.centerMemberNo}" style="display: none" class="centerMemberNo"></div>
          </div>
          <br>

          <div th:utext="${adopt.adoptContent}"></div>

          <br>

          <!-- 신청버튼 -->
          <div class="adopt-submit-box">
            <button class="adopt-submit-button" type="button" onclick="requestClick()"
                    th:if="${memberNo != null and adopt.adoptStatus == 'T'}">
              신청</button>
          </div>
        </div>
      </div>

      <br>

      <!-- 버튼 -->
      <div class="adopt-detail-box3" th:each="adopt : ${adoptDetailList}">
        <div>
          <button class="adopt-modify-button" type="button" onclick="modifyClick()"
                  th:if="${centerMemberNo == adopt.centerMemberNo} and ${adopt.adoptStatus != 'F'}">수정</button>
          <button class="adopt-delete-button" type="button" onclick="deleteClick()"
                  th:if="${centerMemberNo == adopt.centerMemberNo}">삭제</button>
        </div>
        <button class="adopt-end-button" type="button" onclick="endClick()"
                th:if="${centerMemberNo == adopt.centerMemberNo and adopt.adoptStatus == 'T'}">마감</button>
         <button class="adopt-end-button" type="button" onclick="ContentReportClick()"
                 th:if="${centerMemberNo != adopt.centerMemberNo and (centerMemberNo != null or memberNo != null)}">신고</button>
      </div>

      <br>

      <!-- 댓글 수정/삭제/신고 -->
      <div th:with="adoptNo=${adoptDetailList[0]?.adoptNo}">
        <div class="adopt-detail-commentbox" th:each="adoptComment, iterStat : ${adoptCommentList}">
          <div class="adopt-detail-name">
            <div class="adopt-detail-name" th:text="${adoptComment.commentWriterName}"></div>
            <div class="adoptCommentNo" th:text="${adoptComment.adoptCommentNo}" style="display: none"></div>
            <div class="adopt-comment-buttonBox" th:id="'adopt-comment-buttonBox-' + ${iterStat.index}">
              <button class="adopt-comment-button" type="button"
                      th:onclick="'modifyCommentBtnClick(' + ${iterStat.index} + ')'"
                      th:if="${(centerMemberNo != null and centerMemberNo == adoptComment.adoptCommentWriter)
                   or (memberNo != null and memberNo == adoptComment.adoptCommentWriter)}">수정</button>
              <button class="adopt-comment-button" type="button"
                      th:onclick="'CommentDeleteClick(' + ${adoptComment.adoptCommentNo} + ', ' + ${adoptNo} + ')'"
                      th:if="${(centerMemberNo != null and centerMemberNo == adoptComment.adoptCommentWriter)
                   or (memberNo != null and memberNo == adoptComment.adoptCommentWriter)}">삭제</button>
              <button class="adopt-comment-button" type="button"
                      th:onclick="'CommentReportClick(' + ${adoptComment.adoptCommentNo} + ', ' + ${adoptNo} + ')'"
                      th:if="${(centerMemberNo != null or memberNo != null)
                   and (centerMemberNo != adoptComment.adoptCommentWriter)
                   and (memberNo != adoptComment.adoptCommentWriter)}">신고</button>
            </div>
          </div>

          <div class="adopt-detail-comment" th:id="'adopt-comment-' + ${iterStat.index}" th:text="${adoptComment.adoptComment}"></div>

          <!-- 댓글 수정 form 추가 -->
          <form th:action="@{/adopt/adopt/adoptCommentModi(adoptNo=${adoptNo})}" method="post"
                th:id="'adopt-modifyInput-' + ${iterStat.index}" style="display:none;">
            <input type="hidden" name="adoptCommentNo" th:value="${adoptComment.adoptCommentNo}">
            <input type="hidden" name="adoptNo" th:value="${adoptNo}">
            <input type="text" name="adoptComment" class="adopt-modify-comment" th:value="${adoptComment.adoptComment}">
            <button type="submit" class="adopt-comment-button">등록</button>
          </form>

          <div class="adopt-detail-date" th:text="${#dates.format(adoptComment.adoptCommentRegidate, 'yyyy-MM-dd')}"></div>
        </div>
      </div>


      <br>

      <!-- 댓글입력 -->
      <div th:if="${memberNo != null or centerMemberNo != null}">
      <form action="/adopt/adopt/adoptCommentRegi" method="get" th:each="adopt : ${adoptDetailList}" onsubmit="return validateCommentForm()">
        <input class="adopt-detail-commentregi" type="text" name="adoptComment" placeholder="욕설 및 혐오감을 주는 댓글은 삼가주세요" maxlength="1000">
        <input th:value="${adopt.adoptNo}" style="display: none" name="adoptNo">
        <button class="adopt-commentregi-button" type="submit">등록</button>
      </form>
      </div>

      <br>

      <!-- 게시글신고완료시 -->
      <div th:if="${ContentreportSuccess}">
        <script>
          alert('신고가 완료되었습니다.');
        </script>
      </div>

      <!-- 댓글신고완료시 -->
      <div th:if="${CommentreportSuccess}">
        <script>
          alert('신고가 완료되었습니다.');
        </script>
      </div>
      <!-- 신청성공시 -->
      <div th:if="${requestSuccess}">
        <script>
          alert('신청이 완료되었습니다.');
        </script>
      </div>
  </main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer th:src="@{/js/adopt/adopt/adopt-adoptdetail.js}"></script>



</html>