<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>입양메인</title>
  <link rel="stylesheet" th:href="@{/css/adopt/adopt/adopt-adopt.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 입양 메인 크기 -->
    <div class="adopt-main-size">
      <!-- 입양/임보/후기 게시판 바 -->
      <div class="adopt-nav">
        <div class="adopt-navList" id="adoptPage">안심입양</div>
        <div class="adopt-navList" id="protectPage">임시보호</div>
        <div class="adopt-navList" id="reviewPage">후기</div>
      </div>
      <!-- 안심입양 소제목 -->
      <div class="adopt-title1">
        안심입양
      </div>
      <!-- 전체/진행중/마감 버튼-->
      <div class="adopt-title2">
        <label>
          <input type="radio" name="adopt-radio" value="" checked>
          전체
        </label>
        <label>
          <input type="radio" name="adopt-radio" value="">
          진행중
        </label>
        <label>
          <input type="radio" name="adopt-radio" value="">
          마감
        </label>
      </div>

      <!-- 입양 글 목록 -->
      <div class="adopt-postlist">
          <div class="adopt-post" th:each="adopt : ${AdoptMainList}">
            <div class="adopt-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="adopt-post-intro">
              <div th:text="${adopt.centerMemberNo}" style="display: none"></div>
              <div th:text="${adopt.adoptNo}" style="display: none" class="adoptNo"></div>
              <div class="adopt-post-status" th:if="${adopt.adoptStatus} == 'T'" th:text="[진행중]"></div>
              <div class="adopt-post-status" th:if="${adopt.adoptStatus} == 'F'" th:text="[마감]"></div>
              <div class="adopt-post-title" th:text="${adopt.adoptTitle}"></div>
            </div>
            <div class="adopt-post-content" th:text="${adopt.adoptIntroduce}"></div>
            <div class="adopt-post-content" th:text="${adopt.adoptName}"></div>
            <div class="adopt-post-content">
              <span th:if="${adopt.adoptGender == 'M'}" th:text="남자"></span>
              <span th:if="${adopt.adoptGender == 'F'}" th:text="남자"></span>
              /
              <span th:if="${adopt.adoptNeutering == 'Y'}" th:text="'중성화(O)'"></span>
              <span th:if="${adopt.adoptNeutering == 'N'}" th:text="'중성화(X)'"></span>
            </div>
            <div class="adopt-post-content"><span th:text="${#dates.format(adopt.adoptBirth, 'yyyy-MM-dd')}"></span>/<span th:text="${adopt.adoptWeight}"></span></div>
            <div class="adopt-post-content">등록일 : <span th:text="${#dates.format(adopt.adoptRegidate, 'yyyy-MM-dd')}"></span> / 마감일 : <span th:text="${#dates.format(adopt.adoptPeriodEnd, 'yyyy-MM-dd')}"></span></div>
          </div>
      </div>


      <!-- 입양 등록 버튼 -->
      <div class="adopt-button-box">
        <a href="../../html/adopt/adopt-adoptwrite.html">
          <button class="adopt-button">등록</button>
        </a>
      </div>

      <!-- 페이지네이션 -->

  </main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer th:src="@{/js/main/main.js}"></script>
<script defer th:src="@{/js/adopt/adopt/adopt-adopt.js}"></script>


</html>