<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-login.css}" />
</head>
<body>
<div class="login-container">
    <!-- Add your logo here -->
    <img th:src="@{/img/header_logo.png}" alt="Logo">
    <h2>희멍의 집</h2>
    <form th:action="@{/admin/login}" method="post">
        <label>
            <input type="text" name="adminId" id="adminId" placeholder="관리자 아이디" required>
        </label>
        <label>
            <input type="password" name="adminPw" id="adminPw" placeholder="관리자 비밀번호" required>
        </label>
        <div th:if="${param.error}" class="error-message">
            로그인에 실패했습니다. 아이디 또는 비밀번호를 확인해주세요.
        </div>
        <button type="submit" class="btn-login">로그인</button>
    </form>
</div>
</body>
</html>