<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.file.AdoptFileMapper">
    <!-- 입양파일첨부 -->
    <insert id="insertAdoptFile" parameterType="AdoptFileDTO">
        <selectKey keyProperty="fileNo" resultType="Long" order="BEFORE">
            SELECT SEQ_ADOPT_FILE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ADOPT_FILE(FILE_NO, FILE_NAME, STORED_FILE_NAME, FILE_UUID, FILE_PATH, ADOPT_NO)
        VALUES(#{fileNo}, #{fileName}, 'adopt' || #{fileNo}, #{fileUuid}, #{filePath}, #{filePath}, #{adoptNo})
    </insert>

    <!-- 입양파일삭제 -->
    <delete id="deleteAdoptFile" parameterType="Long">
        DELETE FROM TBL_ADOPT_FILE
        WHERE ADOPT_NO = #{adoptNo}
    </delete>
    
    <!-- 입양파일조회 -->
    <select id="selectList" parameterType="Long" resultType="AdoptFileDTO">
        SELECT FILE_NO, FILE_NAME, FILE_PATH, ADOPT_NO
        FROM TBL_ADOPT_FILE
        WHERE ADOPT_NO = #{adoptNo}
    </select>
</mapper>