<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 임시보호신청서</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-protect-form.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
          <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
          <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li></a>
          <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li>
          <div id="choice"></div></a>
          <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li></a>
          <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-protect-navbox">
      <nav>
        <ul class="member-protect-nav-ul">
          <li id="adopt"><a href="../../html/mypage/mypage-adopt.html">입양신청</li></a>
          <li><a th:href="@{/mypage/protectRequest}"> 임시보호신청</a></li>
          <div id="choice"></div>
        </ul>
      </nav>
    </div>
    <div id="line"></div>
    <!-- 입양 메인 크기 -->
    <div class="mypage-protect">
      <div class="protectrequest-main-size">
        <!-- 글작성 박스 -->
        <div class="protectrequest-write-area" th:each="protectRequest : ${protectRequest}">

          <div class="main-input">
              <br>
              <div style="font-weight: bold;">임시보호 신청서</div>
              <form id="protectRequest" th:action="@{/mypage/updateProtectRequestOk}" method="post">

                <input type="hidden" name="protectRequestNo" th:value="${protectRequest.protectRequestNo}">

<!--                <div class="protectRequestNo" th:text="${protectRequest.protectRequestNo}" style="display: none;"></div>-->
                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">성명</div>
                  <input class="protectrequest-input-small" id="nameInput" type="text" name="protectRequestName"
                         th:value="${protectRequest.protectRequestName}" onblur="checkNameInput()">
                </div>
                <div class="Error">
                  <div id="nameError" style="color: red; display: none;">성명을 입력해주세요</div>
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">연락처</div>
                  <input class="protectrequest-input-small" id="phoneInput" name="protectRequestPhone" type="text"
                         th:value="${protectRequest.protectRequestPhone}" placeholder="　-을 제외한 숫자만 입력해주세요" onblur="checkPhoneInput()">
                </div>
                <div class="Error">
                  <div id="phoneError" style="color: red; display: none;">연락처를 입력해주세요</div>
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">대체 연락처</div>
                  <input class="protectrequest-input-small" type="text" id="phone2Input" name="protectRequestPhoneSub"
                         th:value="${protectRequest.protectRequestPhoneSub}" placeholder="　-을 제외한 숫자만 입력해주세요" onblur="checkPhone2Input()">
                </div>
                <div class="Error">
                  <div id="phone2Error" style="color: red; display: none;">대체 연락처를 입력해주세요</div>
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">이메일 주소</div>
                  <input class="protectrequest-input-small" type="text" id="emailInput" name="protectRequestEmail"
                         th:value="${protectRequest.protectRequestEmail}" onblur="checkEmailInput()">
                </div>
                <div class="Error">
                  <div id="emailError" style="color: red; display: none;">이메일 주소를 입력해주세요</div>
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">성별</div>
                  <div class="gender-options">
                    <input type="radio" name="protectRequestGender" value="M"
                           th:checked="${protectRequest.protectRequestGender == 'M'}" > 남자
                    <input type="radio" name="protectRequestGender" value="F"
                           th:checked="${protectRequest.protectRequestGender == 'F'}" > 여자
                  </div>
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">나이</div>
                  <input class="protectrequest-input-small" type="date" id="ageInput" name="protectRequestAge"
                         th:value="${protectRequest.protectRequestAge}" onblur="checkAgeInput()">
                </div>
                <div class="Error">
                  <div id="ageError" style="color: red; display: none;">나이를 입력해주세요</div>
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">우편번호</div>
                  <input id="zipcode" class="protectrequest-input-small2" type="text" name="protectRequestZipcode"
                         th:value="${protectRequest.protectRequestZipcode}" readonly>
<!--                  <button id="addressSearch" class="adoptrequest-search-button" type="button">주소찾기</button>-->
                </div>
                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">주소</div>
                  <input id="address" class="protectrequest-input-small" type="text" name="protectRequestAddress"
                         th:value="${protectRequest.protectRequestAddress}" readonly>

                </div>
                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">상세주소</div>
                  <input id="detailAddress" class="protectrequest-input-small" type="text" name="protectRequestAddressDetail"
                         th:value="${protectRequest.protectRequestAddressDetail}" onblur="checkAddressInput()">
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">직업/직장명</div>
                  <input class="protectrequest-input-small" type="text" id="jobInput" name="protectRequestJob"
                         th:value="${protectRequest.protectRequestJob}" onblur="checkJobInput()">
                </div>

                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">결혼여부</div>
                  <div class="gender-options">
                    <input type="radio" name="protectRequestMarry" value="N"
                           th:checked="${protectRequest.protectRequestMarry == 'N'}"> 미혼
                    <input type="radio" name="protectRequestMarry" value="Y"
                           th:checked="${protectRequest.protectRequestMarry == 'Y'}" > 기혼
                  </div>
                </div>

                <!-- 개인정보수집이용동의 -->
                <div class="protectrequest-content-box">
                  <div class="protectrequest-content-title">개인정보수집이용동의</div>
                </div>
                <div class="protectrequest-agreement-box">
                  <p>수집하는 개인정보의 항목: 성명, 주소, 이메일, 휴대전화번호</p>
                  <p>개인정보의 수집 이용 목적: 본 서명의 목적에 맞는 희멍의집 캠페인에 활용하고, 추후 전개되는 바에 대한 소식을 전달하기 위함</p>
                  <p>개인정보의 보유 및 이용기간: 5년(관계법령에서 정한 일정한 기간)</p>
                </div>
                <div class="agreement-checkbox">
                  <input type="checkbox" id="info-agreement" name="protectRequestInfoAgreement"
                         th:checked="${protectRequest.protectRequestInfoAgreement != null ? protectRequest.protectRequestInfoAgreement : false}" >
                  <label for="info-agreement">위 약관에 동의합니다.</label>
                </div>


                <br><br>

                <div style="font-weight: bold;">임시보호 질문</div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">임시보호를 희망하는 아이의 이름을 적어주세요.</div>
                  <input class="protectrequest-input-small" type="text" id="quest1Input" name="proRequestQ1"
                         th:value="${protectRequest.proRequestQ1}"  onblur="checkQuest1Input()">
                </div>
                <div class="Error">
                  <div id="quest1Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">임시보호하기를 희망하는 아이가 없을 경우 앞으로 보호하고자 하는 아이에 대해 간단히
                    설명해주세요.
                  </div>
                  <input class="protectrequest-input-small" type="text" id="quest2Input"  name="proRequestQ2"
                         th:value="${protectRequest.proRequestQ2}"  onblur="checkQuest2Input()">
                </div>
                <div class="Error">
                  <div id="quest2Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">임시보호를 결정하시기 까지 얼마나 오랜 시간을 고민하셨나요?</div>
                  <input class="protectrequest-input-small" type="text" id="quest3Input"  name="proRequestQ3"
                         th:value="${protectRequest.proRequestQ3}" onblur="checkQuest3Input()">
                </div>
                <div class="Error">
                  <div id="quest3Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">임시보호를 원하시는 가장 큰 이유는 무엇인가요?</div>
                  <input class="protectrequest-input-big" type="text" id="quest4Input"  name="proRequestQ4"
                         th:value="${protectRequest.proRequestQ4}" onblur="checkQuest4Input()">
                </div>
                <div class="Error">
                  <div id="quest4Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">가족구성원 및 거주하는 시간을 알려주세요.</div>
                  <input class="protectrequest-input-big" type="text" id="quest5Input"  name="proRequestQ5"
                         th:value="${protectRequest.proRequestQ5}"  onblur="checkQuest5Input()">
                </div>
                <div class="Error">
                  <div id="quest5Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">가족 모두가 임시보호에 동의하시나요?</div>
                  <input class="protectrequest-input-small" type="text" id="quest6Input"  name="proRequestQ6"
                         th:value="${protectRequest.proRequestQ6}" onblur="checkQuest6Input()">
                </div>
                <div class="Error">
                  <div id="quest6Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">키우고 계신 반려동물이 있나요? 있다면 소개해주세요.</div>
                  <input class="protectrequest-input-big" type="text" id="quest7Input"  name="proRequestQ7"
                         th:value="${protectRequest.proRequestQ7}" onblur="checkQuest7Input()">
                </div>
                <div class="Error">
                  <div id="quest7Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">주거의 형태는?</div>
                  <input class="protectrequest-input-big" type="text" id="quest8Input"  name="proRequestQ8"
                         th:value="${protectRequest.proRequestQ8}"  onblur="checkQuest8Input()">
                </div>
                <div class="Error">
                  <div id="quest8Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">입대한 주택의 경우 집주인의 동의를 얻으셨나요?</div>
                  <input class="protectrequest-input-big" type="text" id="quest9Input" name="proRequestQ9"
                         th:value="${protectRequest.proRequestQ9}" onblur="checkQuest9Input()">
                </div>
                <div class="Error">
                  <div id="quest9Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">소음이나 위생 등으로 인한 이웃과의 마찰로 보호가 불가능해질 경우 어떻게 하실건가요?</div>
                  <input class="protectrequest-input-big" type="text" id="quest10Input" name="proRequestQ10"
                         th:value="${protectRequest.proRequestQ10}" onblur="checkQuest10Input()" >
                </div>
                <div class="Error">
                  <div id="quest10Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">이사 또는 해외로 이주 시 반려동물의 거취문제에 대해 어떻게 생각하십니까?</div>
                  <input class="protectrequest-input-big" type="text" id="quest11Input"  name="proRequestQ11"
                         th:value="${protectRequest.proRequestQ11}" onblur="checkQuest11Input()" >
                </div>
                <div class="Error">
                  <div id="quest11Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">앞으로 결혼, 임신, 출산 등 가족의 변화가 있는 경우 반려동물의 거취문제에 대해 어떻게
                    생각하십니까?
                  </div>
                  <input class="protectrequest-input-big" type="text" id="quest12Input"  name="proRequestQ12"
                         th:value="${protectRequest.proRequestQ12}"  onblur="checkQuest12Input()">
                </div>
                <div class="Error">
                  <div id="quest12Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">동물 관련 활동경험이 있으십니까? ex)봉사 및 구조경험</div>
                  <input class="protectrequest-input-big" type="text" id="quest13Input"  name="proRequestQ13"
                         th:value="${protectRequest.proRequestQ13}"  onblur="checkQuest13Input()">
                </div>
                <div class="Error">
                  <div id="quest13Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">임시보호희망 동물에 대해 어떻게 알게 되셨나요?</div>
                  <input class="protectrequest-input-big" type="text" id="quest14Input"  name="proRequestQ14"
                         th:value="${protectRequest.proRequestQ14}" onblur="checkQuest14Input()">
                </div>
                <div class="Error">
                  <div id="quest14Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>
                <br>

                <div class="protectrequest-content-box2">
                  <div class="protectrequest-content-title2">센터방문 또는 전화상담이 가능한 날짜와 시간을 적어주세요.</div>
                  <input class="protectrequest-input-big" type="text" id="quest15Input"  name="proRequestQ15"
                         th:value="${protectRequest.proRequestQ15}" onblur="checkQuest15Input()" >
                </div>
                <div class="Error">
                  <div id="quest15Error" style="color: red; display: none;">필수입력사항입니다</div>
                </div>

                <br><br>

                <div style="font-weight: bold;">임시보호동의</div>
                <br>
                <div class="protectrequest-agreement-box2">
                  <p>본인(이하 ‘임양인’이라 합니다.)은 ‘동물권향상’과 (이하 ‘단체’라 합니다.)를 통해서 반려동물(이하 ‘임양동물’이라 합니다.)이 임양인이 있으며 임양동물이
                    자연사하는 시점까지 적합한 보호자와 임양동물에게 최적의 환경과 보살핌을 제공할 것에 대한 헌신을 다하겠다는 의사를 표현합니다.</p>
                  <br>
                  <p>임양인은 임양동물이 흥미가 포함된 제 각호의 고의 또는 과실로 인해 임양동물에 대한 학대행위가 발생하였을 경우, 임양동물이 양호, 유기, 유실된 경우에는 단체로부터
                    어떠한 임양동물의 제재가 없음을 동의합니다. 임양인은 임양동물의 경우, 매개, 면회, 의무, 유기, 이행의 중지에 즉시 단체에 통지할 의무를 지니며 임양동물들에 대한
                    책임을 의무가 있습니다.</p>
                  <br>
                  <p>만일 임양동물이 질병에 걸렸을 때 임양인은 신속하게 필요한 수의학적 치료를 받기 위해 성실하게 그 치료를 받을 것이며 만일 임양동물의 완치 불가능하고 그 혹이 구식한
                    경우에는 이를 단체에 통지하고 단체의 협의에 따라 임양동물에게 처리해서는 안 됩니다. 임양인은 임양동물이 자연사한 경우에도 즉시 사실을 단체에 통지할 의무가
                    있습니다.</p>
                  <br>
                  <p>임양인은 상시 임양동물에게 임양인의 연락처 가 기재된 이표를 반입시켜야 하며 임양동인의 연락처가 변경되거나 주치의 변동사항이 있을 시에는 즉시 단체에 대한 정보변경을
                    의무가 있습니다.</p>
                  <br>
                  <p>임양인은 단체에서 단체에서 시행하는 임양동물의 미니터링을 요청할 전환 또는 방문을 할 것을 다짐하며 단체가 임양동물의 면회나 사진을 요청할 시 연제된 의무에 대한
                    협조를 의무가 있습니다.</p>
                  <br>
                  <p>임양인은 단체의 특별한 사정에 따라 들어가며, 임양인이 미리 종료를 시행할 수 있는 경우에는 임양동물의 건강상태가 유지하고 그럼에도 불구하고 단체가 임양동물의 삶을
                    시행하기에 단체에서 사실을 기단체에 증명서류를 제출할 의무가 있습니다.</p>
                  <br>
                  <p>임양인은 본인에 대한 의사를 파악하는 경우에는, 반드시 단체에 통보해야 하며 임양동에 대한 지연이 있을 수 있습니다. 또한, 단체에 임양동물에 반환을 정당할 수
                    있습니다.</p>
                </div>
                <div class="agreement-checkbox">
                  <input type="checkbox" id="protect-agreement" name="protectRequestAgreement"
                         th:checked="${protectRequest.protectRequestAgreement}">
                  <label for="protect-agreement">위 약관에 동의합니다.</label>
                </div>

                <br><br>

                <p>*임양인은 이하에 서명함으로써 상기의 조항에 동의하며, 입양인 상기의 조항을 위반 시에는 단체의 어떠한 처벌조치에도 <br>
                  이의를 제기함이 없이 따를 것을 서약합니다.</p>
                <p>*이후 임시보호에 관한 절차 및 안내사항은 개별적으로 연락드릴 예정입니다.</p>

                <br><br>



                <div class="adoptrequest-buttonbox">
                  <!--회원번호 세션으로 받고 히든으로 넘기기 -->
                  <input th:value="${memberNo}" style="display: none" name="memberNo">
                  <input th:value="${centerMemberNo}" style="display: none" name="centerMemberNo">
                  <input th:value="${protectRequest.protectRequestNo}" style="display: none" name="protectRequestNo">
                  <button class="adoptrequest-button" onclick="validateInputs()" type="submit">수정</button>
                  <button class="adoptrequest-button" onclick="requestcancel()" type="button">취소</button>
                </div>
              </form>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
</main>

</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script defer th:src="@{/js/mypage/mypage-protect-form.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>



</html>