<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-봉사</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-volun-list.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
  <div class="member-profile-navbox">
    <nav>
      <ul class="member-profile-nav-ul">
        <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
        <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
        <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li>
        <div id="choice"></div></a>
        <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li></a>
        <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li></a>
        <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
      </ul>
    </nav>
  </div>
    <div class="member-volun-navbox">
      <nav>
        <ul class="member-volun-nav-ul">
          <li id="volun-list"><a th:href="@{/mypage/volun}">봉사신청내역</li>
          <div id="volun-choice"></div></a>
        </ul>
      </nav>
    </div>
    <div id="line"></div>

    <!-- 게시글 리스트 영역 -->
    <div class="member-profile-volunboard-container">
      <!-- 게시글 제목 -->
      <div>
        <ul class="member-profile-volunboard-titlebox">
          <li><b>봉사 신청서</b></li>
          <li><b>상태</b></li>
          <li><b>작성일</b></li>
        </ul>
      </div>
      <!-- 게시글 목록 -->
      <div class="member-profile-volunboard-contentsbox">
        <ul class="member-profile-volunboard-content">
          <li>
            <div class="mypage-volun-list" th:each="myvolun : ${mypageVolunList}">
              <ul class="member-profile-volunboard-contentbox">
                <li th:text="${myvolun.volunTitle}"></li>
                <li th:if="${myvolun.volunStatus} == 'T'" th:text="[심사중]"></li>
                <li th:if="${myvolun.volunStatus} == 'F'" th:text="[수락]"></li>
                <li th:text="${#dates.format(myvolun.volunPeriodend, 'yyyy-MM-dd')}"></li>
              </ul>
              <div class="memberNo" th:text="${myvolun.memberNo}" style="display: none;"></div>
              <div class="volunRequestNo" th:text="${myvolun.volunRequestNo}" style="display: none;"></div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 페이지네이션 -->
      <div id="pagination"></div>
    </div>
  </main>

</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>

<script defer th:src="@{/js/mypage/mypage-volun.js}"></script>

</html>