<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-봉사</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-volunteer.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/mypage/mypage-volunteer.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
  <div class="member-profile-navbox">
    <nav>
      <ul class="member-profile-nav-ul">
        <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
        <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
        <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li>
        <div id="choice"></div></a>
        <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li></a>
        <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li></a>
        <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
      </ul>
    </nav>
  </div>
    <div class="member-volun-navbox">
      <nav>
        <ul class="member-volun-nav-ul">
          <li id="hours"><a href="#">봉사시간</li>
          <div id="volun-choice"></div></a>
          <li class="volun-list">봉사신청내역</li>
        </ul>
      </nav>
    </div>
    <div id="line"></div>
    <div id="volun-hours-title"><h3>아가다 님의 봉사 시간</h3></div>

    <div class="member-profile-infobox">
      <div class="member-profile-info">
        <h1>총 </h1> <h2>27</h2><h1>시간</h1> <h2>0</h2><h1>분</h1>
      </div>
    </div>

  </main>

</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>

<script defer src="../../js/main/header.js"></script>


</html>