<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-입양</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-adopt.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
  <script defer th:src="@{/js/mypage/mypage-adopt.js}"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a href="../../html/mypage/mypage-update.html">개인정보수정</li></a>
          <li id="posts"><a href="../../html/mypage/mypage-posts.html">작성글조회</li></a>
          <li id="volunteer"><a href="../../html/mypage/mypage-volunteer.html">봉사</li></a>
          <li id="adopt"><a href="../../html/mypage/mypage-adopt.html">입양</li>
          <div id="choice"></div></a>
          <li id="inbox"><a href="../../html/mypage/mypage-inbox.html">쪽지함</li></a>
          <li id="auth"><a href="../../html/mypage/mypage-auth.html">2차인증</li></a>
          <li id="withdrawal"><a href="../../html/mypage/mypage-quit.html">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-adopt-navbox">
      <nav>
        <ul class="member-adopt-nav-ul">
          <li id="member-adopt"><a href="#">입양신청</li>
          <div id="adopt-choice"></div></a>
          <li id="protect-list">임시보호신청</li>
        </ul>
      </nav>
    </div>
    <div id="line"></div>

    <!-- 게시글 리스트 영역 -->
    <div class="member-profile-adoptboard-container">
      <!-- 게시글 제목 -->
      <div>
        <ul class="member-profile-adoptboard-titlebox">
          <li><b>입양 신청서</b></li>
          <li><b>상태</b></li>
          <li><b>마감일</b></li>
        </ul>
      </div>
      <!-- 게시글 목록 -->
      <div class="member-profile-adoptboard-contentsbox" >
        <ul class="member-profile-adoptboard-content">
          <li>
            <div class="mypage-adopt-list" th:each="myadopt : ${mypageAdoptList}">
              <ul class="member-profile-adoptboard-contentbox">
                <li th:text="${myadopt.adoptTitle}"></li>
                <li th:if="${myadopt.adoptStatus} == 'T'" th:text="검토중"></li>
                <li th:if="${myadopt.adoptStatus} == 'F'" th:text="마감"></li>
                <li th:text="${#dates.format(myadopt.adoptPeriodend, 'yyyy-MM-dd')}"></li>
              </ul>
              <div class="memberNo" th:text="${myadopt.memberNo}" style="display: none;"></div>
            </div>
          </li>
          <li>
            <div>
              <ul class="member-profile-adoptboard-contentbox">
                <li><a href="../../html/mypage/mypage-adopt-form.html">입양 신청서</li></a>
                <li>검토중</li>
                <li>2024.07.28</li>
              </ul>
            </div>
          </li>
          
        </ul>
      </div>
      <!-- 페이지네이션 -->
      <div class="pagination">
        <button class="prev">◀</button>
        <button class="page">1</button>
        <button class="page">2</button>
        <button class="page">3</button>
        <button class="page">4</button>
        <button class="page">5</button>
        <button class="next">▶</button>
      </div>
    </div>

  </main>
</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
</html>