<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-보낸쪽지</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-notebox-detail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
  <script defer th:src="@{/js/mypage/mypage-inbox.js}" ></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
          <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
          <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li></a>
          <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li></a>
          <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li>
          <div id="choice"></div></a>
          <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>

          <!-- 내용 섹션 -->
          <div class="note-wrap">
            <div class="note-title">
              <h1>쪽지</h1>
            </div>
              <div class="note-write-wrap">
                <div class="note-write">
                  <div class="noteboxSendNo" th:text="${mpNoteboxSendDetail.noteboxSendNo}" style="display: none;"></div>
                  <div class="note-title" th:text="${mpNoteboxSendDetail.noteboxSendTitle}">제목</div>
                  <div class="note-title" th:text="${mpNoteboxSendDetail.noteboxReceiverName}">닉네임</div>
                  <div class="note-cont" th:text="${mpNoteboxSendDetail.noteboxSendRegiDate}">시간</div><br>
                  <div class="note-cont" th:text="${mpNoteboxSendDetail.noteboxSendContent}">내용</div>
                </div>
              </div>
              <div class="notebox-admain-btuall">
                <a th:href="@{/mypage/noteboxSendList}">
                  <button class="notebox-admain-btu" type="button">
                    <span class="notebox-admain-btu-sp">이전</span>
                  </button>
                </a>
<!--                <button class="notebox-admain-btu" type="button">-->
<!--                  <a href="#"><span class="notebox-admain-btu-sp">답장하기</span></a>-->
<!--                </button>-->
              </div>
          </div>


</div>


</main>

</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>



</html>