<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-입양</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-protect.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/mypage/mypage-protect.js}"></script>
    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
          <ul class="member-profile-nav-ul">
              <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
              <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
              <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li></a>
              <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li>
              <div id="choice"></div></a>
              <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li></a>
              <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
          </ul>
      </nav>
    </div>
    <div class="member-protect-navbox">
      <nav>
        <ul class="member-protect-nav-ul">
          <li id="adopt-list"><a th:href="@{/mypage/adopt}">입양신청</li></a>
          <li id="protect-list"><a th:href="@{/mypage/protect}">임시보호신청</li>
            <div id="protect-choice"></div></a>
        </ul>
      </nav>
    </div>
    <div id="line"></div>

    <!-- 게시글 리스트 영역 -->
    <div class="member-profile-protect-container">
      <!-- 게시글 제목 -->
      <div>
        <ul class="member-profile-protect-titlebox">
          <li><b>임시보호 신청서</b></li>
          <li><b>상태</b></li>
          <li><b>마감일</b></li>
        </ul>
      </div>
      <!-- 게시글 목록 -->
      <div class="member-profile-protect-contentsbox">
        <ul class="member-profile-protect-content">
          <li>
            <div class="mypage-protect-list" th:each="myprotect : ${mypageProtectList}">
              <ul class="member-profile-protect-contentbox">
<!--                <a th:href="@{/mypage/updateProtectRequest(protectRequestNo=${myprotect.protectRequestNo})}"><li th:text="${myprotect.protectTitle}"></li></a>-->
                <li th:text="${myprotect.protectTitle}"></li>
                <li th:if="${myprotect.protectStatus} == 'T'" th:text="[심사중]"></li>
                <li th:if="${myprotect.protectStatus} == 'F'" th:text="[마감]"></li>
                <li th:text="${#dates.format(myprotect.protectPeriodend, 'yyyy-MM-dd')}"></li>
              </ul>
              <div class="memberNo" th:text="${myprotect.memberNo}" style="display: none;"></div>
              <div class="protectRequestNo" th:text="${myprotect.protectRequestNo}" style="display: none;" ></div>
            </div>
          </li>
          
        </ul>
      </div>
      <!-- 페이지네이션 -->
        <div id="pagination"></div>
    </div>

  </main>
</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>

</html>