<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지-받은쪽지</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage-inbox.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script defer th:src="@{/js/main/main.js}"></script>
    <script defer th:src="@{/js/mypage/mypage-inbox.js}"></script>
    <!-- 페이지네이션 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
<main>
    <div class="member-profile-navbox">
        <nav>
            <ul class="member-profile-nav-ul">
                <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
                <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
                <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li></a>
                <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li></a>
                <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li>
                <div id="choice"></div></a>
                <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
            </ul>
        </nav>
    </div>
    <div class="member-inbox-navbox">
        <nav>
            <ul class="member-inbox-nav-ul">
                <li><a th:href="@{/mypage/noteboxReceiveList}">받은쪽지함</a></li>
                <div id="inbox-choice"></div>
                <li><a th:href="@{/mypage/noteboxSendList}">보낸쪽지함</a></li>
            </ul>
        </nav>
    </div>
    <div id="line"></div>

    <!-- 게시글 리스트 영역 -->
    <div class="member-notebox-container">
        <!-- 게시글 제목 -->
        <div>
            <ul class="member-notebox-titlebox">
                <li><b>상태</b></li>
<!--                <li><b>수신자</b></li>-->
                <li><b>송신자</b></li>
                <li><b>제목</b></li>
                <li><b>내용</b></li>
                <li><b>날짜</b></li>
            </ul>
        </div>
        <div class="member-notebox-contentsbox" th:each="noteR : ${noteboxReceiveList}">
            <ul class="member-notebox-contentbox">
                <li>
                    <div th:text="${noteR.readStatus}"></div>
                </li>
<!--                <li>-->
<!--                    <div th:text="${noteR.noteboxReceiveS}"></div>-->
<!--                </li>-->
                <li>
                    <div th:text="${noteR.noteboxSenderName}"></div>
                </li>
                <li>
                    <div th:text="${noteR.noteboxReceiveTitle}"></div>
                </li>
                <li>
                    <div th:text="${noteR.noteboxReceiveContent}"></div>
                </li>
                <li>
                    <div th:text="${noteR.noteboxReceiveRegiDate != null ? #dates.format(noteR.noteboxReceiveRegiDate, 'yyyy.MM.dd HH:mm:ss') : ''}"></div>
                </li>
                <li>
                    <div class="button-box">
                        <a th:href="@{/mypage/noteboxResponse(noteboxSenderName=${noteR.noteboxSenderName})}">
                            <button>답장</button>
                        </a>
                        <a th:href="@{/mypage/noteboxDelete(noteboxReceiveNo=${noteR.noteboxReceiveNo})}">
                            <button class="delete-button" type="button" onclick="showDeleteAlert()">삭제</button>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="noteboxReceiveNo" th:text="${noteR.noteboxReceiveNo}" style="display: none;"></div>
        </div>
    </div>

    <div class="inbox-admain-btuall">
        <button class="inbox-admain-btu" type="button">
            <a th:href="@{/mypage/noteboxWrite}"><span class="inbox-admain-btu-sp">쪽지쓰기</span></a>
        </button>
    </div>
    <div id="pagination"></div>


</main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>


</html>