<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-작성글조회</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-posts.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/mypage/mypage-posts.js}" ></script>
  <!-- 페이지네이션 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
          <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li>
          <div id="choice"></div></a>
          <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li></a>
          <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li></a>
          <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li></a>
          <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-posts-title">
      <h2>내가 작성한 글</h2>
    </div>
    <div id="line"></div>
    <!-- 게시글 리스트 영역 -->
    <div class="member-profile-cumuboard-container">
      <!-- 게시글 제목 -->
      <div>
        <ul class="member-profile-cumuboard-titlebox">
          <li><b>분류</b></li>
          <li><b>제목</b></li>
          <li><b>닉네임</b></li>
          <li><b>작성일</b></li>
        </ul>
      </div>
      <!-- 게시글 목록 -->
      <div class="member-profile-cumuboard-contentsbox">
              <ul class="member-profile-cumuboard-contentbox" th:each="myposts : ${mypagePostsList}">
                <!-- commuNo, carNo, reviewNo 값을 hidden div에 저장 -->
                <div class="commuNo" th:text="${myposts.commuNo}" style="display: none;"></div>
                <div class="carNo" th:text="${myposts.carNo}" style="display: none;"></div>
                <div class="reviewNo" th:text="${myposts.reviewNo}" style="display: none;"></div>

                <!-- type 값은 th:attr로 data-type 속성에 삽입 -->
                <li th:attr="data-type=${myposts.type}">
                  <span class="myposts-cate" th:switch="${myposts.type}">
                      <span th:case="'COMMU'">커뮤니티</span>
                      <span th:case="'CAR'">　카풀</span>
                      <span th:case="'REVIEW'">봉사후기</span>
                  </span>
                </li>

                <li><div class="myposts-title" th:text="${myposts.title}"></div></li>
                <li><div class="myposts-writer" th:text="${myposts.writer}"></div></li>
                <li><div class="myposts-regidate" th:text="${#dates.format(myposts.regidate, 'yyyy-MM-dd')}"></div></li>
                <div class="memberNo" th:text="${myposts.memberNo}" style="display: none;"></div>
              </ul>
            </div>
      </div>
      <!-- 페이지네이션 -->
      <div id="pagination"></div>
    </div>


  </main>
</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>

</html>