<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-봉사</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-volun-list.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
<!--  <script defer th:src="@{/js/mypage/mypage-volun-list.js}" ></script>-->
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a href="../../html/mypage/mypage-update.html">개인정보수정</li></a>
          <li id="posts"><a href="../../html/mypage/mypage-posts.html">작성글조회</li></a>
          <li id="volunteer"><a href="../../html/mypage/mypage-volunteer.html">봉사</li>
          <div id="choice"></div></a>
          <li id="adopt"><a href="../../html/mypage/mypage-adopt.html">입양</li></a>
          <li id="inbox"><a href="../../html/mypage/mypage-inbox.html">쪽지함</li></a>
          <li id="auth"><a href="../../html/mypage/mypage-auth.html">2차인증</li></a>
          <li id="withdrawal"><a href="../../html/mypage/mypage-quit.html">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-volun-navbox">
      <nav>
        <ul class="member-volun-nav-ul">
          <li id="hours"><a href="../../html/mypage/mypage-volunteer.html">봉사시간</li></a>
          <li id="volun-list"><a href="#">봉사신청내역</li>          
          <div id="volun-choice"></div></a>
        </ul>
      </nav>
    </div>
    <div id="line"></div>

    <!-- 게시글 리스트 영역 -->
    <div class="member-profile-volunboard-container">
      <!-- 게시글 제목 -->
      <div>
        <ul class="member-profile-volunboard-titlebox">
          <li><b>봉사 신청서</b></li>
          <li><b>상태</b></li>
          <li><b>작성일</b></li>
        </ul>
      </div>
      <!-- 게시글 목록 -->
      <div class="member-profile-volunboard-contentsbox">
        <ul class="member-profile-volunboard-content">
          <li>
            <div class="mypage-volun-list" th:each="myvolun : ${mypageVolunList}">
              <ul class="member-profile-volunboard-contentbox">
                <li th:text="${myvolun.volunTitle}"></li>
                <li th:if="${myvolun.volunStatus} == 'T'" th:text="수락"></li>
                <li th:if="${myvolun.volunStatus} == 'F'" th:text="거절"></li>
                <li th:text="${#dates.format(myvolun.volunPeriodend, 'yyyy-MM-dd')}"></li>
              </ul>
              <div class="memberNo" th:text="${myvolun.memberNo}" style="display: none;"></div>
            </div>
          </li>
          <li>
            <div>
              <ul class="member-profile-volunboard-contentbox">
                <li><a href="../../html/mypage/mypage-volun-form.html">남양주 봉사 신청서</li></a>
                <li>검토중</li>
                <li>2024.07.28</li>
              </ul>
            </div>
          </li>
          <li>
            <div>
              <ul class="member-profile-volunboard-contentbox">
                <li><a href="../../html/mypage/mypage-volun-form.html">행복한 유기견 봉사 신청서</li></a>
                <li>검토중</li>
                <li>2024.07.27</li>
              </ul>
            </div>
          </li>
          <li>
            <div>
              <ul class="member-profile-volunboard-contentbox">
                <li><a href="../../html/mypage/mypage-volun-form.html">시흥 봉사 신청서</li></a>
                <li>거절</li>
                <li>2024.07.26</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
      <!-- 페이지네이션 -->
      <div class="pagination">
        <button class="prev">◀</button>
        <button class="page">1</button>
        <button class="page">2</button>
        <button class="page">3</button>
        <button class="page">4</button>
        <button class="page">5</button>
        <button class="next">▶</button>
      </div>
  </main>

</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script defer src="../../js/main/header.js"></script>

</html>