<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-작성글조회</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-posts.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
<!--  <script defer th:src="@{/js/mypage/mypage-posts.js}" ></script>-->
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a href="../../html/mypage/mypage-update.html">개인정보수정</li></a>
          <li id="posts"><a href="../../html/mypage/mypage-posts.html">작성글조회</li>          
          <div id="choice"></div></a>
          <li id="volunteer"><a href="../../html/mypage/mypage-volunteer.html">봉사</li></a>
          <li id="adopt"><a href="../../html/mypage/mypage-adopt.html">입양</li></a>
          <li id="inbox"><a href="../../html/mypage/mypage-inbox.html">쪽지함</li></a>
          <li id="auth"><a href="../../html/mypage/mypage-auth.html">2차인증</li></a>
          <li id="withdrawal"><a href="../../html/mypage/mypage-quit.html">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-posts-title">
      <h2>내가 작성한 글</h2>
    </div>
    <div id="line"></div>
    <!-- 게시글 리스트 영역 -->
    <div class="member-profile-cumuboard-container">
      <!-- 게시글 제목 -->
      <div>
        <ul class="member-profile-cumuboard-titlebox">
          <li><b>분류</b></li>
          <li><b>제목</b></li>
          <li><b>닉네임</b></li>
          <li><b>작성일</b></li>
        </ul>
      </div>
      <!-- 게시글 목록 -->
      <div class="member-profile-cumuboard-contentsbox">
        <ul class="member-profile-cumuboard-content">
          <li>
            <div>
              <ul class="member-profile-cumuboard-contentbox" th:each="myposts : ${mypagePostsList}">
                <li><span th:switch="${myposts.type}">
                  <span th:case="'COMMU'">커뮤니티</span>
                  <span th:case="'CAR'">카풀</span>
                  <span th:case="'REVIEW'">봉사후기</span></li>
                <li><span th:text="${myposts.title}"></span></li>
                <li><span th:text="${myposts.writer}"></span></li>
                <li><span th:text="${#dates.format(myposts.regidate, 'yyyy-MM-dd')}"></span></li>
                  <div class="memberNo" th:text="${myposts.memberNo}" style="display: none;"></div>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- 페이지네이션 -->
      <div class="pagination">
        <button class="prev">◀</button>
        <button class="page">1</button>
        <button class="page">2</button>
        <button class="page">3</button>
        <button class="page">4</button>
        <button class="page">5</button>
        <button class="next">▶</button>
      </div>
    </div>


  </main>
</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>

</html>