<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-보낸쪽지</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-outbox.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
  <script defer th:src="@{/js/mypage/mypage-outbox.js}" ></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a href="../../html/mypage/mypage-update.html">개인정보수정</li></a>
          <li id="posts"><a href="../../html/mypage/mypage-posts.html">작성글조회</li></a>
          <li id="volunteer"><a href="../../html/mypage/mypage-volunteer.html">봉사</li></a>
          <li id="adopt"><a href="../../html/mypage/mypage-adopt.html">입양</li></a>
          <li id="inbox"><a href="#">쪽지함</li>          
          <div id="choice"></div></a>
          <li id="auth"><a href="../../html/mypage/mypage-auth.html">2차인증</li></a>
          <li id="withdrawal"><a href="../../html/mypage/mypage-quit.html">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-inbox-navbox">
      <nav>
        <ul class="member-outbox-nav-ul">
          <li id="member-inbox"><a href="../../html/mypage/mypage-inbox.html">받은 쪽지</li></a>
          <li id="member-outbox"><a href="../../html/mypage/mypage-outbox.html">보낸 쪽지</li>
            <div id="outbox-choice"></div></a>
        </ul>
      </nav>
    </div>
    <div id="line"></div>
<!-- 게시글 리스트 영역 -->
<div class="member-notebox-container">
  <!-- 게시글 제목 -->
  <div>
    <ul class="member-notebox-titlebox">
      <!-- <li><b>상태</b></li> -->
      <li><b>수신자</b></li>
      <li><b>송신자</b></li>
      <li><b>제목</b></li>
      <li><b>내용</b></li>
      <li><b>날짜</b></li>
    </ul>
  </div>
  <!-- 게시글 목록 -->
  <div class="member-notebox-contentsbox"  th:each="noteS : ${mypageNoteSendList}">
    <ul class="member-notebox-content">
      <li>
        <div>
          <ul class="member-notebox-contentbox">
            <li><div th:text="${noteS.noteboxSendRName}"></div></li>
            <li><div th:text="${noteS.noteboxSendSName}"></div></li>
            <li><div th:text="${noteS.noteboxSendTitle}"></div></li>
            <li><div th:text="${noteS.noteboxSendContent}"></div></li>
            <li><div th:text="${#dates.format(noteS.noteboxSendRegidate, 'yyyy.MM.dd hh:mm:ss')}"></div></li>
          </ul>
          <div class="memberNo" th:text="${noteS.memberNo}" style="display: none;"></div>
        </div>
      </li>
      <li>
        <div>
          <ul class="member-notebox-contentbox">
            <!-- <li>[읽음]</li> -->
            <li>슈슈</li>
            <li>아가다</li>
            <li><a href="../../html/mypage/mypage-notebox-detail.html">아가다!</li></a>
            <li><a href="../../html/mypage/mypage-notebox-detail.html">우리 코코 너무 예쁘지</li></a>
            <li>24.07.29 14:20</li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <ul class="member-notebox-contentbox">
            <!-- <li>[읽음]</li> -->
            <li>슈슈</li>
            <li>아가다</li>
            <li><a href="../../html/mypage/mypage-notebox-detail.html">아가다!</li></a>
            <li><a href="../../html/mypage/mypage-notebox-detail.html">우리 코코 너무 예쁘지</li></a>
            <li>24.07.29 14:20</li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <ul class="member-notebox-contentbox">
            <!-- <li>[읽음]</li> -->
            <li>슈슈</li>
            <li>아가다</li>
            <li><a href="../../html/mypage/mypage-notebox-detail.html">아가다!</li></a>
            <li><a href="../../html/mypage/mypage-notebox-detail.html">우리 코코 너무 예쁘지</li></a>
            <li>24.07.29 14:20</li>
          </ul>
        </div>
      </li>
    </ul>

          
          <!-- 페이지네이션 -->
          <div class="pagination">
            <button class="prev">◀</button>
            <button class="page">1</button>
            <button class="page">2</button>
            <button class="page">3</button>
            <button class="page">4</button>
            <button class="page">5</button>
            <button class="next">▶</button>
    
    
          </div>
          <div class="outbox-admain-btuall">
            <button class="outbox-admain-btu" type="button">
              <a href="../../html/mypage/mypage-notebox-write.html"><span class="outbox-admain-btu-sp">쪽지쓰기</span></a>
            </button>
          </div>
    </div>
  </main>

</body>
<footer th:replace="~{/fragment/footer :: footer}"></footer>

<script defer src="../../js/main/header.js"></script>
<script defer src="../../js/mypage/mypage-outbox.js"></script>

</html>