<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지-프로필</title>
  <link rel="stylesheet" th:href="@{/css/mypage/mypage-profile.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/mypage/mypage-profile.js}" ></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <div class="member-profile-navbox">
      <nav>
        <ul class="member-profile-nav-ul">
          <li id="profile"><a th:href="@{/mypage/update}">개인정보수정</li></a>
          <li id="posts"><a th:href="@{/mypage/posts}">작성글조회</li></a>
          <li id="volunteer"><a th:href="@{/mypage/volun}">봉사</li></a>
          <li id="adopt"><a th:href="@{/mypage/adopt}">입양</li></a>
          <li id="inbox"><a th:href="@{/mypage/noteboxReceiveList}">쪽지함</li></a>
          <li id="withdrawal"><a th:href="@{/mypage/withdrawal}">회원탈퇴</li></a>
        </ul>
      </nav>
    </div>
    <div class="member-profile-infobox">
      <div class="member-profile-info">
        <div class="member-profile-infoarea">
          <div class="member-profile-infoimg">
            <img src="../../img/puppy-logo.jpg">
          </div>
          <div th:each="mypage : ${mypageProfile}" class="member-profile-info-textarea">
            <ul>
              <li th:text="${mypage.memberName}"></li>
              <li th:text="${mypage.memberPhoneNumber}"></li>
              <li th:text="${mypage.memberEmail}"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>

</html>