<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 센터 회원가입 신청 목록</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-center-apply/admin-center-apply-list.css}"/>
    <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="../../../img/logo.jpg">
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>센터 회원가입 신청 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="delete-box-layout">
                        <div class="delete-box">
                            <button class="approveButton delete-button">승인</button>
                            <button class="refuseButton delete-button">거절</button>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>센터 회원가입 신청 목록</span>
                            </div>

                            <div class="info-table">
                                <!-- Header -->
                                <div class="info-row header-row">
                                    <div class="info-cell checkbox-line">
                                        <input type="checkbox" id="allSelect">
                                    </div>
                                    <div class="info-cell-no info-cell">상태</div>
                                    <div class="info-cell-stat info-cell">센터명</div>
                                    <div class="info-cell-cate info-cell">파일</div>
                                    <div class="info-cell-phone info-cell">연락처</div>
                                    <div class="info-cell-email info-cell">이메일</div>
                                </div>

                                <div th:each="centerMember, iterStat : ${centerMemberList}" class="info-row" >
                                    <div class="info-cell checkbox-line">
                                        <input type="checkbox" class="checkbox" name="check" ath:data-center-member-no="${centerMember.centerMemberNo}">
                                    </div>
                                    <a style="display: flex; justify-content: center" th:href="@{/admin/centerApplyDetail(centerMemberNo=${centerMember.centerMemberNo})}">
                                        <div class="info-cell info-cell-no" th:text="${centerMember.centerMemberStatus}"></div>
                                    <div class="info-cell info-cell-stat" th:text="${centerMember.centerMemberName}"></div>
                                    <div class="info-cell info-cell-cate" th:text="${centerMember.centerFileName}"></div>
                                    <div class="info-cell info-cell-phone" th:text="${centerMember.centerMemberPhoneNumber}"></div>
                                    <div class="info-cell info-cell-email" th:text="${centerMember.centerMemberEmail}"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>
<script th:src="@{/js/admin/centerApply.js}"></script>
</html>