<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 입양 신청 관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-ATP/admin-ATP-list.css}"/>
<!-- 페이지네이션 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="../../../img/logo.jpg">
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>입양 신청</span>

                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="delete-box-layout">
                        <form class="search-box" action="/admin/adoptSearchList" method="get">
                            <input type="text" class="search-text" name="keyword" placeholder="검색어를 입력하세요.">
                            <button class="search-btn" type="submit">검색</button>
                            <button class="search-btn" type="submit" th:href="@{/admin/adoptList}">초기화</button>
                         </form>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>
                                    <a class="member-btn" th:href="@{/admin/adoptList}" th:classappend="${currentPage == 'adopt'} ? 'active'">입양</a>
                                    &emsp;&emsp;&emsp;
                                    <a class="member-btn" th:href="@{/admin/protectList}" th:classappend="${currentPage == 'protect'} ? 'active'">임시보호</a></span>
                            </div>
                    
                            <div class="info-table">
                                <!-- Header -->
                                <div class="info-row header-row">
                                    <div class="info-cell-no info-cell">No</div>
                                    <div class="info-cell-stat info-cell">구분</div>
                                    <div class="info-cell-name info-cell">이름</div>
                                    <div class="info-cell-nickname info-cell">닉네임</div>
                                    <div class="info-cell-email info-cell">이메일</div>
                                    <div class="info-cell-phone info-cell">전화번호</div>
                                </div>
                    
                                <!-- Data rows -->
                                <div th:each="adoptRequest, iterStat : ${adoptRequestList}" class="info-row adopt">
                                    <a style="display: flex; justify-content: center" th:href="@{/admin/adoptDetail(adoptRequestNo=${adoptRequest.adoptRequestNo})}">
                                    <div class="info-cell-no info-cell" th:text="${adoptRequest.adoptRequestNo}"></div>
                                    <div class="info-cell-stat info-cell">입양</div>
                                    <div class="info-cell-name info-cell" th:text="${adoptRequest.memberName}"></div>
                                    <div class="info-cell-nickname info-cell" th:text="${adoptRequest.memberNickName}"></div>
                                    <div class="info-cell-email info-cell" th:text="${adoptRequest.memberEmail}"></div>
                                    <div class="info-cell-phone info-cell" th:text="${adoptRequest.memberPhoneNumber}"></div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>
</html>