<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>임시 보호 신청서</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-member/admin-member-detail.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-volun/admin-volun-detail.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
<div>
  <div class="info-title-box info-title-box-flex">
    <div class="logo-box-layout">
      <div class="logo-box">
        <img th:src="@{/img/header_logo.png}" alt="Logo">
      </div>
    </div>
    <div>
      <div class="select-name">
        <span>임시 보호 신청 관리</span>
      </div>
    </div>
  </div>
  <div class="wrap">

    <!-- 사이드 바 -->
    <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

    <div class="container">
      <div class="container-margin">

        <!-- 내용 섹션 -->
        <section class="board-info-box-layout">
          <div class="board-info-box">
            <div class="board-info-title-box" style="justify-content: left;">
              <span>임시 보호 신청서 상세</span>
            </div>
            <!-- 신청서 박스 -->
            <div class="volun-write-area">
              <div style="margin: 0 auto; border-bottom: 1px solid black;">
                <div class="title">
                  <span>임시 보호 신청서 - <span th:text="${adoptRequest.adoptRequestNo}"></span></span>
                  <span style="float:right">작성자 - <span th:text="${adoptRequest.memberName}"></span></span>
                </div>
                <br>
                <form id="adopt-requestForm">
                  <div class="volun-form-group">
                    <label for="adoptRequestName">이름 <span class="required">*</span></label>
                    <input type="text" id="adoptRequestName" name="adoptRequestName" readonly th:value="${adoptRequest.adoptRequestName}" required>
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestPhone">전화번호 <span class="required">*</span></label>
                    <input type="text" id="adoptRequestPhone" name="adoptRequestPhone" readonly th:value="${adoptRequest.adoptRequestPhone}" required>
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestPhoneSub">보조 전화번호</label>
                    <input type="text" id="adoptRequestPhoneSub" name="adoptRequestPhoneSub" readonly th:value="${adoptRequest.adoptRequestPhoneSub}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestEmail">이메일 <span class="required">*</span></label>
                    <input type="email" id="adoptRequestEmail" name="adoptRequestEmail" readonly th:value="${adoptRequest.adoptRequestEmail}" required>
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label>성별 <span class="required">*</span></label>
                    <div class="gender-buttons">
                      <div th:class="${adoptRequest.adoptRequestGender} == 'M' ? 'gender-btn-active' : 'gender-btn'">남</div>
                      <div th:class="${adoptRequest.adoptRequestGender} == 'F' ? 'gender-btn-active' : 'gender-btn'">여</div>
                    </div>
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestAge">나이</label>
                    <input type="text" id="adoptRequestAge" name="adoptRequestAge" readonly th:value="${adoptRequest.adoptRequestAge}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestZipcode">우편번호 <span class="required">*</span></label>
                    <input type="text" id="adoptRequestZipcode" name="adoptRequestZipcode" readonly th:value="${adoptRequest.adoptRequestZipcode}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestAddress">주소 <span class="required">*</span></label>
                    <input type="text" id="adoptRequestAddress" name="adoptRequestAddress" readonly th:value="${adoptRequest.adoptRequestAddress}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestAddrDetail">상세주소</label>
                    <input type="text" id="adoptRequestAddrDetail" name="adoptRequestAddrDetail" readonly th:value="${adoptRequest.adoptRequestAddressDetail}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestJob">직업</label>
                    <input type="text" id="adoptRequestJob" name="adoptRequestJob" readonly th:value="${adoptRequest.adoptRequestJob}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestMarry">결혼 여부</label>
                    <input type="text" id="adoptRequestMarry" name="adoptRequestMarry" readonly th:value="${adoptRequest.adoptRequestMarry}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label>약관 동의 <span class="required">*</span></label>
                    <input type="text" id="adoptRequestInfoAgree" name="adoptRequestInfoAgree" readonly th:value="${adoptRequest.adoptRequestInfoAgreement}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ1">Q1</label>
                    <input type="text" id="adoptRequestQ1" name="adoptRequestQ1" readonly th:value="${adoptRequest.adoptRequestQ1}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ2">Q2</label>
                    <input type="text" id="adoptRequestQ2" name="adoptRequestQ2" readonly th:value="${adoptRequest.adoptRequestQ2}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ3">Q3</label>
                    <input type="text" id="adoptRequestQ3" name="adoptRequestQ3" readonly th:value="${adoptRequest.adoptRequestQ3}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ4">Q4</label>
                    <input type="text" id="adoptRequestQ4" name="adoptRequestQ4" readonly th:value="${adoptRequest.adoptRequestQ4}">
                  </div>
                  <br>
                  <!-- 추가 질문들 -->
                  <div class="volun-form-group">
                    <label for="adoptRequestQ5">Q5</label>
                    <input type="text" id="adoptRequestQ5" name="adoptRequestQ5" readonly th:value="${adoptRequest.adoptRequestQ5}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ6">Q6</label>
                    <input type="text" id="adoptRequestQ6" name="adoptRequestQ6" readonly th:value="${adoptRequest.adoptRequestQ6}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ7">Q7</label>
                    <input type="text" id="adoptRequestQ7" name="adoptRequestQ7" readonly th:value="${adoptRequest.adoptRequestQ7}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ8">Q8</label>
                    <input type="text" id="adoptRequestQ8" name="adoptRequestQ8" readonly th:value="${adoptRequest.adoptRequestQ8}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ9">Q9</label>
                    <input type="text" id="adoptRequestQ9" name="adoptRequestQ9" readonly th:value="${adoptRequest.adoptRequestQ9}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ10">Q10</label>
                    <input type="text" id="adoptRequestQ10" name="adoptRequestQ10" readonly th:value="${adoptRequest.adoptRequestQ10}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ11">Q11</label>
                    <input type="text" id="adoptRequestQ11" name="adoptRequestQ11" readonly th:value="${adoptRequest.adoptRequestQ11}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ12">Q12</label>
                    <input type="text" id="adoptRequestQ12" name="adoptRequestQ12" readonly th:value="${adoptRequest.adoptRequestQ12}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ13">Q13</label>
                    <input type="text" id="adoptRequestQ13" name="adoptRequestQ13" readonly th:value="${adoptRequest.adoptRequestQ13}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ14">Q14</label>
                    <input type="text" id="adoptRequestQ14" name="adoptRequestQ14" readonly th:value="${adoptRequest.adoptRequestQ14}">
                  </div>
                  <br>
                  <div class="volun-form-group">
                    <label for="adoptRequestQ15">Q15</label>
                    <input type="text" id="adoptRequestQ15" name="adoptRequestQ15" readonly th:value="${adoptRequest.adoptRequestQ15}">
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</body>

</html>
