<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>센터 프로필 페이지</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/centermypage/center-mypage-profile.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>

<main>
  <div class="center-member-profile-navbox">
    <nav>
      <ul class="center-member-profile-nav-ul">
        <li id="profile"><a th:href="@{/centerMypage/updateProfile}">개인정보 수정</a></li>
        <li id="mywrite"><a th:href="@{/centerMypage/writeInfoCommuList}"> 작성글조회</a></li>
        <li id="volunteer"><a th:href="@{/center-mypage-volun-list.html}">봉사</a></li>
        <li id="adopt"><a th:href="@{/center-mypage-adopt-adopt-list.html}">입양</a></li>
        <li id="notebox"><a th:href="@{/centerMypage/noteboxSendList}">쪽지함</a></li>
        <li id="withdrawal"><a th:href="@{/center-mypage-withdrawal.html}">회원 탈퇴</a></li>
      </ul>
    </nav>
  </div>
  <div class="center-member-profile-infobox">
    <div class="center-member-profile-info">
      <div class="center-member-profile-infoarea">
        <div class="center-member-profile-info-textarea">
          <ul>
            <li th:text="${profile.centerMemberName}">이름</li>
            <li th:text="${profile.centerMemberPhoneNumber}">전화번호</li>
            <li th:text="${profile.centerMemberEmail}">이메일</li>
            <li th:text="${profile.centerMemberAddress}">주소</li>
            <li th:text="${profile.centerMemberDetailAddress}">상세주소</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>

</body>
</html>
