<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>센터게시글조회페이지</title>
  <link rel="stylesheet" th:href="@{/css/centermypage/center-mypage-writeinfo.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>

<main>
  <!-- 메인페이지 목록 -->
  <div class="center-member-profile-navbox">
    <nav>
      <ul class="center-member-profile-nav-ul">
        <li id="profile"><a th:href="@{/centerMypage/updateProfile}">개인정보수정</a></li>
        <li id="mywrite"><a th:href="@{/centerMypage/writeInfoCommuList}"> 작성글조회</a></li>
        <div id="choice"></div>
        <li id="volunteer"><a th:href="@{/centerMypage/volunRequestList}"> 봉사</a></li>
        <li id="adopt"><a th:href="@{/centerMypage/adoptRequestList}">입양</a></li>
        <li id="notebox"><a th:href="@{/centerMypage/noteboxSendList}">쪽지함</a></li>
        <li id="withdrawal"><a href="./center-mypage-withdrawal.html"> 회원탈퇴</a></li>
      </ul>
    </nav>
  </div>
  <!-- 게시판 목록 -->
  <div class="center-member-profile-navboard">
    <nav>
      <ul class="center-member-profile-navboard-ul">
        <li><a th:href="@{/centerMypage/writeInfoCommuList}">커뮤니티</a></li>
        <div id="choice"></div>
        <li><a th:href="@{/centerMypage/writeInfoVolList}">봉사모집글</a></li>
        <li><a th:href="@{/centerMypage/writeInfoAdoptList}">안심입양</a></li>
      </ul>
    </nav>
  </div>
  <!-- 게시글 리스트 영역 -->
  <div class="center-member-profile-cumuboard-container">
    <!-- 게시글 제목 -->
    <div>
      <ul class="center-member-profile-cumuboard-titlebox">
        <li><b>분류</b></li>
        <li><b>제목</b></li>
        <li><b>센터명</b></li>
        <li><b>날짜</b></li>
      </ul>
    </div>
    <!-- 게시글 목록 -->
    <div class="center-member-profile-cumuboard-contentsbox">
      <ul class="center-member-profile-cumuboard-content">
        <li th:each="commuList : ${commuWriteInfoList}">
          <div>
            <ul class="center-member-profile-cumuboard-contentbox">
              <li th:text="${commuList.commuCate}">커뮤니티</li>
              <li>
                <a th:href="@{/commu/post/{commuNo}(commuNo=${commuList.commuNo})}"
                   th:text="${commuList.commuTitle}">제목</a>
                <span th:text="'[' + ${commuList.commentCount} + ']'">[댓글수]</span>
              </li>
              <li th:text="${commuList.centerName}">센터명</li>
              <li th:text="${#dates.format(commuList.commuRegiDate, 'yyyy/MM/dd')}">날짜</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 페이지네이션 -->
  <div id="pagination" class="pagination"></div>
  <!--  <div class="pagination">-->
  <!--    <button class="prev">◀</button>-->
  <!--    <button class="page">1</button>-->
  <!--    <button class="page">2</button>-->
  <!--    <button class="page">3</button>-->
  <!--    <button class="page">4</button>-->
  <!--    <button class="page">5</button>-->
  <!--    <button class="next">▶</button>-->
  <!--  </div>-->


</main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</html>