<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>센터정보수정페이지</title>
  <link rel="stylesheet" th:href="@{/css/centermypage/center-mypage-profile-update.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
  <div class="center-member-profile-navbox">
    <nav>
      <ul class="center-member-profile-nav-ul">
        <li id="profile"><a th:href="@{/centerMypage/updateProfile}">개인정보수정</a></li>
        <div id="choice"></div>
        <li id="mywrite"><a th:href="@{/centerMypage/writeInfoCommuList}"> 작성글조회</a></li>
        <li id="volunteer"><a href="./center-mypage-volun-list.html"> 봉사</a></li>
        <li id="adopt"><a href="./center-mypage-adopt-adopt-list.html"> 입양</a></li>
        <li id="notebox"><a th:href="@{/centerMypage/noteboxSendList}">쪽지함</a></li>
        <li id="withdrawal"><a href="./center-mypage-withdrawal.html"> 회원탈퇴</a></li>
      </ul>
    </nav>
  </div>

<!--정보수정 form-->
  <div class="center-member-profile-infobox">
    <div class="center-member-profile-info">
      <div class="center-member-profile-infoarea">
        <div class="center-member-profile-info-textarea">
          <form action="/centerMypage/updateProfileOk" method="post">
            <div class="center-member-profile-inputbox">
              <!-- 센터명 입력 -->
              <label for="name">
                <div id="contents">
                  <div id="labelname">센터명</div>
                  <div><input type="text" id="name" name="centerMemberName" th:value="${profile.centerMemberName}" readonly></div>
                </div>
              </label>

              <!-- 이메일 입력 -->
              <label for="email">
                <div id="contents">
                  <div id="labelname">이메일</div>
                  <div>
                    <input
                            type="text"
                            id="email"
                            name="centerMemberEmail"
                            placeholder="이메일을 입력하세요"
                            th:value="${profile.centerMemberEmail}">
                  </div>
                  <button
                          type="button"
                          class="center-member-profile-button-small"
                          id="emailCheckButton">
                    중복확인
                  </button>
                  <div id="emailCheckResult" style="margin-top: 5px; color: red;"></div> <!-- 결과 메시지 표시 영역 -->
                </div>
                <input type="hidden" id="currentEmail" th:value="${profile.centerMemberEmail}">
              </label>


              <!-- 전화번호 입력 (02-123-4567 형식 포함) -->
              <label for="phonenumber">
                <div id="contents">
                  <div id="labelname">대표번호</div>
                  <div>
                    <input type="text" id="phonenumber" name="centerMemberPhoneNumber" placeholder="000-0000-0000"
                           pattern="^(\d{2,3}-\d{3,4}-\d{4})$" required
                           th:value="${profile.centerMemberPhoneNumber}">
                  </div>
                </div>
              </label>

              <!-- 우편번호 입력 -->
              <label for="zipcode">
                <div id="contents">
                  <div id="labelname">우편번호</div>
                  <div><input type="text" id="zipcode" name="centerMemberZipcode" th:value="${profile.centerMemberZipcode}" readonly></div>
                  <button type="button" class="center-member-profile-button-small" id="addressSearch">주소찾기</button>
                </div>
              </label>

              <!-- 주소 입력 -->
              <label for="address">
                <div id="contents">
                  <div id="labelname">주소</div>
                  <div><input type="text" id="address" name="centerMemberAddress"
                              th:value="${profile.centerMemberAddress}" readonly></div>
                </div>
              </label>

              <!-- 상세 주소 입력 -->
              <label for="detailAddress">
                <div id="contents">
                  <div id="labelname">상세주소</div>
                  <div><input type="text" id="detailAddress" name="centerMemberDetailAddress"
                              th:value="${profile.centerMemberDetailAddress}"></div>
                </div>
              </label>

              <!-- 현재 비밀번호 입력란 -->
              <label for="password">
                <div id="contents">
                  <div id="labelname">현재 비밀번호</div>
                  <div>
                    <input type="password" id="password" name="centerMemberPw" placeholder="현재 비밀번호 입력">
                  </div>
                    <div class="alert">
                      <p id="currentPasswordMessage" style="display: none; color: red; font-size: 8px;">현재 비밀번호를 입력하세요.</p>
                    </div>
                </div>
              </label>

              <!-- 새 비밀번호 입력란 -->
              <label for="newpassword">
                <div id="contents">
                  <div id="labelname">새 비밀번호</div>
                  <div>
                    <input type="password" id="newpassword" name="centerMemberNewPw" placeholder="새 비밀번호 입력">
                  </div>
                    <div class="alert">
                      <p id="newPasswordStrengthMessage" style="display: none; color: red; font-size: 8px;">비밀번호는 최소 8자 이상, 대문자, 소문자, 숫자 및 특수문자 포함</p>
                    </div>
                </div>
              </label>

              <!-- 새 비밀번호 확인 입력란 -->
              <label for="confirmNewPassword">
                <div id="contents">
                  <div id="labelname">새 비밀번호 확인</div>
                  <div>
                    <input type="password" id="confirmNewPassword" name="confirmNewPw" placeholder="새 비밀번호 확인">
                  </div>
                    <div class="alert">
                      <p id="passwordMatchMessage" style="display: none; color: red; font-size: 8px;">비밀번호가 일치하지 않습니다.</p>
                    </div>
                </div>
              </label>

<!--              &lt;!&ndash; 현재 비밀번호 입력란 &ndash;&gt;-->
<!--              <label for="password">-->
<!--                <div id="contents">-->
<!--                  <div id="labelname">현재 비밀번호</div>-->
<!--                  <div><input type="password" id="password" name="centerMemberPw" placeholder="현재 비밀번호 입력"></div>-->
<!--                </div>-->
<!--              </label>-->

<!--              &lt;!&ndash; 새 비밀번호 입력란 &ndash;&gt;-->
<!--              <label for="newpassword">-->
<!--                <div id="contents">-->
<!--                  <div id="labelname">새 비밀번호</div>-->
<!--                  <div><input type="password" id="newpassword" name="centerMemberNewPw" placeholder="새 비밀번호 입력"></div>-->
<!--                  <div class="alert">-->
<!--                    <p id="newPasswordStrengthMessage" style="display: none;">비밀번호는 최소 8자 이상, 대문자, 소문자, 숫자 및 특수문자 포함</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </label>-->

<!--              &lt;!&ndash; 새 비밀번호 확인 입력란 &ndash;&gt;-->
<!--              <label for="confirmNewPassword">-->
<!--                <div id="contents">-->
<!--                  <div id="labelname">새 비밀번호 확인</div>-->
<!--                  <div><input type="password" id="confirmNewPassword" name="confirmNewPw" placeholder="새 비밀번호 확인"></div>-->
<!--                  <div class="alert">-->
<!--                    <p id="passwordMatchMessage" style="display: none;">비밀번호가 일치하지 않습니다.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </label>-->

              <!-- 알림 수신 동의 -->
              <div id="contents">
                <div id="labelname">알림수신 동의</div>
                동의<input type="radio" name="centerMemberAgree" id="Y" value="Y" th:checked="${profile.centerMemberAgree == 'Y'}">
                비동의<input type="radio" name="centerMemberAgree" id="N" value="N" th:checked="${profile.centerMemberAgree == 'N'}">
              </div>

              <!-- 수정 버튼 -->
              <div class="center-member-profile-button">
                <div id="disablebtn">
                <button type="submit" id="updateButton" class="center-member-profile-button-small" disabled>수정</button>
                </div>
              </div>
              <!-- 커스텀 모달 -->
              <div id="customModal" class="modal" style="display:none;">
                <div class="modal-content">
                  <p id="modalMessage"></p>
                  <button id="modalConfirmButton">확인</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>
<script defer th:src="@{/js/centermypage/center-mypage-profile-update.js}"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
</html>