<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 공지사항 게시판 목록</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/admin/admin-main/admin-main.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
</head>

<body>
<div>
  <div class="info-title-box info-title-box-flex">
    <div class="logo-box-layout">
      <div class="logo-box">
        <img src="../../../img/logo.jpg">
      </div>
      <div class="logo-title">
        <span>Jar</span>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div class="select-name">
        <span>관리자 메인 페이지</span>
      </div>
    </div>
  </div>
  <div class="wrap">

    <!-- 사이드 바 -->
    <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

    <div class="container">
      <div class="container-margin">
        <!-- 내용 섹션 -->
        <section class="board-info-box-layout">
          <div class="board-info-box">
            <div class="board-info-title-box">
              <span>회원 관리</span>
              <a href="/admin/memberList"><span class="board-info-more">더보기</span></a>
            </div>

            <div class="info-table">
              <!-- Header row -->
              <div class="info-row header-row">
                <div class="info-ce ll">이름</div>
                <div class="info-cell">닉네임</div>
                <div class="info-cell">이메일</div>
              </div>

              <!-- Data rows -->
              <div th:each="member, iterStat : ${memberList}" class="info-row" th:if="${iterStat.index < 4}">
                <div class="info-cell" th:text="${member.memberName}"></div>
                <div class="info-cell" th:text="${member.memberNickname}"></div>
                <div class="info-cell" style="justify-content: left;" th:text="${member.memberEmail}"></div>
              </div>
            </div>
          </div>
        </section>

        <section class="board-info-box-layout">
          <div class="board-info-box">
            <div class="board-info-title-box">
              <span>신고 내역</span>
              <a href="/admin/reportList"><span class="board-info-more">더보기</span></a>
            </div>

            <div class="info-table">
              <!-- Header row -->
              <div class="info-row header-row">

                <div class="info-cell">구분</div>
                <div class="info-cell">신고자</div>
                <div class="info-cell">신고일</div>
                <div class="info-cell">사유</div>
              </div>

              <div th:each="report, iterStat : ${reportList}" class="info-row" th:if="${iterStat.index < 4}">
                <div class="info-cell">
                  <span th:switch="${report.reportType}">
                    <span th:case="'POST'">게시글</span>
                    <span th:case="'COMMENT'">댓글</span>
                  </span>
                  <span>/</span>
                  <span th:text="${report.reportCate}"></span>
                </div>
                <div class="info-cell" th:text="${report.reportWriter}"></div>
                <div class="info-cell" th:text="${report.reportRegidate}"></div>
                <div class="info-cell" style="justify-content: left;" th:text="${report.reportContent}"></div>
              </div>
            </div>
          </div>
        </section>

        <section class="board-info-box-layout">
          <div class="board-info-box">
            <div class="board-info-title-box">
              <span>게시글 관리</span>
              <a href="/admin/postList"><span class="board-info-more">더보기</span></a>
            </div>

            <div class="info-table">
              <!-- Header row -->
              <div class="info-row header-row">

                <div class="info-cell">분류</div>
                <div class="info-cell">제목</div>
                <div class="info-cell">내용</div>
                <div class="info-cell">작성자</div>
              </div>
              <div th:each="post, iterStat : ${postList}" class="info-row" th:if="${iterStat.index < 4}">
                <div class="info-cell">
                  <span th:switch="${post.postType}">
                    <span th:case="'COMMU'">커뮤니티</span>
                    <span th:case="'VOLUN'">봉사</span>
                    <span th:case="'DONA'">기부</span>
                    <span th:case="'ADOPT'">입양</span>
                    <span th:case="'CAR'">카풀</span>
                    <span th:case="'PROTECT'">임시보호</span>
                    <span th:case="'REVIEW'">입양후기</span>
                  </span>
                </div>
                <div class="info-cell" style="justify-content: left; margin-right: 5px" th:text="${post.postTitle}"></div>
                <div class="info-cell" style="justify-content: left; margin-right: 5px" th:text="${post.postContent}"></div>
                <div class="info-cell" th:text="${post.postWriter}"></div>
              </div>

            </div>
          </div>
        </section>

        <section class="board-info-box-layout">
          <div class="board-info-box">
            <div class="board-info-title-box">
              <span>댓글 관리</span>
              <a href="/admin/commentList"><span class="board-info-more">더보기</span></a>
            </div>

            <div class="info-table">
              <!-- Header row -->
              <div class="info-row header-row">

                <div class="info-cell">분류</div>
                <div class="info-cell">내용</div>
                <div class="info-cell">작성자</div>
              </div>

              <div th:each="comment, iterStat : ${commentList}" class="info-row" th:if="${iterStat.index < 4}">
                <div class="info-cell">
                  <span th:switch="${comment.commentType}">
                    <span th:case="'COMMU'">커뮤니티</span>
                    <span th:case="'VOLUN'">봉사</span>
                    <span th:case="'DONA'">기부</span>
                    <span th:case="'ADOPT'">입양</span>
                    <span th:case="'CAR'">카풀</span>
                    <span th:case="'PROTECT'">임시보호</span>
                    <span th:case="'REVIEW'">입양후기</span>
                  </span>
                </div>
                <div class="info-cell" style="justify-content: left; margin-right: 5px" th:text="${comment.commentContent}"></div>
                <div class="info-cell" th:text="${comment.commentWriter}"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>



</html>