<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
</head>
<body>
<!-- 사이드 바 -->
<div th:fragment="sidemenu">
  <div id="side-bar">
    <div class="side-menu">
      <div>
        <div class="menu-title-layout">
          <div class="menu-title">
            <div class="menu-name">
              MENU
            </div>
          </div>
        </div>
        <ul class="menu-bar">
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/main">
                <span>메인</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/memberList">
                <span>회원 관리</span>
              </a>
            </div>
          </li>

          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/reportList">
                <span>신고 내역</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/postList">
                <span>게시글 관리</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/commentList">
                <span>댓글 관리</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/noticeList">
                <span>공지사항 관리</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/centerApplyList">
                <span>센터 회원가입 관리</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/adoptList">
                <span>입양/임시보호 신청</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/volunList">
                <span>봉사 신청</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex">
              <a href="/admin/noteboxIn">
                <span>쪽지함</span>
              </a>
            </div>
          </li>
          <li class="menu">
            <div class="menu-flex menu-logout">
              <a href="/admin/logout">
                <span>로그아웃</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- 사이드 바 끝-->
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script src="/js/admin/sidemenu.js"></script>
</html>
