<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>봉사 글 상세</title>
  <link rel="stylesheet" th:href="@{/css/volun/volun/volun-volundetail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 입양 메인 크기 -->
    <div class="volun-main-size">
      <!-- 입양/임보/후기 게시판 바 -->
      <div class="volun-nav">
        <div class="volun-navList" id="volunPage">봉사</div>
        <div class="volun-navList" id="carPage">카풀</div>
      </div>

      <!-- 제목/작성자/등록일 크기 -->
      <div class="volun-detail-box1" th:each="volun : ${volunDetailList}">
        <div class="volunNo" th:text="${volun.volunNo}" style="display: none"></div>
        <div class="centerMemberNo" th:text="${volun.centerMemberNo}" style="display: none"></div>
        <div class="volun-detail-title" th:text="${volun.volunTitle}"></div>
        <div class="volun-detail-info">
          <span th:text="'작성자 : ' + ${volun.centerMemberName}"></span>
          <span th:text="'등록일 : ' + ${#dates.format(volun.volunRegidate, 'yyyy-MM-dd')}"></span>
        </div>
      </div>

      <!-- 글내용 크기 -->
      <div class="volun-detail-box2" th:each="volun : ${volunDetailList}">
        <div class="volun-detail-content">
          <div class="volun-detail-basicinfo">
            <div class="volun-detail-basicinfo-title">기본정보</div>
            <div th:text="'지역 : ' + ${volun.volunLocal}"></div>
            <div th:text="'모집기간 : ' + ${#dates.format(volun.volunPeriodstart, 'yyyy-MM-dd')}
             + ' ~ ' + ${#dates.format(volun.volunPeriodend, 'yyyy-MM-dd')}"></div>
            <div th:text="'봉사날짜 : ' + ${#dates.format(volun.volunStart, 'yyyy-MM-dd')}
             + ' ~ ' + ${#dates.format(volun.volunEnd, 'yyyy-MM-dd')}"></div>
            <div th:text="'봉사시간 : ' + ${volun.volunTime}"></div>
            <div th:text="'모집인원 : ' + ${volun.volunPeople}"></div>
          </div>

          <br>

          <div th:utext="${volun.volunContent}"></div>

          <br>

          <!-- 신청버튼 -->
          <div class="volun-submit-box">
            <button class="volun-submit-button" type="button" onclick="requestClick()"
                    th:if="${memberNo != null and volun.volunStatus == 'T'}">
              신청</button>
          </div>
        </div>
      </div>

      <br>

      <!-- 버튼 -->
      <div class="volun-detail-box3" th:each="volun : ${volunDetailList}">
        <div>
          <button class="volun-modify-button" type="button" onclick="modifyClick()"
                  th:if="${centerMemberNo == volun.centerMemberNo} and ${volun.volunStatus != 'F'}">수정</button>
          <button class="volun-delete-button" type="button" onclick="deleteClick()"
                  th:if="${centerMemberNo == volun.centerMemberNo}">삭제</button>
        </div>
        <button class="volun-end-button" type="button" onclick="endClick()"
                th:if="${centerMemberNo == volun.centerMemberNo and volun.volunStatus == 'T'}">마감</button>
        <button class="volun-end-button" type="button" onclick="ContentReportClick()"
                th:if="${centerMemberNo != volun.centerMemberNo and (centerMemberNo != null or memberNo != null)}">신고</button>
      </div>

      <br>

      <!-- 댓글-->
      <!-- 현재 게시글 번호 불러오기 -->
      <div th:with="volunNo=${volunDetailList[0]?.volunNo}">

        <!-- 댓글정보(댓글내용/작성자/입력날짜)를 불러오기 위한 div
        iterStat을 사용하여 각 List마다 index번호를 부여 th:each를 사용하여 값을 불러오기 때문에 댓글List마다 구분이 필요하여 생성함-->
        <div class="volun-detail-commentbox" th:each="volunComment, iterStat : ${volunCommentList}">
          <div class="volun-detail-name">
            <!-- 작성자 이름 -->
            <div class="volun-detail-name" th:text="${volunComment.commentWriterName}"></div>
            <!-- 댓글 번호 추후에 수정/삭제/신고에 사용하기 위해 display:none으로 숨김처리 -->
            <div class="volunCommentNo" th:text="${volunComment.volunCommentNo}" style="display: none"></div>
            <!-- 댓글 index번호 추후에 수정/삭제/신고에 사용하기 위해 id값에 부여함 -->
            <div class="volun-comment-buttonBox" th:id="'volun-comment-buttonBox-' + ${iterStat.index}">

              <!-- 댓글 수정 버튼-->
              <!-- 댓글 수정버튼 클릭시 index값을 포함하여 js로 전송하여 함수 실행-->
              <!-- 현재 로그인된 세션값을 기준으로 작성자와 로그인된 회원이 동일인일때만 표시-->
              <button class="volun-comment-button" type="button"
                      th:onclick="'modifyCommentBtnClick(' + ${iterStat.index} + ')'"
                      th:if="${(centerMemberNo != null and centerMemberNo == volunComment.volunCommentWriter)
                   or (memberNo != null and memberNo == volunComment.volunCommentWriter)}">수정</button>

              <!-- 댓글 삭제 버튼-->
              <!-- 댓글 삭제버튼 클릭시 index값을 포함하여 js로 전송하여 함수 실행-->
              <!-- 현재 로그인된 세션값을 기준으로 작성자와 로그인된 회원이 동일인일때만 표시-->
              <button class="volun-comment-button" type="button"
                      th:onclick="'CommentDeleteClick(' + ${volunComment.volunCommentNo} + ', ' + ${volunNo} + ')'"
                      th:if="${(centerMemberNo != null and centerMemberNo == volunComment.volunCommentWriter)
                   or (memberNo != null and memberNo == volunComment.volunCommentWriter)}">삭제</button>

              <!-- 댓글 신고 버튼-->
              <!-- 댓글 신고버튼 클릭시 index값을 포함하여 js로 전송하여 함수 실행-->
              <!-- 현재 로그인된 세션값을 본인이 작성하지 않은 댓글일시에만 표시-->
              <button class="volun-comment-button" type="button"
                      th:onclick="'CommentReportClick(' + ${volunComment.volunCommentNo} + ', ' + ${volunNo} + ')'"
                      th:if="${(centerMemberNo != null or memberNo != null)
                   and (centerMemberNo != volunComment.volunCommentWriter)
                   and (memberNo != volunComment.volunCommentWriter)}">신고</button>
            </div>
          </div>

          <!-- 댓글 내용 출력 -->
          <div class="volun-detail-comment" th:id="'volun-comment-' + ${iterStat.index}" th:text="${volunComment.volunComment}"></div>

          <!-- 댓글 수정 form -->
          <!-- 수정버튼 클릭시 댓글 내용 숨기고 화면에 표시 -->
          <!-- volunNo(게시글번호)와 index(댓글번호)를 js에 전송하여 댓글 수정 -->
          <form th:action="@{/volun/volun/volunCommentModi(volunNo=${volunNo})}" method="post"
                th:id="'volun-modifyInput-' + ${iterStat.index}" style="display:none;">
            <input type="hidden" name="volunCommentNo" th:value="${volunComment.volunCommentNo}">
            <input type="hidden" name="volunNo" th:value="${volunNo}">
            <input type="text" name="volunComment" class="volun-modify-comment" th:value="${volunComment.volunComment}">
            <button type="submit" class="volun-comment-button">등록</button>
          </form>

          <!-- 댓글 작성 날짜 -->
          <div class="volun-detail-date" th:text="${#dates.format(volunComment.volunCommentRegidate, 'yyyy-MM-dd')}"></div>
        </div>
      </div>


      <br>

      <!-- 댓글입력 -->
      <div th:if="${memberNo != null or centerMemberNo != null}">
        <form action="/volun/volun/volunCommentRegi" method="get" th:each="volun : ${volunDetailList}" onsubmit="return validateCommentForm()">
          <input class="volun-detail-commentregi" type="text" name="volunComment" placeholder="욕설 및 혐오감을 주는 댓글은 삼가주세요" maxlength="1000">
          <input th:value="${volun.volunNo}" style="display: none" name="volunNo">
          <button class="volun-commentregi-button" type="submit">등록</button>
        </form>
      </div>

      <br>

      <!-- 게시글신고완료시 -->
      <div th:if="${ContentreportSuccess}">
        <script>
          alert('신고가 완료되었습니다.');
        </script>
      </div>

      <!-- 댓글신고완료시 -->
      <div th:if="${CommentreportSuccess}">
        <script>
          alert('신고가 완료되었습니다.');
        </script>
      </div>

      <!-- 신청성공시 -->
      <div th:if="${requestSuccess}">
        <script>
          alert('신청이 완료되었습니다.');
        </script>
      </div>
  </main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer th:src="@{/js/volun/volun/volun-volundetail.js}"></script>



</html>