<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>봉사메인</title>
  <link rel="stylesheet" th:href="@{/css/volun/volun/volun-volun-main.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 봉사 메인 크기 -->
    <!-- 입양 메인 크기 -->
    <div class="volun-main-size">
      <!-- 입양/임보/후기 게시판 바 -->
      <div class="volun-nav">
        <div class="volun-navList" id="volunPage">봉사</div>
        <div class="volun-navList" id="carPage">카풀</div>
      </div>

      <!-- 봉사 소제목 -->
      <div class="volun-title1">
        봉사
      </div>
      <!-- 전체/진행중/마감 버튼-->
      <div class="volun-title2">
        <label>
          <input type="radio" name="volun-radio" value="all"
                 onclick="filterAdoption('all')"
                 th:checked="${All}">
          전체
        </label>
        <label>
          <input type="radio" name="volun-radio" value="progress"
                 onclick="filterAdoption('keep')"
                 th:checked="${Keep}">
          진행중
        </label>
      </div>

      <!-- 봉사 글 목록 -->
      <div class="volun-postlist">
          <div class="volun-post" th:each="volun : ${VolunMainList}">
            <div class="volun-post-img"><img src="../../img/volun-main.jpg" width="250px" height="200px"></div>
            <div class="volun-post-intro">
              <div th:text="${volun.centerMemberNo}" style="display: none"></div>
              <div th:text="${volun.volunNo}" style="display: none" class="volunNo"></div>
              <div class="volun-post-status" th:if="${volun.volunStatus} == 'T'">[진행중]</div>
              <div class="volun-post-status" th:if="${volun.volunStatus} == 'F'">[마감]</div>
              <div class="volun-post-title" th:text="${volun.volunTitle}"></div>
            </div>
            <div class="volun-post-content"><span>지역 : </span><span th:text="${volun.volunLocal}"></span></div>
            <div class="volun-post-content"><span>날짜 : </span><span th:text="${#dates.format(volun.volunStart, 'yyyy-MM-dd')}"></span></div>
            <div class="volun-post-content"><span>시간 : </span><span th:text="${volun.volunTime}"></span></div>
            <div class="volun-post-content"><span>모집인원 : </span><span th:text="${volun.volunPeople}"></span></div>
            <div class="volun-post-content">등록일 : <span th:text="${#dates.format(volun.volunRegidate, 'yyyy-MM-dd')}"></span>
              / 마감일 : <span th:text="${#dates.format(volun.volunPeriodend, 'yyyy-MM-dd')}"></span></div>
          </div>
      </div>

      <br>

      <!-- 봉사 등록 버튼 -->
      <div th:each="centerMemberStatus : ${centerMemberStatus}">
      <div class="volun-button-box" th:if="${centerMemberNo != null and centerMemberStatus.centerMemberStatus == 'Y'}">
        <a href="/volun/volunwrite">
          <button class="volun-button">등록</button>
        </a>
      </div>
      </div>

      <!-- 페이지네이션 -->
      <div class="pagination">
        <ul class="page-box">
          <a th:href="@{/volun/volun(page=${page.startPage - 1})}" class="page-a" th:if="${page.prev}">
            <li class="page-num prev">&lt</li>
          </a>

          <!--        th:block은 화면에 영향을 주지않는 가짜 태그
                      타임리프 문법을 사용하기 위해 만들어 쓴다.
          -->
          <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
            <a th:href="@{/volun/volun(page=${i})}" class="page-a">
              <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
            </a>
          </th:block>

          <a th:href="@{/volun/volun(page=${page.endPage + 1})}" class="page-a" th:if="${page.next}">
            <li class="page-num next">&gt</li>
          </a>
        </ul>
      </div>
  </main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer th:src="@{/js/volun/volun/volun-volun-main.js}"></script>



</html>