<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
  <link rel="stylesheet" th:href="@{/css/notice/notice-list.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  
  <main>
    <div class="notice-main">
      <div id="notice-top-title">공지사항</div>
      <div id="line"></div>

      <div class="notice">
        <!--게시글 칼럼 구분-->
        <div class="notice-container">
          <div class="notice-container-cate">분류</div>
          <div class="notice-container-title">제목</div>
          <div class="notice-container-audate">작성자</div>
          <div class="notice-container-audate">작성일</div>
        </div>
        <!--게시글-->
        <div th:each="notice : ${noticeList}" class="notice-ul-all">
          <div class="notice-ul-main">
            <div class="notice-cate" th:text="${notice.noticeCate}"></div>
            <div class="notice-title" th:text="${notice.noticeTitle}"></div>
            <div class="notice-author" th:text="${notice.adminId == 'ADMIN' ? '관리자' : notice.adminId}"></div>
            <div class="notice-date" th:text="${#dates.format(notice.noticeRegidate, 'yyyy-MM-dd')}"></div>
            <div class="noticeNo" th:text="${notice.noticeNo}" style="display: none;"></div>
          </div>
        </div>



        <!-- 검색 창-->
        <div class="bottom-search">
          <form method="get" name="search" action="/zboard/zboard.php">
            <select name="search-type" id="search-type">
            <option value="subject">제목</option>
            <option value="contents">내용</option>
            <option value="sub-contents">제목 + 내용</option>
          </select><span class="default">
            <input type="hidden" name="id" value="publictransport"><input type="hidden" name="page-num" value="25">
            <input type="text" name="keyword" id="keyword" value="">
            <input type="submit" value="검색">
            <!-- <input type="submit" onfocus="blur()" value="검색"> -->
          </form>
        </div>

        <!-- 페이지네이션 -->
        <div class="pagination">
          <ul class="page-box">
            <a th:href="@{/notice/list(page=${page.startPage - 1})}" class="page-a" th:if="${page.prev}">
              <li class="page-num prev">&lt</li>
            </a>

            <!--        th:block은 화면에 영향을 주지않는 가짜 태그
                        타임리프 문법을 사용하기 위해 만들어 쓴다.
            -->
            <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
              <a th:href="@{/notice/list(page=${i})}" class="page-a">
                <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
              </a>
            </th:block>

            <a th:href="@{/notice/list(page=${page.endPage + 1})}" class="page-a" th:if="${page.next}">
              <li class="page-num next">&gt</li>
            </a>
          </ul>
        </div>
    </div>
    </div>
  </main>
</body>

<footer th:replace="~{/fragment/footer :: footer}"></footer>

<script defer th:src="@{/js/notice/notice-list.js}"></script>

</html>