<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지 - 글 상세페이지</title>
  <link rel="stylesheet" th:href="@{/css/notice/notice-detail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>

<header th:replace="~{fragment/header :: header}"></header>
  
  <main>
    <div class="post-guest-main"  th:each="notice : ${noticeViewList}">
      <div class="post-guest">
        <div class="topTitle" th:text="${notice.noticeTitle}"></div>
        <div id="line"></div>
        <div class="notice-detail-box">
          <!--게시판 상단 (제목, 닉네임)-->
          <div class="notice-addetail-content">
            <div class="notice-addetail-tcontent">작성자</div>
            <div class="notice-addetail-ttxt" th:text="${notice.adminId}"></div>
          </div>
          <div class="notice-addetail-content">
            <div class="notice-addetail-tcontent">작성일</div>
            <div class="notice-addetail-ttxt" th:text="${#dates.format(notice.noticeRegidate, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
          <div class="notice-addetail-maincont" th:text="${notice.noticeContent}"></div>
        </div>


        <div class="volun-button">

          <div class="volun-admain-btuall-complaint">
            <button class="volun-admain-btu-complaint" type="button">
              <span class="volun-admain-btu-complaint-sp">목록</span>
            </button>
          </div>
      </div>

    </div>
  </main>

</body>

<footer>
  <div class="footer-links">
    <a href="../member/term.html">이용약관</a> |
    <a href="../member/term.html">개인정보처리방침</a>
  </div>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer th:src="@{/js/notice/notice-detail.js}"></script>

</html>