<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>임시보호 글상세</title>
  <link rel="stylesheet" th:href="@{/css/adopt/protect/adopt-protectdetail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
  <!-- 입양 메인 크기 -->
  <div class="adopt-main-size">
    <!-- 입양/임보/후기 게시판 바 -->
    <div class="adopt-nav">
      <div class="adopt-navList" id="adoptPage">안심입양</div>
      <div class="adopt-navList" id="protectPage">임시보호</div>
      <div class="adopt-navList" id="reviewPage">후기</div>
    </div>

    <!-- 제목/작성자/등록일 크기 -->
    <div class="adopt-detail-box1" th:each="protect : ${protectDetailList}">
      <div class="adopt-detail-title" th:text="${protect.protectTitle}"></div>
      <div class="adopt-detail-info">
        <span th:text="'작성자 : ' + ${protect.centerMemberName}"></span>
        <span th:text="'등록일 : ' + ${#dates.format(protect.protectRegidate, 'yyyy-MM-dd')}"></span>
      </div>
    </div>

    <!-- 글내용 크기 -->
    <div class="adopt-detail-box2" th:each="protect : ${protectDetailList}">
      <div class="adopt-detail-content">
        <div class="adopt-detail-basicinfo">
          <div class="adopt-detail-basicinfo-title">기본정보</div>
          <div th:text="'입양기한 : ' + ${#dates.format(protect.protectPeriodStart, 'yyyy-MM-dd')} + ' ~ ' + ${#dates.format(protect.protectPeriodEnd, 'yyyy-MM-dd')}"></div>
          <div th:text="'이름 : ' + ${protect.protectName}"></div>
          <div th:text="'견종 : ' + ${protect.protectBreed}"></div>
          <div th:if="${protect.protectNeutering == 'Y'}" th:text="'중성화여부 : ' + 'O'"></div>
          <div th:if="${protect.protectNeutering == 'N'}" th:text="'중성화여부 : ' + 'X'"></div>
          <div th:if="${protect.protectGender == 'M'}" th:text="'성별 : ' + '남자'"></div>
          <div th:if="${protect.protectGender == 'F'}" th:text="'성별 : ' + '여자'"></div>
          <div th:text="'몸무게 : ' + ${protect.protectWeight}"></div>
          <div th:text="'생년월일 : ' + ${#dates.format(protect.protectBirth, 'yyyy-MM-dd')}"></div>
          <div th:text="${protect.protectNo}" style="display: none" class="adoptNo"></div>
          <div th:text="${protect.centerMemberNo}" style="display: none" class="centerMemberNo"></div>
        </div>
        <br>

        <div th:utext="${protect.protectContent}"></div>

        <br>

        <!-- 신청버튼 -->
        <div class="adopt-submit-box">
          <button class="adopt-submit-button" type="button" onclick="requestClick()"
                  th:if="${memberNo != null and protect.protectStatus == 'T'}">
            신청</button>
        </div>
      </div>
    </div>

    <br>

    <!-- 버튼 -->
    <div class="adopt-detail-box3" th:each="protect : ${protectDetailList}">
      <div>
        <button class="adopt-modify-button" type="button" onclick="modifyClick()"
                th:if="${centerMemberNo == protect.centerMemberNo} and ${protect.protectStatus != 'F'}">수정</button>
        <button class="adopt-delete-button" type="button" onclick="deleteClick()"
                th:if="${centerMemberNo == protect.centerMemberNo}">삭제</button>
      </div>
      <button class="adopt-end-button" type="button" onclick="endClick()"
              th:if="${centerMemberNo == protect.centerMemberNo and protect.protectStatus == 'T'}">마감</button>
      <button class="adopt-end-button" type="button" onclick="ContentReportClick()"
              th:if="${centerMemberNo != protect.centerMemberNo and (centerMemberNo != null or memberNo != null)}">신고</button>
    </div>

    <br>

    <!-- 댓글 수정/삭제/신고 -->
    <div th:with="protectNo=${protectDetailList[0]?.protectNo}">
      <div class="adopt-detail-commentbox" th:each="protectComment, iterStat : ${protectCommentList}">
        <div class="adopt-detail-name">
          <div class="adopt-detail-name" th:text="${protectComment.commentWriterName}"></div>
          <div class="adoptCommentNo" th:text="${protectComment.protectCommentNo}" style="display: none"></div>
          <div class="adopt-comment-buttonBox" th:id="'adopt-comment-buttonBox-' + ${iterStat.index}">
            <button class="adopt-comment-button" type="button"
                    th:onclick="'modifyCommentBtnClick(' + ${iterStat.index} + ')'"
                    th:if="${(centerMemberNo != null and centerMemberNo == protectComment.protectCommentWriter)
                   or (memberNo != null and memberNo == protectComment.protectCommentWriter)}">수정</button>
            <button class="adopt-comment-button" type="button"
                    th:onclick="'CommentDeleteClick(' + ${protectComment.protectCommentNo} + ', ' + ${protectNo} + ')'"
                    th:if="${(centerMemberNo != null and centerMemberNo == protectComment.protectCommentWriter)
                   or (memberNo != null and memberNo == protectComment.protectCommentWriter)}">삭제</button>
            <button class="adopt-comment-button" type="button"
                    th:onclick="'CommentReportClick(' + ${protectComment.protectCommentNo} + ', ' + ${protectNo} + ')'"
                    th:if="${(centerMemberNo != null or memberNo != null)
                   and (centerMemberNo != protectComment.protectCommentWriter)
                   and (memberNo != protectComment.protectCommentWriter)}">신고</button>
          </div>
        </div>

        <div class="adopt-detail-comment" th:id="'adopt-comment-' + ${iterStat.index}" th:text="${protectComment.protectComment}"></div>

        <!-- 댓글 수정 form 추가 -->
        <form th:action="@{/adopt/protect/protectCommentModi(protectNo=${protectNo})}" method="post"
              th:id="'adopt-modifyInput-' + ${iterStat.index}" style="display:none;">
          <input type="hidden" name="protectCommentNo" th:value="${protectComment.protectCommentNo}">
          <input type="hidden" name="protectNo" th:value="${protectNo}">
          <input type="text" name="protectComment" class="adopt-modify-comment" th:value="${protectComment.protectComment}">
          <button type="submit" class="adopt-comment-button">등록</button>
        </form>

        <div class="adopt-detail-date" th:text="${#dates.format(protectComment.protectCommentRegidate, 'yyyy-MM-dd')}"></div>
      </div>
    </div>




    <br>

    <!-- 댓글입력 -->
    <div th:if="${memberNo != null or centerMemberNo != null}">
      <form action="/adopt/protect/protectCommentRegi" method="get" th:each="protect : ${protectDetailList}" onsubmit="return validateCommentForm()">
        <input class="adopt-detail-commentregi" type="text" name="protectComment" placeholder="욕설 및 혐오감을 주는 댓글은 삼가주세요" maxlength="1000">
        <input th:value="${protect.protectNo}" style="display: none" name="protectNo">
        <button class="adopt-commentregi-button" type="submit">등록</button>
      </form>
    </div>

    <br>

    <!-- 게시글신고완료시 -->
    <div th:if="${ContentreportSuccess}">
      <script>
        alert('신고가 완료되었습니다.');
      </script>
    </div>

    <div th:if="${CommentreportSuccess}">
      <script>
        alert('신고가 완료되었습니다.');
      </script>
    </div>
    <!-- 신청성공시 -->
    <div th:if="${requestSuccess}">
      <script>
        alert('신청이 완료되었습니다.');
      </script>
    </div>
</main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer src="../../js/main/header.js"></script>
<script defer th:src="@{/js/adopt/protect/adopt-protectdetail.js}"></script>



</html>