<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>입양메인</title>
  <link rel="stylesheet" th:href="@{/css/adopt/protect/adopt-protect.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>
  <!-- 입양 메인 크기 -->
  <div class="adopt-main-size">
    <!-- 입양/임보/후기 게시판 바 -->
    <div class="adopt-nav">
      <div class="adopt-navList" id="adoptPage">안심입양</div>
      <div class="adopt-navList" id="protectPage">임시보호</div>
      <div class="adopt-navList" id="reviewPage">후기</div>
    </div>
    <!-- 안심입양 소제목 -->
    <div class="adopt-title1">
      임시보호
    </div>
    <!-- 전체/진행중 버튼-->
    <div class="adopt-title2">
      <label>
        <input type="radio" name="adopt-radio" value="all"
               onclick="filterProtection('all')"
               th:checked="${All}">
        전체
      </label>
      <label>
        <input type="radio" name="adopt-radio" value="progress"
               onclick="filterProtection('keep')"
               th:checked="${Keep}">
        진행중
      </label>
    </div>

    <!-- 입양 글 목록 -->
    <div class="adopt-postlist">
      <div class="adopt-post" th:each="protect : ${ProtectMainList}">
        <div class="adopt-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
        <div class="adopt-post-intro">
          <div th:text="${protect.centerMemberNo}" style="display: none"></div>
          <div th:text="${protect.protectNo}" style="display: none" class="adoptNo"></div>
          <div class="adopt-post-status" th:if="${protect.protectStatus} == 'T'" th:text="[진행중]"></div>
          <div class="adopt-post-status" th:if="${protect.protectStatus} == 'F'" th:text="[마감]"></div>
          <div class="adopt-post-title" th:text="${protect.protectTitle}"></div>
        </div>
        <div class="adopt-post-content" th:text="${protect.protectIntroduce}"></div>
        <div class="adopt-post-content" th:text="${protect.protectName}"></div>
        <div class="adopt-post-content">
          <span th:if="${protect.protectGender == 'M'}" th:text="남자"></span>
          <span th:if="${protect.protectGender == 'F'}" th:text="남자"></span>
          /
          <span th:if="${protect.protectNeutering == 'Y'}" th:text="'중성화(O)'"></span>
          <span th:if="${protect.protectNeutering == 'N'}" th:text="'중성화(X)'"></span>
        </div>
        <div class="adopt-post-content2"><span th:text="${#dates.format(protect.protectBirth, 'yyyy-MM-dd')}"></span>/<span th:text="${protect.protectWeight}"></span></div>
        <div class="adopt-post-content2">등록일 : <span th:text="${#dates.format(protect.protectRegidate, 'yyyy-MM-dd')}"></span> / 마감일 : <span th:text="${#dates.format(protect.protectPeriodEnd, 'yyyy-MM-dd')}"></span></div>
      </div>
    </div>

    <br>

    <!-- 입양 등록 버튼 -->
    <div class="adopt-button-box" th:if="${centerMemberNo != null}">
      <a href="/adopt/protect/protectwrite">
        <button class="adopt-button">등록</button>
      </a>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination">
      <ul class="page-box">
        <a th:href="@{/adopt/protect(page=${page.startPage - 1})}" class="page-a" th:if="${page.prev}">
          <li class="page-num prev">&lt</li>
        </a>

        <!--        th:block은 화면에 영향을 주지않는 가짜 태그
                    타임리프 문법을 사용하기 위해 만들어 쓴다.
        -->
        <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
          <a th:href="@{/adopt/protect(page=${i})}" class="page-a">
            <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
          </a>
        </th:block>

        <a th:href="@{/adopt/protect(page=${page.endPage + 1})}" class="page-a" th:if="${page.next}">
          <li class="page-num next">&gt</li>
        </a>
      </ul>
    </div>

    <br>

</main>



</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer src="../../js/main/header.js"></script>
<script defer th:src="@{/js/adopt/protect/adopt-protect.js}"></script>


</html>