<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>입양메인</title>
  <link rel="stylesheet" th:href="@{/css/adopt/protect/adopt-protect.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script defer th:src="@{/js/main/main.js}"></script>
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>
  <main>
    <!-- 입양 메인 크기 -->
    <div class="protect-main-size">
      <!-- 입양/임보/후기 게시판 바 -->
      <div class="protect-nav">
          <div class="protect-navList" id="adoptPage">안심입양</div>
          <div class="protect-navList" id="protectPage">임시보호</div>
          <div class="protect-navList" id="reviewPage">후기</div>
      </div>
      <!-- 안심입양 소제목 -->
      <div class="protect-title1">
        임시보호
      </div>
      <!-- 전체/진행중/마감 버튼-->
      <div class="protect-title2">
        <label>
          <input type="radio" name="adopt-radio" value="" checked>
          전체
        </label>
        <label>
          <input type="radio" name="adopt-radio" value="">
          진행중
        </label>
        <label>
          <input type="radio" name="adopt-radio" value="">
          마감
        </label>
      </div>

      <!-- 임시호보 글 목록 -->
      <div class="protect-postlist">
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
        <a href="../../html/adopt/adopt-protectdetail.html">
          <div class="protect-post">
            <div class="protect-post-img"><img src="../../img/adopt-main.jpg" width="250px" height="200px"></div>
            <div class="protect-post-intro">
              <div class="protect-post-status">[마감]</div>
              <div class="protect-post-title">말티즈 여아 3세</div>
            </div>
            <div class="protect-post-content">데려가주세요 제발 글1</div>
            <div class="protect-post-content">몽이</div>
            <div class="protect-post-content"><span>암컷</span>/<span>(중성화O)</span></div>
            <div class="protect-post-content"><span>2017년생추정</span>/<span>3.5kg</span></div>
            <div class="protect-post-content">등록일 : <span>2024-10-14</span> / 마감일 : <span>2024-10-31</span></div>
          </div>
        </a>
      </div>

      <br>

      <!-- 입양 등록 버튼 -->
      <div class="protect-button-box">
        <a href="../../html/adopt/adopt-protectwrite.html">
          <button class="protect-button">등록</button>
        </a>  
      </div>

      <!-- 페이지네이션 -->
      <div class="protect-pagenation">
        <div>&lt;</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>&gt;</div>
      </div>
  </main>

</body>

<footer>
  <h6>(06236)서울특별시 강남구 테헤란로 146, 신한은행 건물 (3층) | 대표이사 강수정 김규열 김민채 신승민 이기철 정시우 | 회사업자등록번호104-81-4522690 |<br>
    통신판매업신고번호 2017-서울용산-066 | 사업자정보확인호스팅사업자 NT넥스트레벨 대표이메일 nextlevel_224@next.com<br>
    © NEXT LEVEL. All Rights Reserved</h6>
</footer>

<script defer src="../../js/main/header.js"></script>
<script defer th:src="@{/js/adopt/protect/adopt-protect.js}"></script>


</html>