<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 게시글 상세</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-post/admin-post-detail.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
  <div>
    <div class="info-title-box info-title-box-flex">
      <div class="logo-box-layout">
        <div class="logo-box">
          <img src="../../../img/logo.jpg">
        </div>
      </div>
      <div>
        <div class="select-name">
          <span>게시글 상세</span>
        </div>
      </div>
    </div>
    <div class="wrap">

      <!-- 사이드 바 -->
      <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

      <div class="container">
        <div class="container-margin">

          <!-- 내용 섹션 -->
          <section class="board-info-box-layout">
            <div class="board-info-box">
              <div class="board-info-title-box" style="justify-content: left;">
                <span>게시글 상세</span>
              </div>
              <!-- 글작성 박스 -->
              <div class="post-write-area">
                <div style="margin: 0 auto; border-bottom: 1px solid black;">
                  <div class="title">
                    <span style="padding-right: 10px;" th:switch="${post.postType}">
                    <span th:case="'COMMU'">[커뮤니티]</span>
                    <span th:case="'VOLUN'">[봉사]</span>
                    <span th:case="'DONA'">[기부]</span>
                    <span th:case="'ADOPT'">[입양]</span>
                    <span th:case="'CAR'">[카풀]</span>
                    <span th:case="'PROTECT'">[임시보호]</span>
                    <span th:case="'REVIEW'">[입양후기]</span></span>
                    <span th:text="${post.postTitle}"></span>
                    <span style="float:right">작성자 - <span th:text="${post.postWriter}"></span></span>
                  </div>
                  <br>
                  <div class="content"><span th:text="${post.postContent}"></span></div>

                  <!-- 수정/취소 버튼 -->
                  <div class="post-write-button-box">
                    <button class="post-delete-button">삭제</button>
                  </div>
                </div>

                <div class="review-detail-box4" >
                  <div class="review-detail-commentNum">댓글 <span th:text="${commentList.size()}"></span></div>
                  <div class="review-detail-commentbox" th:each="comment, iterStat : ${commentList}">
                    <div class="review-detail-name" th:text="${comment.commentWriter}"></div>
                    <div class="review-detail-comment"><span th:text="${comment.commentContent}"></span><button class="post-comment-delete-button" style="margin-left: 50px;">삭제</button></div>
                    <div class="review-detail-date"><span th:text="${comment.commentUpdateDate}"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</body>

</html>