<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.adopt.adopt.AdoptMapper">
    <!-- 입양/임보/후기 메인페이지 게시글 불러오기 -->
    <select id="main" resultType="MainDTO">
    <![CDATA[
        SELECT a.ADOPT_NO, a.ADOPT_TITLE, a.ADOPT_REGIDATE, a.CENTER_MEMBER_NO, a.ADOPT_STATUS, c.CENTER_MEMBER_NAME
        FROM(
                SELECT ADOPT_NO, ADOPT_TITLE, ADOPT_REGIDATE, CENTER_MEMBER_NO, ADOPT_STATUS,
                       ROW_NUMBER() OVER ( ORDER BY ADOPT_REGIDATE DESC) AS row_num
                FROM TBL_ADOPT) a
                JOIN TBL_CENTER_MEMBER c ON a.CENTER_MEMBER_NO = c.CENTER_MEMBER_NO
        WHERE a.row_num <= 10
        ]]>
    </select>

    <!-- 게시글 상세페이지 불러오기 -->
    <select id="adoptDetail" resultType="AdoptDetailDTO">
        SELECT a.ADOPT_TITLE, c.CENTER_MEMBER_NAME, a.ADOPT_REGIDATE, a.ADOPT_PERIODSTART , a.ADOPT_PERIODEND , a.ADOPT_NAME ,
               a.ADOPT_BREED , a.ADOPT_NEUTERING , a.ADOPT_GENDER , a.ADOPT_WEIGHT , a.ADOPT_BIRTH , a.ADOPT_INTRODUCE ,
               a.ADOPT_CONTENT, a.ADOPT_NO, a.CENTER_MEMBER_NO, a.ADOPT_STATUS
        FROM TBL_ADOPT a JOIN TBL_CENTER_MEMBER c ON a.CENTER_MEMBER_NO = c.CENTER_MEMBER_NO
        WHERE ADOPT_NO = #{adoptNo}
    </select>

    <!-- 여기서 부터 페이지네이션 관련 쿼리문-->
    <!-- 입양 전체게시글 수 -->
    <select id="selectTotal" resultType="int">
        SELECT COUNT(ADOPT_NO) FROM TBL_ADOPT
    </select>

    <!-- 입양 전체게시글-->
    <select id="adoptMain" resultType="AdoptMainDTO">
         SELECT ADOPT_NO, ADOPT_TITLE, ADOPT_INTRODUCE, ADOPT_NAME, ADOPT_GENDER,
         ADOPT_NEUTERING, ADOPT_BIRTH, ADOPT_WEIGHT, ADOPT_REGIDATE,
         ADOPT_PERIODEND, CENTER_MEMBER_NO, ADOPT_STATUS
         FROM TBL_ADOPT
         ORDER BY ADOPT_REGIDATE DESC
    </select>


    <!-- 입양 페이지마다 표시할 게시글-->
    <select id="selectAllPage" parameterType="Criteria" resultType="AdoptMainDTO">
    <![CDATA[
        SELECT ADOPT_NO, ADOPT_TITLE, ADOPT_INTRODUCE, ADOPT_NAME, ADOPT_GENDER,
               ADOPT_NEUTERING, ADOPT_BIRTH, ADOPT_WEIGHT, ADOPT_REGIDATE,
               ADOPT_PERIODEND, CENTER_MEMBER_NO, ADOPT_STATUS
        FROM (
                 SELECT ADOPT_NO, ADOPT_TITLE, ADOPT_INTRODUCE, ADOPT_NAME,
                        ADOPT_GENDER, ADOPT_NEUTERING, ADOPT_BIRTH, ADOPT_WEIGHT,
                        ADOPT_REGIDATE, ADOPT_PERIODEND, CENTER_MEMBER_NO, ADOPT_STATUS,
                        ROWNUM AS RNUM
                 FROM (
                          SELECT ADOPT_NO, ADOPT_TITLE, ADOPT_INTRODUCE, ADOPT_NAME,
                                 ADOPT_GENDER, ADOPT_NEUTERING, ADOPT_BIRTH, ADOPT_WEIGHT,
                                 ADOPT_REGIDATE, ADOPT_PERIODEND, CENTER_MEMBER_NO, ADOPT_STATUS
                          FROM TBL_ADOPT
                          ORDER BY ADOPT_REGIDATE DESC
                      )
             )
        WHERE RNUM > (#{page} - 1) * #{amount} AND RNUM <= #{page} * #{amount}
        ]]>
</select>
    <!-- 여기까지 페이지네이션+게시글목록불러오기 -->


    <!-- 게시글 작성 -->
    <insert id="adoptWrite" parameterType="AdoptWriteDTO">
        <selectKey keyProperty="adoptNo" resultType="Long" order="BEFORE">
            SELECT SEQ_ADOPT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ADOPT (
        ADOPT_NO, ADOPT_PERIODSTART, ADOPT_PERIODEND, ADOPT_NAME,
        ADOPT_BREED, ADOPT_NEUTERING, ADOPT_GENDER, ADOPT_WEIGHT,
        ADOPT_BIRTH, ADOPT_INTRODUCE, ADOPT_TITLE, ADOPT_CONTENT, CENTER_MEMBER_NO
        ) VALUES (
        #{adoptNo}, #{adoptPeriodstart}, #{adoptPeriodend}, #{adoptName},
        #{adoptBreed}, #{adoptNeutering}, #{adoptGender}, #{adoptWeight},
        #{adoptBirth}, #{adoptIntroduce}, #{adoptTitle}, #{adoptContent}, #{centerMemberNo}
        )
    </insert>

    <!-- 게시글 마감 처리 -->
    <update id="adoptEnd" parameterType="AdoptDetailDTO">
        UPDATE TBL_ADOPT
        SET ADOPT_STATUS = 'F'
        WHERE ADOPT_NO = #{adoptNo}
    </update>


    <!-- 게시글 삭제 처리 -->
    <delete id="adoptDelete" parameterType="AdoptDetailDTO">
        DELETE FROM TBL_ADOPT
        WHERE ADOPT_NO = #{adoptNo}
    </delete>

    <!-- 게시글 신고 처리 -->
    <insert id="adoptReport" parameterType="AdoptReportDTO">
        <selectKey keyProperty="reportNo" resultType="Long" order="BEFORE">
            SELECT SEQ_REPORT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPORT (
        REPORT_NO, REPORT_CATE, REPORT_CONTENT, REPORT_WRITER, REPORT_CONTENT_NO
        ) VALUES (
        #{reportNo}, '입양', #{reportContent}, #{reportWriter},#{reportContentNo}
        )
    </insert>

    <!-- 댓글불러오기 -->
    <select id="adoptComment" parameterType="Long" resultType="AdoptCommentDTO">
        SELECT
            ac.ADOPT_COMMENT_NO,
            ac.ADOPT_COMMENT,
            ac.ADOPT_COMMENT_REGIDATE,
            CASE
                WHEN MOD(ac.ADOPT_COMMENT_WRITER, 10) = 1 THEN m.MEMBER_NAME
                WHEN MOD(ac.ADOPT_COMMENT_WRITER, 10) = 2 THEN cm.CENTER_MEMBER_NAME
                END AS COMMENT_WRITER_NAME
        FROM
            TBL_ADOPT_COMMENT ac
                LEFT JOIN
            TBL_MEMBER m ON MOD(ac.ADOPT_COMMENT_WRITER, 10) = 1 AND ac.ADOPT_COMMENT_WRITER = m.MEMBER_NO
                LEFT JOIN
            TBL_CENTER_MEMBER cm ON MOD(ac.ADOPT_COMMENT_WRITER, 10) = 2 AND ac.ADOPT_COMMENT_WRITER = cm.CENTER_MEMBER_NO
        WHERE
            ac.ADOPT_NO = #{adoptNo}
    </select>


    <!-- 입양신청서 등록 -->
    <insert id="adoptRequest" parameterType="AdoptRequestDTO">
        <selectKey keyProperty="adoptRequestNo" resultType="Long" order="BEFORE">
            SELECT SEQ_ADOPT_REQUEST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ADOPT_REQUEST (
        ADOPT_REQUEST_NO,
        ADOPT_REQUEST_NAME,
        ADOPT_REQUEST_PHONE,
        ADOPT_REQUEST_PHONE_SUB,
        ADOPT_REQUEST_EMAIL,
        ADOPT_REQUEST_GENDER,
        ADOPT_REQUEST_AGE,
        ADOPT_REQUEST_ZIPCODE,
        ADOPT_REQUEST_ADDRESS,
        ADOPT_REQUEST_ADDRESS_DETAIL,
        ADOPT_REQUEST_JOB,
        ADOPT_REQUEST_MARRY,
        ADOPT_REQUEST_INFO_AGREEMENT,
        ADOPT_REQUEST_Q1,
        ADOPT_REQUEST_Q2,
        ADOPT_REQUEST_Q3,
        ADOPT_REQUEST_Q4,
        ADOPT_REQUEST_Q5,
        ADOPT_REQUEST_Q6,
        ADOPT_REQUEST_Q7,
        ADOPT_REQUEST_Q8,
        ADOPT_REQUEST_Q9,
        ADOPT_REQUEST_Q10,
        ADOPT_REQUEST_Q11,
        ADOPT_REQUEST_Q12,
        ADOPT_REQUEST_Q13,
        ADOPT_REQUEST_Q14,
        ADOPT_REQUEST_Q15,
        ADOPT_REQUEST_ADOPT_AGREEMENT,
        ADOPT_NO,
        MEMBER_NO,
        CENTER_MEMBER_NO
        ) VALUES (
        #{adoptRequestNo},
        #{adoptRequestName},
        #{adoptRequestPhone},
        #{adoptRequestPhoneSub},
        #{adoptRequestEmail},
        #{adoptRequestGender},
        #{adoptRequestAge},
        #{adoptRequestZipcode},
        #{adoptRequestAddress},
        #{adoptRequestAddressDetail},
        #{adoptRequestJob},
        #{adoptRequestMarry},
        #{adoptRequestInfoAgreement},
        #{adoptRequestQ1},
        #{adoptRequestQ2},
        #{adoptRequestQ3},
        #{adoptRequestQ4},
        #{adoptRequestQ5},
        #{adoptRequestQ6},
        #{adoptRequestQ7},
        #{adoptRequestQ8},
        #{adoptRequestQ9},
        #{adoptRequestQ10},
        #{adoptRequestQ11},
        #{adoptRequestQ12},
        #{adoptRequestQ13},
        #{adoptRequestQ14},
        #{adoptRequestQ15},
        #{adoptRequestAdoptAgreement},
        #{adoptNo},
        #{memberNo},
        #{centerMemberNo}
        )
    </insert>
</mapper>
