<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 회원 정보 목록</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin-member/admin-member-list.css}"/>

</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img th:src="@{/img/header_logo.png}" alt="Logo">
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>회원 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="delete-box-layout">
                        <form class="search-box" action="/admin/searchMemberList" method="get">
                            <input class="search-text" name="keyword" placeholder="검색어를 입력하세요." type="text">
                            <button class="search-btn" type="submit">검색</button>
                            <button class="search-btn" type="submit" th:href="@{/admin/memberList}">초기화</button>
                        </form>
                        <div class="delete-box">
                            <button class="deleteButton delete-button">선택 회원 탈퇴</button>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                                <div class="board-info-title-box">
                                <span>
                                    <a class="member-btn" th:href="@{/admin/memberList}" th:classappend="${currentPage == 'general'} ? 'active'">일반 회원</a>
                                    &emsp;&emsp;&emsp;
                                    <a class="member-btn" th:href="@{/admin/centerMemberList}" th:classappend="${currentPage == 'center'} ? 'active'">센터 회원</a></span>
                                </div>
                    
                            <div class="info-table">
                                <!-- Header -->
                                <div class="info-row header-row">
                                    <div class="info-cell checkbox-line">
                                        <input type="checkbox" id="allSelect">
                                    </div>
                                    <div class="info-cell-no info-cell">No</div>
                                    <div class="info-cell-name info-cell">이름</div>
                                    <div class="info-cell-nickname info-cell">닉네임</div>
                                    <div class="info-cell-email info-cell">이메일</div>
                                    <div class="info-cell-phone info-cell">연락처</div>
                                    <div class="info-cell info-cell-two-factor">2차 인증</div>
                                </div>

                                <!-- Data rows -->
                                <div th:each="member, iterStat : ${memberSearchedList}" class="info-row item" >
                                    <div class="info-cell checkbox-line">
                                        <input type="checkbox" class="checkbox" name="check" th:data-member-no="${member.memberNo}">
                                    </div>
                                    <a th:href="@{/admin/memberDetail(memberNo=${member.memberNo})}" style="display: flex; justify-content: center">
                                    <div class="info-cell info-cell-no" th:text="${member.memberNo}"></div>
                                    <div class="info-cell info-cell-name" th:text="${member.memberName}"></div>
                                    <div class="info-cell info-cell-nickname" th:text="${member.memberNickname}"></div>
                                    <div class="info-cell info-cell-email" th:text="${member.memberEmail}"></div>
                                    <div class="info-cell info-cell-phone" th:text="${member.memberPhoneNumber}"></div>
                                    <div class="info-cell info-cell-two-factor" th:text="${member.memberTwoFactorEnabled}"></div>
                                    </a>
                                </div>
                            </div>
                            <div id="pagination"></div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>
<script th:src="@{/js/admin/pagination.js}"></script>
<script th:src="@{/js/admin/deleteMember.js}"></script>
<!-- 페이지네이션 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</html>