<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.centermypage.notebox.NoteBoxMapper">

    <select id="SendList" parameterType="Long" resultType="NoteboxSendListDTO">
        SELECT
            tns.NOTEBOX_SEND_NO,
            tns.NOTEBOX_SEND_TITLE,
            tns.NOTEBOX_SEND_CONTENT,
            tns.NOTEBOX_SEND_REGIDATE,
            tns.NOTEBOX_SEND_R,
            CASE
                WHEN MOD(tns.NOTEBOX_SEND_R, 10) = 1 THEN (SELECT MEMBER_NAME FROM TBL_MEMBER WHERE MEMBER_NO = tns.NOTEBOX_SEND_R)
                WHEN MOD(tns.NOTEBOX_SEND_R, 20) = 2 THEN (SELECT CENTER_MEMBER_NAME FROM TBL_CENTER_MEMBER WHERE CENTER_MEMBER_NO = tns.NOTEBOX_SEND_R)
                WHEN tns.NOTEBOX_SEND_R = 3 THEN '관리자'
                END AS noteboxReceiveName
        FROM TBL_NOTEBOX_SEND tns
        WHERE tns.NOTEBOX_SEND_S = #{centerMemberNo}
    </select>

</mapper>