<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.centermypage.writeinfo.WriteInfoMapper">

<!--    회원 이름 조회-->
    <select id="writerInfo" parameterType="Long" resultType="String">
        SELECT CENTER_MEMBER_NAME
        FROM TBL_CENTER_MEMBER tcm
        WHERE CENTER_MEMBER_NO = #{centerMemberNo}
    </select>

<!--    커뮤니티 조회-->
    <select id="writeInfoCommuList" parameterType="Long" resultType="WriteInfoCommuListDTO">
        SELECT
            tc.COMMU_NO,
            tc.COMMU_CATE,
            tc.COMMU_TITLE,
            tc.COMMU_REGIDATE,
            COUNT(tcc.COMMU_NO) AS commentCount  -- 댓글 수 계산
        FROM
            TBL_COMMU tc
                LEFT JOIN
            TBL_COMMU_COMMENT tcc ON tc.COMMU_NO = tcc.COMMU_NO
        WHERE
            tc.COMMU_WRITER = #{centerMemberNo}
        GROUP BY
            tc.COMMU_NO,
            tc.COMMU_CATE,
            tc.COMMU_TITLE,
            tc.COMMU_REGIDATE
    </select>

<!--    기부 작성글 조회-->
    <select id="writeInfoDonaList" parameterType="Long" resultType="WriteInfoDonaListDTO">
        SELECT
            tv.DONA_NO,
            tv.DONA_TITLE,
            tv.DONA_REGIDATE,
            COUNT(tvc.DONA_COMMENT_NO) AS commentCount
        FROM
            TBL_DONA tv
                LEFT JOIN
            TBL_DONA_COMMENT tvc ON tv.DONA_NO = tvc.DONA_NO
        WHERE tv.CENTER_MEMBER_NO = #{centerMemberNo}
        GROUP BY
            tv.DONA_NO, tv.DONA_TITLE, tv.DONA_REGIDATE
    </select>


<!--    봉사 작성글 조회-->
    <select id="writeInfoVolList" parameterType="Long" resultType="WriteInfoVolListDTO">
        SELECT
            tv.VOLUN_NO,
            tv.VOLUN_TITLE,
            tv.VOLUN_REGIDATE,
            COUNT(tvc.VOLUN_COMMENT_NO) AS commentCount
        FROM
            TBL_VOLUN tv
                LEFT JOIN
            TBL_VOLUN_COMMENT tvc ON tv.VOLUN_NO = tvc.VOLUN_NO
        WHERE tv.CENTER_MEMBER_NO = #{centerMemberNo}
        GROUP BY
            tv.VOLUN_NO, tv.VOLUN_TITLE, tv.VOLUN_REGIDATE
    </select>

    <select id="writeInfoAdoptList" parameterType="Long" resultType="WriteInfoAdoptListDTO">
        SELECT
            ta.ADOPT_NO,
            ta.ADOPT_TITLE,
            ta.ADOPT_REGIDATE,
            COUNT(tac.ADOPT_COMMENT_NO) AS commentCount,
            CASE
                WHEN ta.ADOPT_STATUS = 'T' THEN '모집중'
                WHEN ta.ADOPT_STATUS = 'F' THEN '마감'
                END AS adoptStatus
        FROM
            TBL_ADOPT ta
                LEFT JOIN
            TBL_ADOPT_COMMENT tac ON ta.ADOPT_NO = tac.ADOPT_NO
        WHERE
            ta.CENTER_MEMBER_NO = #{cemterMemberNo}
        GROUP BY
            ta.ADOPT_NO,
            ta.ADOPT_TITLE,
            ta.ADOPT_REGIDATE,
            ta.ADOPT_STATUS
        ORDER BY
            MAX(ta.ADOPT_REGIDATE) DESC,  -- 최신순으로 정렬
            CASE
                WHEN ta.ADOPT_STATUS = 'T' THEN 0  -- 모집중은 우선
                WHEN ta.ADOPT_STATUS = 'F' THEN 1  -- 마감은 뒤로
                END
    </select>

</mapper>
