<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지- 봉사신청 상세</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-common.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-main/admin-sidemenu.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-member/admin-member-detail.css}"/>
  <link rel="stylesheet" th:href="@{/css/admin/admin-volun/admin-volun-detail.css}"/>
  <link rel="icon" href="/im/logo/favicon.png">
</head>

<body>
  <div>
    <div class="info-title-box info-title-box-flex">
      <div class="logo-box-layout">
        <div class="logo-box">
          <img src="../../../img/logo.jpg">
        </div>
      </div>
      <div>
        <div class="select-name">
          <span>봉사신청 관리</span>
        </div>
      </div>
    </div>
    <div class="wrap">

      <!-- 사이드 바 -->
            <th:block th:replace="~{admin/admin-main/admin-sidemenu :: sidemenu}"></th:block>

      <div class="container">
        <div class="container-margin">

          <!-- 내용 섹션 -->
          <section class="board-info-box-layout">
            <div class="board-info-box">
              <div class="board-info-title-box" style="justify-content: left;">
                <span>봉사신청 상세</span>
              </div>
              <!-- 글작성 박스 -->
              <div class="volun-write-area">
                <div style="margin: 0 auto; border-bottom: 1px solid black;">
                  <div class="title"><span th:text="'봉사 신청서 - ' + ${volunRequest.volunRequestNo}"></span>
                    <span style="float:right">작성자 - <span th:text="${volunRequest.volunRequestName}"></span></span>
                  </div>
                  <br>
                  <form id="volun-requestForm">
                    <div class="volun-form-group">
                      <label for="volunRequestName">이름 <span class="required">*</span></label>
                      <input type="text" id="volunRequestName" name="volunRequestName" readonly th:value="${volunRequest.volunRequestName}" required>
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestPhone">전화번호 <span class="required">*</span></label>
                      <input type="text" id="volunRequestPhone" name="volunRequestPhone" readonly th:value="${volunRequest.volunRequestPhone}" required>
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestPhoneSub">보조 전화번호</label>
                      <input type="text" id="volunRequestPhoneSub" name="volunRequestPhoneSub" readonly th:value="${volunRequest.volunRequestPhoneSub}">
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestEmail">이메일 <span class="required">*</span></label>
                      <input type="email" id="volunRequestEmail" name="volunRequestEmail" readonly th:value="${volunRequest.volunRequestEmail}" required>
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label>성별 <span class="required">*</span></label>
                      <div class="gender-buttons">
                        <div th:class="${volunRequest.volunRequestGender} == 'M' ? 'gender-btn-active' : 'gender-btn'">남</div>
                        <div th:class="${volunRequest.volunRequestGender} == 'F' ? 'gender-btn-active' : 'gender-btn'">여</div>
                      </div>
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestAge">나이</label>
                      <input type="text" id="volunRequestAge" name="volunRequestAge" readonly th:value="${volunRequest.volunRequestAge}">
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestZipcode">우편번호 <span class="required">*</span></label>
                      <input type="text" id="volunRequestZipcode" name="volunRequestZipcode" readonly th:value="${volunRequest.volunRequestZipcode}">
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestAddress">주소 <span class="required">*</span></label>
                      <input type="text" id="volunRequestAddress" name="volunRequestAddress" readonly th:value="${volunRequest.volunRequestAddress}">
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestAddressDetail">상세주소</label>
                      <input type="text" id="volunRequestAddressDetail" name="volunRequestAddressDetail" readonly th:value="${volunRequest.volunRequestAddressDetail}">
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label for="volunRequestJob">직업</label>
                      <input type="text" id="volunRequestJob" name="volunRequestJob" readonly th:value="${volunRequest.volunRequestJob}">
                    </div>
                    <br>
                    <div class="volun-form-group">
                      <label>약관 동의 <span class="required">*</span></label>
                      <input type="text" id="volunRequestAgreement" name="volunRequestAgreement" readonly th:value="${volunRequest.volunRequestAgreement}">
                    </div><br>
                    <div class="volun-form-group">
                      <label for="volunRequestQ1">Q1</label>
                      <input type="text" id="volunRequestQ1" name="volunRequestQ1" readonly th:value="${volunRequest.volunRequestQ1}">
                    </div><br>
                    <div class="volun-form-group">
                      <label for="volunRequestQ2">Q2</label>
                      <input type="text" id="volunRequestQ2" name="volunRequestQ2" readonly th:value="${volunRequest.volunRequestQ2}">
                    </div><br>
                    <div class="volun-form-group">
                      <label for="volunRequestQ3">Q3</label>
                      <input type="text" id="volunRequestQ3" name="volunRequestQ3" readonly th:value="${volunRequest.volunRequestQ3}">
                    </div><br>
                    <div class="volun-form-group">
                      <label for="volunRequestQ4">Q4</label>
                      <input type="text" id="volunRequestQ4" name="volunRequestQ4" readonly th:value="${volunRequest.volunRequestQ4}">
                    </div><br>
                  </form>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.3.min.js}"></script>
<script th:src="@{/js/admin/allCheck.js}"></script>
</html>