<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 - 쪽지</title>
  <link rel="stylesheet" th:href="@{/css/centermypage/center-mypage-notebox-writedetail.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
</head>

<body>
<header th:replace="~{fragment/header :: header}"></header>

<main>
  <div class="center-member-profile-navbox">
    <nav>
      <ul class="center-member-profile-nav-ul">
        <li id="profile"><a th:href="@{/templates/centermypage/center-mypage-profile-update.html}">개인정보 수정</a></li>
        <li id="mywrite"><a th:href="@{/templates/centermypage/center-mypage-writeinfo-my.html}">작성글 조회</a></li>
        <li id="volunteer"><a th:href="@{/templates/centermypage/center-mypage-volun-list.html}">봉사</a></li>
        <li id="adopt"><a th:href="@{/templates/centermypage/center-mypage-adopt-adopt-list.html}">입양</a></li>
        <li id="notebox"><a th:href="@{/templates/centermypage/notebox/center-mypage-notebox-send.html}">쪽지함</a></li>
        <li id="withdrawal"><a th:href="@{/templates/centermypage/center-mypage-withdrawal.html}">회원 탈퇴</a></li>
      </ul>
    </nav>
  </div>

  <div class="note-wrap">
    <div class="note-title">
      <h1>쪽지</h1>
    </div>
    <form method="get">
      <div class="note-write-wrap">
        <div class="note-write">
          <div class="note-title">제목</div>
          <div class="note-title">닉네임</div>
          <div class="note-cont">내용</div>
        </div>
      </div>
      <div class="volun-admain-btuall">
        <a th:href="@{/centerMypage/noteboxReceiveList}">
          <button class="volun-admain-btu" type="button">
            <span class="volun-admain-btu-sp">이전</span>
          </button>
        </a>
        <button class="volun-admain-btu" type="button">
          <a href="#"><span class="volun-admain-btu-sp">답장하기</span></a>
        </button>
      </div>
    </form>
  </div>
</main>

<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>
</html>
