<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.commu.CommuMapper">
<!--    게시글 조회-->
    <select id="commuCatalog" resultType="CommuDTO">
        SELECT c.COMMU_NO, c.COMMU_CATE, c.COMMU_TITLE, c.COMMU_CONTENT,
        c.COMMU_REGIDATE, c.COMMU_UPDATEDATE, c.COMMU_GOOD, c.COMMU_WRITER,
        m.MEMBER_NICKNAME AS memberNickname, cm.CENTER_MEMBER_NAME AS centerMemberName
        FROM TBL_COMMU c
        LEFT JOIN TBL_MEMBER m ON c.COMMU_WRITER = m.MEMBER_NO
        LEFT JOIN TBL_CENTER_MEMBER cm ON c.COMMU_WRITER = cm.CENTER_MEMBER_NO
        ORDER BY c.COMMU_REGIDATE DESC  <!-- 최신 글이 위에 오도록 정렬 -->
    </select>

    <!-- 조회수 증가 -->
    <update id="commuGood" parameterType="CommuDTO">
        UPDATE TBL_COMMU
        SET COMMU_GOOD = COMMU_GOOD + 1
        WHERE COMMU_NO = #{commuNo}
    </update>



    <!-- 카테고리별 커뮤니티 게시글 조회 -->
    <select id="findCate" parameterType="string" resultType="CommuDTO">
        SELECT
        C.COMMU_NO,
        C.COMMU_CATE,
        C.COMMU_TITLE,
        C.COMMU_CONTENT,
        C.COMMU_REGIDATE,
        C.COMMU_UPDATEDATE,
        C.COMMU_GOOD,
        C.COMMU_WRITER,
        M.MEMBER_NICKNAME AS MEMBER_NICKNAME,
        CM.CENTER_MEMBER_NAME AS CENTER_MEMBER_NAME
        FROM
        TBL_COMMU C
        LEFT JOIN
        TBL_MEMBER M
        ON C.COMMU_WRITER = M.MEMBER_NO
        LEFT JOIN
        TBL_CENTER_MEMBER CM
        ON C.COMMU_WRITER = CM.CENTER_MEMBER_NO
        <where>
           <if test="cate != '전체'">
                C.COMMU_CATE = #{cate}
            </if>
        </where>
        ORDER BY
        C.COMMU_REGIDATE DESC, C.COMMU_GOOD DESC
    </select>

    <!-- 카테고리별 인기 커뮤니티 게시글 조회 -->
    <select id="findCateByGood" resultType="CommuDTO">
        SELECT
        C.COMMU_NO,
        C.COMMU_CATE,
        C.COMMU_TITLE,
        C.COMMU_CONTENT,
        C.COMMU_REGIDATE,
        C.COMMU_UPDATEDATE,
        C.COMMU_GOOD,
        C.COMMU_WRITER,
        M.MEMBER_NICKNAME AS MEMBER_NICKNAME,
        CM.CENTER_MEMBER_NAME AS CENTER_MEMBER_NAME
        FROM
        TBL_COMMU C
        LEFT JOIN TBL_MEMBER M ON C.COMMU_WRITER = M.MEMBER_NO
        LEFT JOIN TBL_CENTER_MEMBER CM ON C.COMMU_WRITER = CM.CENTER_MEMBER_NO
        ORDER BY C.COMMU_GOOD DESC -- 조회수 기준으로 정렬
    </select>

    <!-- 커뮤니티 게시글 검색 -->
    <select id="searchCommu" parameterType="map" resultType="CommuDTO">
        SELECT
            C.COMMU_NO,
            C.COMMU_CATE,
            C.COMMU_TITLE,
            C.COMMU_CONTENT,
            C.COMMU_REGIDATE,
            C.COMMU_UPDATEDATE,
            C.COMMU_GOOD,
            C.COMMU_WRITER,
            M.MEMBER_NICKNAME AS MEMBER_NICKNAME,
            CM.CENTER_MEMBER_NAME AS CENTER_MEMBER_NAME
        FROM
            TBL_COMMU C
                LEFT JOIN TBL_MEMBER M ON C.COMMU_WRITER = M.MEMBER_NO
                LEFT JOIN TBL_CENTER_MEMBER CM ON C.COMMU_WRITER = CM.CENTER_MEMBER_NO
        WHERE
            (M.MEMBER_NICKNAME LIKE '%' || #{memberNickName} || '%' OR
             CM.CENTER_MEMBER_NAME LIKE '%' || #{centerMemberName} || '%')
          AND (C.COMMU_TITLE LIKE '%' || #{title} || '%' OR C.COMMU_CONTENT LIKE '%' || #{title} || '%')
        ORDER BY C.COMMU_REGIDATE DESC
    </select>



<!--게시글 상세-->
    <!-- 게시글 조회 -->
    <select id="selectCommuByNo" parameterType="long" resultType="CommuDetailDTO">
        SELECT C.COMMU_NO,
               C.COMMU_CATE,
               C.COMMU_TITLE,
               C.COMMU_CONTENT,
               C.COMMU_REGIDATE,
               C.COMMU_UPDATEDATE,
               C.COMMU_GOOD,
               C.COMMU_WRITER,
               M.MEMBER_NO,
               M.MEMBER_NICKNAME,
               CM.CENTER_MEMBER_NO,
               CM.CENTER_MEMBER_NAME
        FROM TBL_COMMU C
                 LEFT JOIN TBL_MEMBER M ON C.COMMU_WRITER = M.MEMBER_NO AND MOD(M.MEMBER_NO, 2) != 0
             LEFT JOIN TBL_CENTER_MEMBER CM ON C.COMMU_WRITER = CM.CENTER_MEMBER_NO AND MOD(CM.CENTER_MEMBER_NO, 2) = 0
        WHERE C.COMMU_NO = #{commuNo}
    </select>



<!--    게시글 작성-->
    <insert id="insertWrite" parameterType="CommuDTO">
        <selectKey keyProperty="commuNo" resultType="Long" order="BEFORE">
            SELECT SEQ_COMMU.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_COMMU (
        commu_no, commu_cate, commu_title, commu_content,
        commu_regidate, commu_updatedate, commu_good, commu_writer
        ) VALUES (
        #{commuNo}, #{commuCate}, #{commuTitle}, #{commuContent},
        SYSDATE, SYSDATE, #{commuGood}, #{commuWriter}
        )
    </insert>

<!--    게시글 삭제-->
    <delete id="commuDelete" parameterType="CommuDetailDTO">
        DELETE FROM TBL_COMMU
        WHERE COMMU_NO =#{commuNo}
    </delete>

<!--    게시글 신고-->
    <insert id="commuReport" parameterType="CommuReportDTO">
        <selectKey keyProperty="reportNo" resultType="Long" order="BEFORE">
            SELECT SEQ_REPORT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPORT(
        REPORT_NO, REPORT_CATE, REPORT_CONTENT, REPORT_WRITER, REPORT_CONTENT_NO
        ) VALUES (
        #{reportNo},'커뮤',#{reportContent}, #{reportWriter},#{reportContentNo}
        )
    </insert>

    <!-- 댓글불러오기 -->
    <select id="commuComment" parameterType="Long" resultType="CommuCommentDTO">
        SELECT
            cc.COMMU_COMMENT_NO,
            cc.COMMU_COMMENT,
            cc.COMMU_COMMET_REGIDATE,
            cc.COMMU_COMMENT_WRITER,
            CASE
                WHEN MOD(cc.COMMU_COMMENT_WRITER, 2) != 0 THEN m.MEMBER_NAME
                WHEN MOD(cc.COMMU_COMMENT_WRITER, 2) = 0 THEN cm.CENTER_MEMBER_NAME
                END AS COMMENT_WRITER_NAME
        FROM
            TBL_COMMU_COMMENT cc
                LEFT JOIN TBL_MEMBER m ON MOD(cc.COMMU_COMMENT_WRITER,  2) != 0
                AND cc.COMMU_COMMENT_WRITER = m.MEMBER_NO
                LEFT JOIN TBL_CENTER_MEMBER cm ON MOD(cc.COMMU_COMMENT_WRITER, 2) = 0
                AND cc.COMMU_COMMENT_WRITER = cm.CENTER_MEMBER_NO
        WHERE
            cc.COMMU_NO = #{commuNo}
    </select>

<!--    댓글등록-->
    <insert id="commuCommentRegi" parameterType="CommuCommentDTO">
        <selectKey keyProperty="commuCommentNo" resultType="Long" order="BEFORE">
            SELECT SEQ_COMMU_COMMENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_COMMU_COMMENT(
        COMMU_COMMENT_NO,COMMU_COMMENT,COMMU_COMMET_REGIDATE,
        COMMU_UPDATEDATE,COMMU_COMMENT_WRITER,COMMU_NO
        )VALUES(
        #{commuCommentNo},#{commuComment},SYSDATE,SYSDATE,#{commuCommentWriter},#{commuNo}
        )
    </insert>

<!--    댓글 수정-->
    <update id="commuCommentModi" parameterType="CommuCommentDTO">
        UPDATE TBL_COMMU_COMMENT
        SET COMMU_COMMENT = #{commuComment}
        WHERE COMMU_COMMENT_WRITER = #{commuCommentWriter} and COMMU_COMMENT_NO = #{commuCommentNo} AND COMMU_NO=#{commuNo}
    </update>

<!--    댓글 삭제-->
    <delete id="commuCommentDelete" parameterType="CommuCommentDTO">
        DELETE FROM TBL_COMMU_COMMENT
        WHERE COMMU_COMMENT_WRITER = #{commuCommentWriter} and COMMU_COMMENT_NO = #{commuCommentNo} AND COMMU_NO=#{commuNo}
    </delete>

    <!-- 댓글 신고 처리 -->
    <insert id="commuCommentReport" parameterType="CommuReportDTO">
        <selectKey keyProperty="reportNo" resultType="Long" order="BEFORE">
            SELECT SEQ_COMMENT_REPORT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_COMMENT_REPORT (
        COMMENT_REPORT_NO, COMMENT_REPORT_CATE, COMMENT_REPORT, COMMENT_REPORT_WRITER, COMMENT_NO, CONTENT_NO
        ) VALUES (
        #{reportNo}, '커뮤', #{reportComment}, #{reportWriter},#{reportCommentNo}, #{reportContentNo}
        )
    </insert>


    <!-- 일반회원 조회 -->
    <select id="commuMemberByNo" parameterType="long" resultType="MemberDTO">
        SELECT MEMBER_NO, MEMBER_NICKNAME
        FROM TBL_MEMBER
        WHERE MEMBER_NO = #{memberNo}
    </select>




    <!-- 센터회원 조회 -->
    <select id="commuCenterMemberByNo" parameterType="long" resultType="CenterMemberDTO">
        SELECT CENTER_MEMBER_NO,CENTER_MEMBER_NAME
        FROM TBL_CENTER_MEMBER
        WHERE CENTER_MEMBER_NO = #{centermemberNo}
    </select>



</mapper>


